<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|野菜検索</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/vegetabletahara.css}" />
</head>
<body>
	<div class="page-header">
		<h4>
			<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
		</h4>
	</div>
	<div class="sub-header">
		<a th:href="@{/menu}" th:text="#{common.text.back}">Back</a><br/>
		<h1 align="center" th:text="#{vegetable.text.search}">VegetableSearch</h1>
	</div>

	<!-- 新規・削除ボタン -->
	<div style="position: relative; left: 30px">
		<form class="form-horizontal" id="deleteCompForm"
			method="get" action="/vegetabletahara/deletecomp"
			th:object="${vegetableTaharaSearchForm}">
			<div class="form-group">
				<div class="col-sm-8">
					<input type="hidden" name="isDelete" th:value="1"  />
				</div>
			</div>
		</form>
		<div class="form-group">
			<div class="" >
				<a class="btn btn-warning"
					th:href="@{/vegetabletahara/insert}"
					th:text="#{common.text.new}" >New
				</a>
				<a class="btn btn-danger"
					onclick="$('#deleteCompForm').submit()"
					th:text="#{common.text.unnecessary}">UnnecessaryData
				</a>
			</div>
		</div>
	</div>
	<div class="container">

		<!-- メッセージ -->
		<div class="row">
			<div class="col-sm-offset-3 col-sm-7">

				<!-- 検索結果なし -->
				<div class="alert alert-info text-center" role="alert"
					th:if="${(vegetableTaharaSearchForm.vegetableName != null or
							vegetableTaharaSearchForm.categoryId != null or
							vegetableTaharaSearchForm.areaId != null) and
							vegetableList == null}"
                     th:text="#{common.text.info.search}">No Result
				</div>

				<!-- DB操作後 -->        <!-- この「param.result」は、Controllerクラスで設定したもので、対応するメソッドreturn部分のURLの？以降を指す
				　　　　　　　　　　　　　　　また、今回は1つしか値を設定していないので、[]の中身を0としている -->
				<div class="alert alert-info text-center" role="alert"
					th:if="${param.result != null}">
					<div th:switch="${param.result[0]}"><!-- switch文をやっている -->
						<p th:case="insert" th:text="#{common.text.info.insert} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="update" th:text="#{common.text.info.update} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="updatefailed" th:text="#{common.text.info.update.failed}"></p>
						<p th:case="delete" th:text="#{common.text.info.delete} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="deletecomp" th:text="#{common.text.info.deletecomp}"></p>
						<!-- このswitch文は、「reslutの中身が空(/vegetabletaharaのみ)でなければ、以下の処理(caseと等しい場合に行う)を行う」 -->
					</div>
				</div>
			</div>
		</div>

		<!-- 検索条件 -->
		<form class="form-horizontal" id="searchForm"
			method="post" action="/vegetabletahara/search"
			th:object="${vegetableTaharaSearchForm}" >
			<div class="form-group">
				<label for="vegetableName" class="col-sm-2 control-label" th:text="#{vegetable.text.input.name}">Name:</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{vegetableName}" class="form-control"
						id="inputVegetableName" th:placeholder="#{vegetable.text.search.info}" />
				</div>
			</div>
			<div class="form-group">
				<label for="category" class="control-label col-sm-2" th:text="#{vegetable.text.input.category}">Category:</label>
				<div class="col-sm-8">
					<select id="inputCategory" name="categoryId" class="form-control select">
						<option th:each="category : ${categoryTaharaList}"
							th:value="${category.id}"
							th:text="${category.category}"
							th:selected="${category.id == vegetableTaharaSearchForm.categoryId}">pulldown
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="area" class="control-label col-sm-2" th:text="#{vegetable.text.input.area}">Area:</label>
				<div class="col-sm-8">
					<select id="inputArea" name="areaId" class="form-control select">
						<option th:each="area : ${areaTaharaList}"
							th:value="${area.id}"
							th:text="${area.name}"
							th:selected="${area.id == vegetableTaharaSearchForm.areaId}">pulldown
						</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-xs-3 col-sm-2">
					<a class="btn btn-primary center-block"
						onclick="$('#searchForm').submit()"
						th:text="#{common.text.search}">Search
					</a>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-warning center-block"
						th:href="@{/vegetabletahara}"
						th:text="#{common.text.reset}">Reset
					</a>
				</div>
			</div>
		</form>

		<!-- 検索結果の表示 -->
		<section id="resultArea" th:if="${vegetableList != null}">
			<table id="resultTable" class="table table-borderd table-striped table-hover">
				<thead>
					<tr>
						<th class="per-12 center" th:text="#{vegetable.text.name}">Name</th>
						<th class="per-12 center" th:text="#{vegetable.text.category}">Category</th>
						<th class="per-16 center" th:text="#{vegetable.text.originPlace}">Origin_Place</th>
						<th class="per-16 center" th:text="#{vegetable.text.productionVolume}">Production_Volume</th>
						<th class="per-16 center" th:text="#{vegetable.text.area}">Area</th>					
						<th class="per-45 center" th:text="#{vegetable.text.recommend}">Recommend</th>
						<th class="per-7 center" th:text="#{vegetable.text.update}">Update</th>
						<th class="per-7 center" th:text="#{vegetable.text.delete}">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="vegetable : ${vegetableList}"><!-- ←ここで拡張for文をやっている -->
						<td class="data center" th:text="${vegetable.vegetableName}"></td>
						<td class="data center">
							<label th:if="${vegetable.category != null}"  th:text="${vegetable.category.category}" class="data center"></label>
						</td>
						<td class="data center">
							<label th:if="${vegetable.originPlace != null}"  th:text="${vegetable.originPlace}"
									class="data center"></label>
						</td>
						<td class="data center" th:text="${vegetable.productionVolume}"></td>
						<td class="data center">
							<label th:if="${vegetable.area != null}"  th:text="${vegetable.area.name}"
									class="data center"></label>
						</td>
						<td class="data center" th:text="${vegetable.recommend}"></td>
						
						<!-- 更新画面へ遷移 -->
						<td class="data">
							<a class="btn btn-success"
								th:href="@{/vegetabletahara/update(id=${vegetable.id})}"
								th:text="#{common.text.update}">Update</a>
						</td>
						
						<!-- 削除モーダルの表示 -->
						<td class="data center">
							<a class="btn btn-danger" style="margin-left: 5%"
								data-toggle="modal" data-target="#deleteModal"
								th:text="#{common.text.delete}"
								th:attr="data-id=${vegetable.id}, data-name=${vegetable.vegetableName}">Delete</a>
								<!--↑は、Javaで言う「attribute」。「idという名前で、${}内のデータを加える」の意-->
						</td>
					</tr>
				</tbody>
			</table>
		</section>
        <!-- ページング用 --><!--一番下のページ番号のこと。クリックすると、検索結果一覧の次のページが表示される-->
		<div th:fragment='paginationbar'>
			<div th:if="${page != null}">
				<ul>              <!-- 「条件 ? 値１ : 値２」の形。「？」も「:」もJavaScriptにおける条件演算子 -->
					<li th:class="${page.first} ? 'disabled':''" style="display:inline">
						<span th:if="${page.first}" th:text="#{common.text.paging.lead}">←lead</span>
						<a th:if="${not page.first}" onclick="$('#pageForm0').submit()"
							th:text="#{common.text.paging.lead}">←lead</a>
					</li>
					<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : ''" style="display:inline">
						<form th:id="'pageForm'+${i}" method="post" th:action="@{${url}(page=${i})}"
							th:object="${vegetableTaharaSearchForm}" style="display:inline" >
							<input type="hidden" th:field="*{vegetableName}"/>
							<input type="hidden" th:field="*{categoryId}"/>
							<input type="hidden" th:field="*{areaId}"/>
						</form>
						<span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
						<a th:if='${i}!=${page.number}' th:onclick="'$(\'#pageForm'+${i}+'\').submit()'">
							<span th:text='${i+1}'>1</span>
						</a>
					</li>
					<li th:class="${page.last} ? 'disabled':''" style="display:inline">
						<span th:if="${page.last}" th:text="#{common.text.paging.end}">end➝</span>
						<a th:if="${not page.last}" th:onclick="'$(\'#pageForm'+(${page.totalPages}-1)+'\').submit()'"
							th:text="#{common.text.paging.end}">end➝</a>
					</li>
				</ul>
			</div>
	    </div>
	    <!--ページングとは、「Webサイト上のコンテンツが縦長になるなど、中身が把握しづらいときに複数ページに分割して移動できるようにした機能」のこと
	    　　　→今回のように、検索結果一覧やカテゴリ一覧など、数が多いリストを表示する際によく使わる。
	    　　ページングの形は、ページ番号を横に並べたものが一般的で、ページ番号とともに「次のページ」「前のページ」といった別のリンクを用意する場合が多い
	    　　　→リスト形式のコンテンツ以外に、ニュース記事などの長い文章のコンテンツを分割するときにも活用される-->
	</div>

	<!-- 削除モーダル -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
		<div class="modal-dialog" role="document">
			<form class="form-horizontal" id="deleteForm" th:method="get" th:action="@{delete}">
				<div class="modal-content">
					<input type="hidden" id="deleteId" name="id"/>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="deleteModalLabel"
							th:text="#{vegetable.text.delete}">VegetableDelete</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<p class="lead">
									<span id="deleteVegetableName">Vegetable Name</span>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="alert alert-danger" role="alert">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									<span th:text="#{common.text.warn.delete(#{menu.text.vegetable})}"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default"
							th:text="#{common.text.cansel}"
							data-dismiss="modal">Cancel
						</a>
						<a class="btn btn-danger" onclick="$('#deleteForm').submit()"
							th:text="#{common.text.delete}">Delete
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="bogoCount" class="panel-clear"></div>

	<script type="text/javascript"  src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>

	<!-- 削除モーダル用スクリプト -->
	<script>
		$('#deleteModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var vegetableId = button.data('id');
			var vegetableName = button.data('name');
			var modal = $(this);
			modal.find('#deleteId').attr("value", vegetableId);
			modal.find('#deleteVegetableName').text(vegetableName);
		});
	</script>
	<!--「var vegetableId = button.data('id');」は
	　　「削除buttonが持つ、idという名前のデータをvegetableIdに代入する」の意
	　　　→「削除モーダルの表示」部分で設定している　-->
	<!--「modal.find('#deleteId').attr("value", vegetableId);」は
	　　「'deleteId'というIDを持つタグに、vegetableIdのvalue（中身。今回は野菜のid）を加える」の意-->
</body>
</html>