<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|飲み物更新</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/movieSample.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
					th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div
			class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{drink.text.update}">飲み物更新</h1>
				<a th:href="@{/drinkohkubo}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="drinkOhkuboInputForm"
				th:action="@{/drinkohkubo/update}"
				th:object="${drinkOhkuboInputForm}" class="form-horizontal">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{drink.text.input.name.riquire}"> 製品名(*):</label> <input
						type="text" th:field="*{drinkName}" class="form-control"
						th:placeholder="#{drink.text.name}" />
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('drinkName')}"
						th:text="#{${err}(#{drink.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="maker" class="control-label"
						th:text="#{drink.text.input.maker}">メーカー:</label> <select
						name="makerId" id="inputMaker" class="form-control select">
						<option th:each="maker : ${makerOhkuboList}" th:value="${maker.id}"
							th:text="${maker.maker}"
							th:selected="${maker.id == drinkOhkuboInputForm.makerId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="type" class="control-label"
						th:text="#{drink.text.input.type}">種類:</label> <select
						name="typeId" id="inputType" class="form-control">
						<option th:each="type : ${typeOhkuboList}" th:value="${type.id}"
							th:text="${type.type}"
							th:selected="${type.id == drinkOhkuboInputForm.typeId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="ml" class="control-label"
						th:text="#{drink.text.input.ml}"> 内容量:</label>
						<textarea name="ml" cols="" rows="1"
						class="form-control" id="inputMl"
						th:placeholder="#{drink.text.ml}"></textarea>
				</div>
				<div class="form-group">
					<label for="container" class="control-label"
						th:text="#{drink.text.input.container}"> 容器:</label> <select
						name="containerId" id="inputContainer" class="form-control">
						<option th:each="container : ${containerOhkuboList}"
							th:value="${container.id}" th:text="${container.container}"
							th:selected="${container.id == drinkOhkuboInputForm.containerId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{drink.text.input.comment}"> コメント:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{drink.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#drinkOhkuboInputForm').submit()"
						th:text="#{common.text.insert}">update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>