<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Webアプリ研修|お酒検索</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/alcoholIshida.css}" />
</head>
<body>
	<div class="page-header">
		<h4>
			<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
				th:text="#{login.text.version}">ver γ</small>
		</h4>
	</div>
	<div class="sub-header">
		<a th:href="@{/menu}" th:text="#{common.text.back}">Back</a><br />
		<h1 align="center" th:text="#{alcohol.text.search}">AlcoholSearch</h1>
	</div>

	<!-- 新規・削除ボタン -->
	<div style="position: relative; left: 30px">
		<form class="form-horizontal" id="deleteCompForm" method="get"
			action="/alcoholIshida/deletecomp"
			th:object="${alcoholishidaSearchForm}">
			<div class="form-group">
				<div class="col-sm-8">
					<input type="hidden" name="isDelete" th:value="1" />
				</div>
			</div>
		</form>
		<div class="form-group">
			<div class="">
				<a class="btn btn-warning" th:href="@{/alcoholIshida/insert}"
					th:text="#{common.text.new}">New </a> <a class="btn btn-danger"
					onclick="$('#deleteCompForm').submit()"
					th:text="#{common.text.unnecessary}">UnnecessaryData </a>
			</div>
		</div>
	</div>
	<div class="container">

		<!-- aメッセージ -->
		<div class="row">
			<div class="col-sm-offset-3 col-sm-7">

				<!-- 検索結果なし -->
				<div class="alert alert-info text-center" role="alert"
					th:if="${(alcoholIshidaSearchForm.alcoholName != null or
							alcoholIshidaSearchForm.liqueurId != null or
							alcoholIshidaSearchForm.ingredientId1 != null or
							alcoholIshidaSearchForm.ingredientId2 != null or
							alcoholIshidaSearchForm.ingredientId3 != null) and
							alcoholIshidaList == null}"
					th:text="#{common.text.info.search}">No Result</div>

				<!-- DB操作後 -->
				<div class="alert alert-info text-center" role="alert"
					th:if="${param.result != null}">
					<div th:switch="${param.result[0]}">
						<p th:case="insert"
							th:text="#{common.text.info.insert} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="update"
							th:text="#{common.text.info.update} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="updatefailed"
							th:text="#{common.text.info.update.failed}"></p>
						<p th:case="delete"
							th:text="#{common.text.info.delete} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="deletecomp" th:text="#{common.text.info.deletecomp}"></p>
						<p th:case="updatedelete"
							th:text="#{common.text.info.update.failed}"></p>

					</div>
				</div>
			</div>
		</div>

		<!-- 検索条件 -->
		<form class="form-horizontal" id="searchForm" method="post"
			action="/alcoholIshida/search" th:object="${alcoholIshidaSearchForm}">
			<div class="form-group">
				<label for="alcoholName" class="col-sm-2 control-label"
					th:text="#{alcohol.text.input.name}">登録名： </label>
				<div class="col-sm-8">
					<input type="text" th:field="*{alcoholName}" class="form-control"
						id="inputAlcoholName" th:placeholder="#{alcohol.text.search.info}" />
				</div>
			</div>
			<div class="form-group">
				<label for="liqueur" class="control-label col-sm-2"
					th:text="#{alcohol.text.input.liqueur}">Liqueur:</label>
				<div class="col-sm-8">
					<select id="inputLiqueur" name="liqueurId"
						class="form-control select">
						<option th:each="liqueur : ${liqueurIshidaList}"
							th:value="${liqueur.liqueurId}" th:text="${liqueur.liqueur}"
							th:selected="${liqueur.liqueurId == alcoholIshidaSearchForm.liqueurId}">pulldown</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="ingredient" class="control-label col-sm-2"
					th:text="#{alcohol.text.input.ingredient1}">Ingredient1: </label>
				<div class="col-sm-8">
					<select id="inputIngredient" name="ingredientId1"
						class="form-control select">
						<option th:each="ingredient : ${ingredientIshidaList}"
							th:value="${ingredient.ingredientId}"
							th:text="${ingredient.ingredient}"
							th:selected="${ingredient.ingredientId == alcoholIshidaSearchForm.ingredientId1}">pulldown</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="ingredient" class="control-label col-sm-2"
					th:text="#{alcohol.text.input.ingredient2}">Ingredient2: </label>
				<div class="col-sm-8">
					<select id="inputIngredient" name="ingredientId2"
						class="form-control select">
						<option th:each="ingredient : ${ingredientIshidaList}"
							th:value="${ingredient.ingredientId}"
							th:text="${ingredient.ingredient}"
							th:selected="${ingredient.ingredientId == alcoholIshidaSearchForm.ingredientId2}">pulldown</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="ingredient" class="control-label col-sm-2"
					th:text="#{alcohol.text.input.ingredient3}">Ingredient3: </label>
				<div class="col-sm-8">
					<select id="inputIngredient" name="ingredientId3"
						class="form-control select">
						<option th:each="ingredient : ${ingredientIshidaList}"
							th:value="${ingredient.ingredientId}"
							th:text="${ingredient.ingredient}"
							th:selected="${ingredient.ingredientId == alcoholIshidaSearchForm.ingredientId3}">pulldown</option>
					</select>
				</div>
			</div>
		</form>
		<div class="form-group">
			<div class="col-sm-offset-4 col-xs-3 col-sm-2">
				<a class="btn btn-primary center-block"
					onclick="$('#searchForm').submit()" th:text="#{common.text.search}">Search</a>
			</div>
			<div class="col-xs-3 col-sm-2">
				<a class="btn btn-warning center-block" th:href="@{/alcoholIshida}"
					th:text="#{common.text.reset}">Reset </a>
			</div>
		</div>

		<!-- 検索結果の表示 -->
		<section id="resultArea" th:if="${alcoholIshidaList != null}">
			<table id="resultTable"
				class="table table-borderd table-striped table-hover">
				<thead>
					<tr>
						<th class="per-12 center" th:text="#{alcohol.text.name}">alcohol</th>
						<th class="per-12 center" th:text="#{alcohol.text.liqueur}">liqueur</th>
						<th class="per-12 center" th:text="#{alcohol.text.ingredient1}">ingredient1</th>
						<th class="per-12 center" th:text="#{alcohol.text.ingredient2}">ingredient2</th>
						<th class="per-12 center" th:text="#{alcohol.text.ingredient3}">ingredient3</th>
						<th class="per-45 center" th:text="#{team.text.comment}">Comment</th>
						<th class="per-7 center" th:text="#{common.text.update}">Update</th>
						<th class="per-7 center" th:text="#{common.text.delete}">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="alcohol : ${alcoholIshidaList}">
						<td class="data center" th:text="${alcohol.alcoholName}"></td>
						<td class="data center"><label
							th:if="${alcohol.liqueur != null}"
							th:text="${alcohol.liqueur.liqueur}" class="data center">
						</label></td>
						<td class="data center"><label
							th:if="${alcohol.ingredient1 != null}"
							th:text="${alcohol.ingredient1.ingredient}" class="data center">
						</label></td>
						<td class="data center"><label
							th:if="${alcohol.ingredient2 != null}"
							th:text="${alcohol.ingredient2.ingredient}" class="data center">
						</label></td>
						<td class="data center"><label
							th:if="${alcohol.ingredient3 != null}"
							th:text="${alcohol.ingredient3.ingredient}" class="data center">
						</label></td>

						<td class="data center" th:text="${alcohol.comment}">ジュース感覚で飲める</td>

						<td class="data"><a class="btn btn-success"
							th:href="@{/alcoholIshida/update(id=${alcohol.id})}"
							th:text="#{common.text.update}">Update</a></td>

						<td class="data center"><a class="btn btn-danger"
							style="margin-left: 5%" data-toggle="modal"
							data-target="#deleteModal" th:text="#{common.text.delete}"
							th:attr="data-id=${alcohol.id}, data-title=${alcohol.alcoholName}">Delete</a>
						</td>

					</tr>
				</tbody>
			</table>
		</section>

		<!-- ページング用 -->
		<div th:fragment='paginationbar'>
			<div th:if="${page != null}">
				<ul>
					<li th:class="${page.first} ? 'disabled':''"
						style="display: inline"><span th:if="${page.first}"
						th:text="#{common.text.paging.lead}">←lead</span> <a
						th:if="${not page.first}" onclick="$('#pageForm0').submit()"
						th:text="#{common.text.paging.lead}">←lead</a></li>
					<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
						th:class="(${i}==${page.number})? 'active' : ''"
						style="display: inline">
						<form th:id="'pageForm'+${i}" method="post"
							th:action="@{${url}(page=${i})}"
							th:object="${alcoholIshidaSearchForm}" style="display: inline">
							<input type="hidden" th:field="*{alcoholName}" /> <input
								type="hidden" th:field="*{liqueurId}" /> <input type="hidden"
								th:field="*{ingredientId1}" /> <input type="hidden"
								th:field="*{ingredientId2}" /> <input type="hidden"
								th:field="*{ingredientId3}" />
						</form> <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span> <a
						th:if='${i}!=${page.number}'
						th:onclick="'$(\'#pageForm'+${i}+'\').submit()'"> <span
							th:text='${i+1}'>1</span>
					</a>
					</li>
					<li th:class="${page.Last} ? 'disabled':''" style="display: inline">
						<span th:if="${page.Last}" th:text="#{common.text.paging.end}">end→</span>
						<a th:if="${not page.Last}"
						th:onclick="'$(\'#pageForm'+(${page.totalPages}-1)+'\').submit()'"
						th:text="#{common.text.paging.end}">end→</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="bogoCount" class="panel-clear"></div>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>


	<!-- 削除モーダル -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
		aria-labelledby="deleteModalLabel">
		<div class="modal-dialog" role="document">
			<form class="form-horizontal" id="deleteForm" th:method="get"
				th:action="@{delete}">
				<div class="modal-content">
					<input type="hidden" id="deleteId" name="id" />
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="deleteModalLabel"
							th:text="#{alcohol.text.delete}">AlcoholDelete</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<p class="lead">
									<span id="deleteName">Alcohol Name</span>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="alert alert-danger" role="alert">
									<span class="glyphicon glyphicon-exclamation-sign"
										aria-hidden="true"></span> <span
										th:text="#{common.text.warn.delete(#{menu.text.alcohol})}"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" th:text="#{common.text.cansel}"
							data-dismiss="modal">Cancel </a> <a class="btn btn-danger"
							onclick="$('#deleteForm').submit()"
							th:text="#{common.text.delete}">Delete </a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="bogoCount" class="panel-clear"></div>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>

	<!-- 削除モーダル用スクリプト -->
	<script>
		$('#deleteModal').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget);
			var alcoholId = button.data('id');
			var alcoholName = button.data('title');
			var modal = $(this);
			modal.find('#deleteId').attr("value", alcoholId);
			modal.find('#deleteName').text(alcoholName);
		});
	</script>
</body>
</html>