<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <meta http-equiv="Content-Script-Type" content="text/javascript"> -->
<title>Webアプリ研修|お酒更新</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/alcoholIshida.css}" />
<body>
	<div class="container">
		<div class="page-hedder">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
					th:text="#{login.text.version}">ver γ</small>
			</h4>
		</div>
		<div
			class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div class="sub-hedder">
				<h1 align="center" th:text="#{alcohol.text.update}">お酒更新</h1>
				<a th:href="@{/alcoholIshida}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="alcoholIshidaInputForm"
				th:action="@{/alcoholIshida/update}"
				th:object="${alcoholIshidaInputForm}" class="horizontal">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{alcohol.text.input.name.riquire}">Name(*):</label> <input
						type="text" th:field="*{alcoholName}" class="form-control"
						th:placeholder="#{alcohol.text.name}" />
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('alcoholName')}"
						th:text="#{${err}(#{alcohol.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="liqueur" class="control-label"
						th:text="#{alcohol.text.input.liqueur.riquire}">Liqueur:</label> <select
						name="liqueurId" id="inputliqueur" class="form-control select">
						<option th:each="liqueur : ${liqueurIshidaList}"
							th:value="${liqueur.liqueurId}" th:text="${liqueur.liqueur}"
							th:selected="${liqueur.liqueurId == alcoholIshidaInputForm.liqueurId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="ingredient" class="control-label"
						th:text="#{alcohol.text.input.ingredient1.riquire}">Ingredient:</label>
					<select name="ingredientId1" id="inputIngredient"
						class="form-control select">
						<option th:each="ingredient : ${ingredientIshidaList}"
							th:value="${ingredient.ingredientId}"
							th:text="${ingredient.ingredient}"
							th:selected="${ingredient.ingredientId == alcoholIshidaInputForm.ingredientId1}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="ingredient" class="control-label"
						th:text="#{alcohol.text.input.ingredient2}">Ingredient:</label> <select
						name="ingredientId2" id="inputIngredient"
						class="form-control select">
						<option th:each="ingredient : ${ingredientIshidaList}"
							th:value="${ingredient.ingredientId}"
							th:text="${ingredient.ingredient}"
							th:selected="${ingredient.ingredientId == alcoholIshidaInputForm.ingredientId2}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="ingredient" class="control-label"
						th:text="#{alcohol.text.input.ingredient3}">Ingredient:</label> <select
						name="ingredientId3" id="inputIngredient"
						class="form-control select">
						<option th:each="ingredient : ${ingredientIshidaList}"
							th:value="${ingredient.ingredientId}"
							th:text="${ingredient.ingredient}"
							th:selected="${ingredient.ingredientId == alcoholIshidaInputForm.ingredientId3}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{alcohol.text.input.comment}"> Comment:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{alcohol.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#alcoholIshidaInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>