@CHARSET "UTF-8";
/*=================================
全体的なスタイル
==================================*/




/*
上下左右の余白を個別に指定する*/

*{
	margin: 0; /*外側の余白を上下左右で指定する*/
	padding: 0;/*内側の余白を上下左右で指定する*/
	line-height: 1.0;/*行の高さ*/
}

/*背景色変更してる所*/
html{
	 background-image: url("../images/temp/tabacodelete.jpg");
	  background-size: 20% auto;
}
body {
	/*背景のみちょっと暗くしてる*/
	background-color: rgba(0,0,0,0.2);
	 background-size: contain;
}