<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>MachoMan | 映画完全削除</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/hero.css}" />
<body class="dback">
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="sub-header">
			<h1 align="center" th:text="#{muscle.text.delete}" class="font5">MovieDelete</h1>
			<a th:href="@{/machoman}" th:text="#{common.text.back}">Back</a>
		</div>

		<!-- 削除対象データ -->
		<form class="form-horizontal" id="deleteForm" action="/machoman/deletecomp"
			th:object="${muscleDeleteForm}" method="post">
			<div th:if="${muscleIzawaList != null}">
				<h3 th:text="#{common.text.info.delete.confirm}" class="font5">選択したデータを完全に削除します</h3>
				<h4 th:each="err : ${#fields.errors('deleteIds')}" th:text="#{${err}}"
					class="err alert-danger">error message</h4>
			</div>
			<div th:if="${muscleIzawaList == null}">
				<h3 th:text="#{common.text.info.no.delete}" class="font5">削除するデータがありません</h3>
			</div>
			<div th:if="${muscleIzawaList != null}" class="resultArea col-xs-18 col-sm-12 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
				<table id="resultTable" class="table table-borderd  table-hover">
					<thead>
						<tr class="success">
							<th><input type="checkbox" id="allCheck"/></th>
							<th  th:text="#{muscle.text.photo}">Photo</th>
							<th  th:text="#{muscle.text.menu}">Title</th>
							<th  th:text="#{muscle.text.bodyname}">Genre</th>
							<th  th:text="#{muscle.text.comment}">Comment</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="muscle : ${muscleIzawaList}" class="info">
							<td>
								<label>
									<input type="checkbox" style="margin-left: 50%" th:field="*{deleteIds}"
										th:value="${muscle.id}"/>
								</label>
							</td>
							<td class="data center">
							<img th:src="@{${muscle.photo}}" ></img>
							</td>
							<td class="data center" th:text="${muscle.menu}">MENU</td>
							<td class="data center">
								<label th:if="${muscle.body != null}" th:text="${muscle.bodyIzawa.bodyname}" class="data center">BODY</label>
							</td>
							<td class="data center" th:text="${muscle.com}">muscleyambe</td>
						</tr>
					</tbody>
				</table>
				<div>
					<a class="btn btn-danger center-block"
						onclick="$('#deleteForm').submit()"
						th:text="#{common.text.delete}">
					</a>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript"  src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
	<script>
		$('#allCheck').on('change', function(){
			$('input[name=deleteIds]').prop('checked', this.checked);
		});
	</script>
</body>
</html>