<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>筋肉野郎ども|メニュー追加</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/hero.css}" />
<body class="iback">
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
					th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div
			class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{muscle.text.insert}" class="font5">MenuInsert</h1>
				<a th:href="@{/machoman}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="muscleInputForm"
				th:action="@{/machoman/insert}" th:object="${muscleInputForm}"
				class="form-horizontal">
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{muscle.text.input.title.riquire}"> Menu(*):</label> <input
						type="text" th:field="*{menu}" class="form-control"
						th:placeholder="#{muscle.text.search.info2}" />
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('menu')}"
						th:text="#{${err}(#{muscle.text.title})}"></p>
				</div>
				<div class="form-group">
					<label for="body" class="control-label"
						th:text="#{muscle.text.input.body}"> Body:</label> <select
						name="body" id="inputBody" class="form-control select">
						<option th:each="bodyname : ${bodyIzawaList}"
							th:value="${bodyname.id}" th:text="${bodyname.bodyname}"
							th:selected="${bodyname.id == muscleInputForm.body}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="com" class="control-label"
						th:text="#{movie.text.input.comment}"> Comment:</label>
					<textarea th:field="*{com}" cols="" rows="5" class="form-control"
						id="inputComment" th:placeholder="#{movie.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#muscleInputForm').submit()"
						th:text="#{common.text.insert}">Insert</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>