<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>マッチョメン|メニュー更新</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/hero.css}" />
<body class="uback">
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{muscle.text.update}" class="font4">メニュー更新</h1>
				<a th:href="@{/machoman}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="muscleInputForm"
				th:action="@{/machoman/update}" th:object="${muscleInputForm}"
				class="form-horizontal">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<label for="name" class="control-label text-danger"
						th:text="#{muscle.text.input.title.riquire}"> Menu(*):</label>
					<input type="text" th:field="*{menu}" class="form-control"
						th:placeholder="#{muscle.text.menu}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('menu')}"
						th:text="#{${err}(#{muscle.text.menu})}"></p>
				</div>
				<div class="form-group">
					<label for="body" class="control-label text-danger"
						th:text="#{muscle.text.input.body}">Body:</label>
					<select name="body" id="inputBody"
						class="form-control select">
						<option th:each="bodyname : ${bodyIzawaList}"
								th:value="${bodyname.id}"
								th:text="${bodyname.bodyname}"
								th:selected="${bodyname.id == muscleInputForm.body}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="com" class=" control-label text-danger"
						th:text="#{muscle.text.input.comment}"> Comment:</label>
					<textarea th:field="*{com}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{muscle.text.comment}"></textarea>
				</div>
				<div align="center">
				<div class="col-sm-3">
					<a class="btn btn-success center-block"
						onclick="$('#muscleInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript"  src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
</body>
</html>