<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|椎名林檎の曲（プレイリスト）追加</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/ringoTakizawa.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{ringo.text.insert}">RingoInsert</h1>
				<a th:href="@{/ringoTakizawa}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="ringoTakizawaInputForm"
				th:action="@{/ringoTakizawa/insert}" th:object="${ringoTakizawaInputForm}"
				class="form-horizontal">
				<div class="form-group">
					<label for="ringoTakizawa" class="control-label"
						th:text="#{ringo.text.input.songTitle.require}"> Name(*):</label>
					<input type="text" th:field="*{songTitle}" class="form-control"
						th:placeholder="#{ringo.text.songTitle}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('songTitle')}"
						th:text="#{${err}(#{ringo.text.songTitle})}"></p>
				</div>
				<div class="form-group">
					<label for="cdTitle" class="control-label"
						th:text="#{ringo.text.input.cdTitle}"> CdTitle:</label>
					<select name="cdTitleId" id="inputCdTitleTakizawa"
						class="form-control select">
						<option th:each="cdTitle : ${ringoCdTitleTakizawaList}"
								th:value="${cdTitle.id}"
								th:text="${cdTitle.cdTitle}"
								th:selected="${cdTitle.id == ringoTakizawaInputForm.cdTitleId}">pulldown</option>
					</select>
				</div>

				<div class="form-group">
					<label for="releaseYear" class="control-label"
						th:text="#{ringo.text.input.releaseYear}"> ReleaseYear:</label>
					<input type="text" th:field="*{releaseYearStr}" class="form-control" id="inputReleaseYearTakizawa"
						th:placeholder="#{ringo.inputrule.number}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('releaseYearStr')}"
						th:text="#{${err}(#{ringo.text.releaseYear})}"></p>

				</div>
				<div class="form-group">
					<label for="songImage" class="control-label"
						th:text="#{ringo.text.input.songImage}"> SongImage:</label>
					<select name="songImageId" id="inputSongImageTakizawa"
						class="form-control">
						<option th:each="songImage : ${ringoSongImageTakizawaList}"
								th:value="${songImage.id}"
								th:text="${songImage.songImage}"
								th:selected="${songImage.id == ringoTakizawaInputForm.songImageId}">pulldown</option>
					</select>
				</div>

				<div class="col-xs-3 col-sm-2">
                    <a class="btn btn-success center-block"
                       onclick="$('#ringoTakizawaInputForm').submit()"
                       th:text="#{common.text.insert}">Insert</a>
                </div>
			</form>
		</div>
	</div>
</body>
</html>