<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Webアプリ研修|キャラクター完全削除</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
	</head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/dffTatebe.css}" />
	<body>
		<div class="container">
			<div class="page-header">
				<h4>
					<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a>
				</h4>
			</div>
			<div class="sub-header">
				<h1 align="center" th:text="#{dff.text.delete}">DffDelete</h1>
				<a th:href="@{/dffTatebe}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 削除対象データ -->
			<form class="form-horizontal" id="deleteForm" action="/dffTatebe/deletecomp"
				th:object="${dffTatebeDeleteForm}" method="post">
				<div th:if="${dffMainTatebeList != null}">
					<h3 th:text="#{common.text.info.delete.confirm}">選択したデータを完全に削除します</h3>
					<h4 th:each="err : ${#fields.errors('deleteIds')}" th:text="#{${err}}"
						class="err alert-danger">error message</h4>
				</div>
				<div th:if="${dffMainTatebeList == null}">
					<h3 th:text="#{common.text.info.no.delete}">削除するデータがありません</h3>
				</div>
				<div th:if="${dffMainTatebeList != null}" class="resultArea col-xs-18 col-sm-12 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-2">
					<table id="resultTable" class="table table-borderd table-striped table-hover">
						<thead>
							<tr>
								<th><input type="checkbox" id="allCheck" /></th>
								<th class="per-25" th:text="#{dff.text.dffName}">DffName</th>
								<th class="per-25" th:text="#{dff.text.title}">Title</th>
								<th class="per-12" th:text="#{dff.text.type}">Type</th>
								<th class="per-25" th:text="#{dff.text.comment}">Comment</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="dff : ${dffMainTatebeList}">
								<td>
									<label>
										<input type="checkbox" style="margin-left: 50%" th:field="*{deleteIds}"
											th:value="${dff.id}"/>
									</label>
								</td>
								<td class="data center" th:text="${dff.dffName}">ウォーリア オブ ライト</td>
								<td class="data center">
									<label th:if="${dff.titleTatebe !=null}" th:text="${dff.titleTatebe.titleName}" class="data center">ファイナルファンタジー</label>
								</td>
								<td class="data center">
									<label th:if="${dff.typeTatebe !=null}" th:text="${dff.typeTatebe.typeName}" class="data center">HEAVY</label>
								</td>
								<td class="data center" th:text="${dff.comment}">どう…いたしまして…</td>
							</tr>
						</tbody>
					</table>
					<div>
						<a class="btn btn-danger center-block"
							onclick="$('#deleteForm').submit()"
							th:text="#{common.text.delete}">
						</a>
					</div>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
		<script th:src="@{/libs/jquery/jquery.js}"></script>
		<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
		<script>
			$('#allCheck').on('change', function(){
				$('input[name=deleteIds]').prop('checked', this.checked);
			});
		</script>
	</body>
</html>