<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<title>Webアプリ研修|キャラクター追加</title>
			<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootsrap.min.js"></script>
			<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
	</head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/dffTatebe.css}" />
	<body>
		<div class="container">
			<div class="page-header">
				<h4>
					<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
				</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-ma-offset-2 col-lg-8 col-lg-offset-2">
			<div class="sub-header">
				<h1 align="center" th:text="#{dff.text.insert}">DffInsert</h1>
				<a th:href="@{/dffTatebe}" th:text="#{common.text.back}">Back</a>
			</div>

		<!-- 入力欄 -->
		<form method="post" id="dffTatebeInputForm"
			th:action="@{/dffTatebe/insert}" th:object="${dffTatebeInputForm}"
			class="form-horizontal">
			<div class="form-group">
				<label for="dffName" class="control-label"
					th:text="#{dff.text.input.dffName.riquire}">dffName(*):</label>
					<input type="text" th:field="*{dffName}" class="form-control"
						th:placeholder="#{dff.text.dffName}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('dffName')}"
						th:text="#{${err}(#{dff.text.dffName})}"></p>
			</div>
			<div class="form-group">
				<label for="title" class="control-label"
					th:text="#{dff.text.input.title}">Title:</label>
				<select name="titleId" id="inputTitle"
					class="form-control select">
					<option th:each="title : ${dffTitleTatebeList}"
							th:value="${title.id}"
							th:text="${title.titleName}"
							th:selected="${title.id == dffTatebeInputForm.titleId}">pulldown</option>
					</select>
						<p class="err alert-danger" th:each="err : ${#fields.errors('titleId')}"
						th:text="#{${err}(#{dff.text.title})}"></p>
			</div>
			<div class="form-group">
				<label for="team" class="control-label"
					th:text="#{dff.text.input.type}">Type:</label>
				<select name="typeId" id="inputType"
					class="form-control">
					<option th:each="type : ${dffTypeTatebeList}"
							th:value="${type.id}"
							th:text="${type.typeName}"
							th:selected="${type.id == dffTatebeInputForm.typeId}">pulldown</option>
				</select>
			</div>
				<div class="form-group">
				<label for="comment" class="control-label"
					th:text="#{dff.text.input.comment}">Comment</label>
				<input type="text" th:field="*{comment}" class="form-control" id="inputComment"
					th:placeholder="#{dff.text.comment}" />
			</div>
			<div class="col-xs-3 col-sm-2">
				<a class="btn btn-success center-block"
					onclick="$('#dffTatebeInputForm').submit()"
					th:text="#{common.text.insert}">Insert</a>
			</div>
			</form>
			</div>
		</div>
	</body>
</html>