<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>更新</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/teamNaggashima.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{team.text.update}">チーム更新</h1>
				<a th:href="@{/teamNagashima}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="teamNagashimaInputForm"
				th:action="@{/teamNagashima/update}" th:object="${teamNagashimaInputForm}"
				class="form-horizontal">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{team.text.input.name.riquire}"> チーム名(*):</label>
					<input type="text" th:field="*{name}" class="form-control"
						th:placeholder="#{team.text.name}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('name')}"
						th:text="#{${err}(#{team.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="region" class="control-label"
						th:text="#{team.text.input.region}"> 地域:</label>
					<select name="regionId" id="inputRegionNagashima"
						class="form-control select">
						<option th:each="region : ${regionNagashimaList}"
								th:value="${region.regionId}"
								th:text="${region.name}"
								th:selected="${region.regionId == teamNagashimaInputForm.regionId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="coach" class="control-label"
						th:text="#{team.text.input.coach}"> 監督国籍:</label>
					<select name="coachId" id="inputCoachNagashima"
						class="form-control select">
						<option th:each="coach : ${coachNagashimaList}"
								th:value="${coach.coachId}"
								th:text="${coach.country}"
								th:selected="${coach.coachId == teamNagashimaInputForm.coachId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="foundedyear" class="control-label"
						th:text="#{team.text.input.foundedYear}"> 設立年:</label>
					<input type="text" th:field="*{foundedYearStr}" class="form-control" id="inputFoundedYear"
						th:placeholder="#{team.text.foundedYear}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('foundedYearStr')}"
						th:text="#{${err}(#{team.text.foundedYear})}"></p>
				</div>
				<div class="form-group">
					<label for="titles" class="control-label"
						th:text="#{team.text.input.titles}"> タイトル数:</label>
					<input type="text" th:field="*{titlesStr}" class="form-control" id="inputTitles"
						th:placeholder="#{team.text.titles}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('titlesStr')}"
						th:text="#{${err}(#{team.text.titles})}"></p>
				</div>
				<div class="form-group">
					<label for="player" class="control-label"
						th:text="#{team.text.input.player}"> 今注目の選手:</label>
					<textarea th:field="*{player}" cols="" rows=""
						class="form-control" id="inputPlayer"
						th:placeholder="#{team.text.player}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#teamNagashimaInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>