@charset "UTF-8";

body{
	min-height: 100vh;
  	background: linear-gradient(
        45deg,
        rgba(255, 175, 189, 0.7),
        rgba(100, 216, 243, 0.7),
        rgba(234, 236, 198, 0.7),
        rgba(245, 146, 176, 0.7),
        rgba(52, 219, 216, 0.7)
      )
    0 0 / 1000% no-repeat,
    url(/dramaImageIge/flower.jpg) 0 0/ cover;
 	animation: gradientAnimation 40s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0% 30%, 0 0;
  }
}

#body {
	position: relative;
	top: 0;
	left: 0;
}

div.container {
	max-width: 95%;
	width: 95%;
	margin: auto;
}

div.search-menu {
	margin-top: 15px;
}

@media ( min-width : 980px) {
	div.search-menu {
		height: 100vh;
	}
}

div.search-menu .btn-group {
	margin-top: 30px;
}

h1, .h1 {
	font-size: 2em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background : rgba(0,0,0,1);
	text-shadow :
		0 0 0.1em rgba(255,255,255,0.05),
		0.01em 0.04em 0.03em rgba(255,255,255,0.4);
	-webkit-background-clip : text;
}

.paging{
	background-color: #fff;
	opacity: 1;
	color: #50AEAE;
}
.paging a{
	transition: .3s;
}
.paging a:hover{
	text-decoration: none;
	color: 	#BE7373;
	cursor: pointer;
	cursor: hand;
}

th{
	background-color: #DCECAB;
}
tr{
	background-color: #ffffff;
}

#resultTable {
	margin-top: 20px;
	border: solid 1px #5BC638;
}

#resultTable .center {
	text-align: center;
}

#resultTable th.per-12 {
	width: 12%;
}

#resultTable th.per-7 {
	width: 7%;
}

#resultTable th.per-16 {
	width: 16%;
}

#resultTable th.per-46 {
	width: 46%;
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group {
	width: 32%;
}

.customUpload .file-upload {
	display: none;
}

.customUpload {
	margin: 10px 0 20px;
}

.page-header {
	margin: 0 0 23px;
	padding: 10px;
	/* border-bottom: 1px solid #666;
	border-color: #e5e5e5; */
	background-color: rgba(255,255,255,0.8);
	width: 100%;
}

.page-header>h4 {
	margin-left: 40px;
}

.page-header a{
	transition: .2s;
}

.page-header a:hover{
	text-decoration: none;
	color: #ff0080;
}

.sub-header {
	margin: auto;
	width: 90%;
	font-size: 34px;
	line-height: 40px;
}

.sub-header p {
	font-size: 20px;
	float: right;
}

.sub-header a {
	font-size: 15px;
	margin: 0 20px;
	padding: 1px 10px;
	float: right;
	color: #999999;
	background: #eee;
	border-radius: 50px;
	transition: .4s;
	border: solid 1px #999999;
}

.sub-header a:hover{
	color: #eee;
	text-decoration: none;
	background: #999999;
	border: solid 1px #eee;
}

.panel-half {
	width: 48%;
	float: left;
	margin: 3px 10px;
}

/* フェードイン */
.fadein{
	animation-name: fadein;
	animation-duration: 2s;
	animation-iteration-count: infinine;
}
@keyframes fadein{
	from{
		opacity: 0;
		transform: translateY(20px);
		}
	to{
		opacity: 1;
		transform: translatey(0);
	}
}

/* btn animation */
.btn-anime{
	display: inline-block;
	padding: 0.5em 1em;
	color: #333333;
	text-align: center;
	font-weight: 550;
	border: dashed 2px #333333;
	background-color: #eee;
	text-decoration: none;
	transition: .4s;
}

.btn-anime:hover{
	color: #eee;
	border: 2px solid #eee;
}

/* btn color */
.btn-color-yellow:hover{
	background-color: #E5B219;
}
.btn-color-red:hover{
	background-color: #CC3333;
}
.btn-color-blue:hover{
	background-color: #3F3FBF;
}
.btn-color-green:hover{
	background-color: #5FBF3F;
}
.btn-wide{
	width: 80%;
}
.btn-narrow{
	width: 30%;
}
.btn-wide2{
	width: 100%
}

.panel-clear {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 25% 25%;
	font-size: 50px;
	background-color: #000;
	opacity: 0.4;
	color: #FFF;
	text-align: center;
	z-index: 1000;
	display: none;
}