@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

div.container {
	max-width: 95%;
	width: 95%;
	margin: auto;
}

div.search-menu {
	margin-top: 15px;
}

@media ( min-width : 980px) {
	div.search-menu {
		height: 100vh;
	}
}

div.search-menu .btn-group {
	margin-top: 30px;
}

h1, .h1 {
	font-size: 36px;
	font-weight: bold;
	color: #324362;
	letter-spacing: 4px;
	text-shadow:
       2px  2px 1px #f1f1f1,
      -2px  2px 1px #f1f1f1,
       2px -2px 1px #f1f1f1,
      -2px -2px 1px #f1f1f1,
       2px  0px 1px #f1f1f1,
       0px  2px 1px #f1f1f1,
      -2px  0px 1px #f1f1f1,
       0px -2px 1px #f1f1f1;
}

#resultTable {
	margin-top: 20px;
}

#resultTable .center {
	text-align: center;
}

#resultTable th.per-12 {
	width: 12%;
}

#resultTable th.per-7 {
	width: 7%;
}

#resultTable th.per-16 {
	width: 16%;
}

#resultTable th.per-46 {
	width: 46%;
}

#canvas {
	width: 100%;
	height: 100%;
	background: #71c8e2;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}

#body {
	position: relative;
	top: 0;
	left: 0;
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group {
	width: 32%;
}

.customUpload .file-upload {
	display: none;
}

.customUpload {
	margin: 10px 0 20px;
}

.page-header {
	margin: 0 0 23px;
	padding: 10px;
	/*border-bottom: 1px solid;
	border-color: #666;*/
	background-color: rgba(255,255,255,0.8);
	width: 100%;
}

.page-header>h4 {
	margin-left: 40px;
}

.page-header a{
	transition: .4s;
}

.page-header a:hover{
	text-decoration: none;
	color: orange;
}

.sub-header {
	margin: auto;
	width: 90%;
	font-size: 34px;
	line-height: 40px;
}

.sub-header p {
	font-size: 20px;
	float: right;
}

.sub-header a {
	font-size: 15px;
	margin: 0 20px;
	padding: 1px 10px;
	float: right;
	color: #999999;
	background: #eee;
	border-radius: 30px;
	transition: .4s;
	border: dashed 1px #999999;
}

.sub-header a:hover{
	color: #eee;
	text-decoration: none;
	background: #999999;
	border: solid 1px #eee;
}

.panel-half {
	width: 48%;
	float: left;
	margin: 3px 10px;
}

.panel-clear {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 25% 25%;
	font-size: 50px;
	background-color: #000;
	opacity: 0.4;
	color: #FFF;
	text-align: center;
	z-index: 1000;
	display: none;
}

.page{
	background: #eee;
}

.page a{
	transition: .4s;
}

.page a:hover{
	text-decoration: none;
	color: orange;
	cursor: pointer;
	cursor: hand;
}

/* btn */
.btn-flat-dashed-filled {
	display: inline-block;
	text-decoration: none;
	padding: 0.5em 1em;
	color: #324362;
	border: dashed 2px #324362;
	background: #eee;
	border-radius: 3px;
	transition: .4s;
	text-align: center;
}

.btn-flat-dashed-filled:hover {
	color: #eee;
	border: solid 2px #eee;
	cursor: pointer;
	cursor: hand;
	text-decoration: none;
	border-radius: 3px;
	size: 20px;
	text-align: center;
}

.bg-hover-yellow:hover{
	background: #ffa103;
}

.bg-hover-red:hover{
	background: #da4937;
}

.bg-hover-indigo:hover{
	background: #324362;
}

.bg-hover-green:hover{
	background: #006D56;
}

.btn-wide{
	width: 80%;
}

.btn-narrow{
	width: 30%;
}
