<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>研修Webアプリ|ラジオ番組削除</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/radioKashima.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a>
				<small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>

		<div class="sub-header">
			<h1 align="center" th:text="#{radio.text.delete}">ラジオ番組削除</h1>
			<a th:href="@{/radiokashima}" th:text="#{common.text.back}">Back</a>
		</div>

		<!-- 削除対象データ -->
		<form class="form-horizontal" id="deleteForm"
			action="/radiokashima/deletecomp"
			th:object="${radioKashimaDeleteForm}" method="post">
			<div th:if="${radioMainKashimaList != null}">
				<h3 th:text="#{common.text.info.delete.confirm}">選択データを完全に削除します</h3>
				<h4 th:each="err : ${#fields.errors('deleteIds')}"
					th:text="#{${err}}" class="err alert-danger">error message</h4>
			</div>

			<div th:if="${radioMainKashimaList == null}">
				<h3 th:text="#{common.text.info.no.delete}">削除するデータがありません</h3>
			</div>

			<div th:if="${radioMainKashimaList != null}"
				class="resultArea col-xs-18 col-sm-12 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
				<table id="resultTable"
					class="table table-borderd table-striped table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="allCheck" /></th>
							<th class="per-12 center" th:text="#{radio.text.programName}">ラジオ番組名</th>
							<th class="per-12 center" th:text="#{radio.text.keystation}">放送局</th>
							<th class="per-12 center" th:text="#{radio.text.personality}">パーソナリティ</th>
							<th class="per-12 center" th:text="#{radio.text.broadcastPeriod}">放送期間</th>
							<th class="per-45 center" th:text="#{radio.text.comment}">コメント</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="radio : ${radioMainKashimaList}">
							<td><label> <input type="checkbox"
									style="margin-left: 50%" th:field="*{deleteIds}"
									th:value="${radio.id}" />
							</label></td>
							<td class="data center" ><label
						 	th:text="${radio.programName}" class="data center">オードリーのオールナイトニッポン</label>
						</td>

						<td class="data center"><label
							th:if="${radio.keystationKashima != null}"
							th:text="${radio.keystationKashima.keystation}" class="data center">ニッポン放送</label>
						</td>



						<td class="data center"><label
						     th:text="${radio.personality}" class="data center">オードリー</label>
						</td>
						<td class="data center"><label
						     th:text="${radio.broadcastPeriod}" class="data center">2009/10/10-現在</label>
						</td><td class="data center"><label
						     th:text="${radio.comment}" class="data center">コメント</label>
						</td>


						</tr>
					</tbody>
				</table>

				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-danger center-block"
						onclick="$('#deleteForm').submit()"
						th:text="#{common.text.delete}"></a>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
	<script>
		$('#allCheck').on('change', function() {
			$('input[name=deleteIds]').prop('checked', this.checked);
		});
	</script>
</body>
</html>