<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|廃墟更新</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/ruinsKurihara.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{ruins.text.update}">廃墟更新</h1>
				<a th:href="@{/ruinskurihara}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="ruinsKuriharaInputForm"
				th:action="@{/ruinskurihara/update}" th:object="${ruinsKuriharaInputForm}"
				class="form-horizontal">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{ruins.text.input.name.riquire}"> Name(*):</label>
					<input type="text" th:field="*{ruinsName}" class="form-control"
						th:placeholder="#{ruins.text.name}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('ruinsName')}"
						th:text="#{${err}(#{ruins.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="genre" class="control-label"
						th:text="#{ruins.text.input.genre}">Genre:</label>
					<select name="genreId" id="inputGenre"
						class="form-control select">
						<option th:each="genre : ${genreKuriharaList}"
								th:value="${genre.id}"
								th:text="${genre.genre}"
								th:selected="${genre.id == ruinsKuriharaInputForm.genreId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="area" class="control-label"
						th:text="#{ruins.text.input.area}">Area:</label>
					<select name="areaId" id="inputArea"
						class="form-control">
						<option th:each="area : ${areaKuriharaList}"
								th:value="${area.id}"
								th:text="${area.area}"
								th:selected="${area.id == ruinsKuriharaInputForm.areaId}">pulldown</option>
					</select>

				</div>

				<div class="form-group">
					<label for="sincey" class="control-label"
						th:text="#{ruins.text.input.since}"> Since:</label>
					<textarea th:field="*{since}" cols="" rows="5"
						class="form-control" id="inputCackstory"
						th:placeholder="#{ruins.text.since}"></textarea>
				</div>
				<div class="form-group">
					<label for="backstory" class="control-label"
						th:text="#{ruins.text.input.backstory}"> Backstory:</label>
					<textarea th:field="*{backStory}" cols="" rows="5"
						class="form-control" id="inputCackstory"
						th:placeholder="#{ruins.text.backstory}"></textarea>
				</div>

				<div class="form-group">
					<label for="rem" class="control-label"
						th:text="#{ruins.text.input.rem}"> Rem:</label>
					<textarea th:field="*{rem}" cols="" rows="5"
						class="form-control" id="inputRem"
						th:placeholder="#{ruins.text.rem}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#ruinsKuriharaInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>