<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/webApp?zeroDateTimeBehavior=convertToNull
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<!-- ここに追加したmodelを完全修飾名で記載 -->
		<mapping class="training2016.model.Area" />
		<mapping class="training2016.model.Restaurant" />
		<mapping class="training2016.model.Operator" />
		<mapping class="training2016.model.Phones" />
		<mapping class="training2016.model.GroupName" />
		<mapping class="training2016.model.Iventcontents" />
		<mapping class="training2016.model.Season" />
		<mapping class="training2016.model.Nail" />
		<mapping class="training2016.model.Catarea" />
		<mapping class="training2016.model.Catcafe" />
		<mapping class="training2016.model.Team" />
		<mapping class="training2016.model.Players" />
		<mapping class="training2016.model.Sakearea" />
		<mapping class="training2016.model.Sakeinfo" />
		<mapping class="training2016.model.BaseballPlayer" />
		<mapping class="training2016.model.BaseballTeam" />
		<mapping class="training2016.model.BikeTeam" />
		<mapping class="training2016.model.Rider" />
		<mapping class="training2016.model.Sim" />
		<mapping class="training2016.model.SimOpe" />
		<mapping class="training2016.model.GuitarInfo" />
		<mapping class="training2016.model.GuitarMaker" />
		<mapping class="training2016.model.Aquarium" />
		<mapping class="training2016.model.AquariumArea" />
		<mapping class="training2016.model.Birthplace" />
		<mapping class="training2016.model.Beerbrands" />
		<mapping class="training2016.model.Drama" />
		<mapping class="training2016.model.DramaGenre" />
		<mapping class="training2016.model.Ths" />
		<mapping class="training2016.model.ThsSubject" />
		<mapping class="training2016.model.Sneakers" />
		<mapping class="training2016.model.SneakersMaker" />
		<mapping class="training2016.model.Yokai" />
		<mapping class="training2016.model.Yokaifrom" />
		<mapping class="training2016.model.Ships" />
		<mapping class="training2016.model.Country" />
		<mapping class="training2016.model.Maiwaifu" />
		<mapping class="training2016.model.MaiwaifuArea" />
		<mapping class="training2016.model.Onsen" />
		<mapping class="training2016.model.OnsenArea" />
		<mapping class="training2016.model.Chocolate" />
		<mapping class="training2016.model.ChocolateCountry" />

		<mapping class="training2016.model.Megane" />
		<mapping class="training2016.model.MeganeArea" />
		<mapping class="training2016.model.Norris" />
		<mapping class="training2016.model.NorrisSeries" />




	</session-factory>

</hibernate-configuration>