<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Webアプリ研修|モンスター完全削除</title>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/monsterShirase.css}" />
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a>
				<small th:text="#{login.text.version}">ver γ</small>
			</h4>
		</div>
		<div class="sub-header">
			<h1 align="center" th:text="#{monster.text.delete}"></h1>
			<a th:href="@{/monsterShirase}" th:text="#{common.text.back}"></a>
		</div>

		<!-- 削除対象データ -->
		<form class="form-horizontal" id="deleteForm" action="/monsterShirase/deletecomp"
			th:object="${monsterShiraseDeleteForm}" method="post">

			<div th:if="${monsterMainShiraseList != null}">
				<h4 th:text="#{common.text.info.delete.confirm}">選択したデータを完全に削除します</h4>
				<h5 th:each="err : ${#fields.errors('deleteIds')}"
					th:text="#{${err}}" class="err alert-danger">error message</h5>
			</div>

			<div th:if="${monsterMainShiraseList == null}">
				<h4 th:text="#{common.text.info.no.delete}">削除するデータがありません</h4>
			</div>

			<div th:if="${monsterMainShiraseList != null}"
				class="resultArea col-xs-18 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-1 ">
				<table id="resultTable"
					class="table table-borderd table-striped">
					<thead>
						<tr>
							<th><input type="checkbox" style="margin-left: 40%" id="allCheck" /></th>
							<th class="per-36 center" th:text="#{monster.text.name}"></th>
							<th class="per-36 center" th:text="#{monster.text.nameEn}"></th>
							<th class="per-24 center" th:text="#{monster.text.material}"></th>
							<th class="per-24 center" th:text="#{monster.text.genre}"></th>
							<th class="per-12 center" th:text="#{monster.text.element}"></th>
							<th class="per-12 center" th:text="#{monster.text.title}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="monster : ${monsterMainShiraseList}">
							<td>
								<label>
									<input type="checkbox" style="margin-left: 50%" th:field="*{deleteIds}"
										th:value="${monster.id}" />
								</label>
							</td>
							<td class="data center" th:text="${monster.name}"></td>
							<td class="data center" th:text="${monster.nameEn}"></td>
							<td class="data center" th:text="${monster.material}"></td>
							<td class="data center">
								<label th:if="${monster.genreId != null}" th:text="${monster.genreShirase.genre}" class="data center"></label>
							</td>
							<td class="data center">
								<label th:if="${monster.elementId != null}" th:text="${monster.elementShirase.element}" class="data center"></label>
							</td>
							<td class="data center">
								<label th:if="${monster.titleId != null}" th:text="${monster.titleShirase.title}" class="data center"></label>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- 削除ボタン -->
				<div class="col-sm-offset-4 col-xs-3 col-sm-2">
					<a class="btn btn-danger center-block" onclick="$('#deleteForm').submit()"
						th:text="#{common.text.delete}">
					</a>
				</div>

			</div>
		</form>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
	<script>
		$('#allCheck').on('change', function() {
			$('input[name=deleteIds]').prop('checked', this.checked);
		});
	</script>

</body>
</html>