<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>更新/アリアナ</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/musicalpieceSearchmain.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
	  <div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center"
					th:text="#{music.text.update}">おんがく更新</h1>
				<a  th:href="@{/musicalpieceSearch}"
					th:text="#{common.text.back}">戻る</a>
			</div>
            <!-- 入力欄 -->
			<form method="post"
					id="musicalpieceSearchInputForm"
					th:action="@{/musicalpieceSearch/update}"
					th:object="${musicalpieceSearchInputForm}"
					class="form-horizontal">
				<input type="hidden"
					   th:field="*{singleId}"/>
				<div class="form-group">
					<label for="singleTitle"
						   class="control-label"
						   th:text="#{music.text.input.singlename}"> 曲名(*):</label>
					<input type="text"
						   th:field="*{singleTitle}"
						   class="form-control"
						   th:placeholder="#{music.text.singlename}" />
					<p class="err alert-danger"
					   th:each="err : ${#fields.errors('singleTitle')}"
					   th:text="#{${err}(#{music.text.singlename})}">
					</p>
				</div>
				<div class="form-group">
					<label for="album_ruike"
						   class="control-label"
						   th:text="#{music.text.input.albumname}">アルバム名:</label>
					<select name="albumId"
							id="inputAlbumRuike"
							class="form-control select">
						<option th:each="albumRuike : ${albumRuikeList}"
								th:value="${albumRuike.albumId}"
								th:text="${albumRuike.albumName}"
								th:selected="${albumRuike.albumId== musicalpieceSearchInputForm.albumId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="colabo_ruike"
						   class="control-label"
						   th:text="#{music.text.input.colabo_name}">コラボアーティスト名:</label>
					<select name="colaboId"
							id="inputColaboRuike"
							class="form-control select">
						<option th:each="colaboRuike: ${colaboRuikeList}"
								th:value="${colaboRuike.colaboId}"
								th:text="${colaboRuike.colaboName}"
								th:selected="${colaboRuike.colaboId == musicalpieceSearchInputForm.colaboId}">pulldown</option>
					</select>
				</div>
					<div class="form-group">
					<label for="releaseYear"
						   class="control-label"
						   th:text="#{music.text.input.releaseyear}">発売年(*):</label>
					<input type="text"
						   th:field="*{releaseYearStr}"
						   class="form-control"
						   id="inputReleaseYear"
						   th:placeholder="#{music.text.releaseyear}"/>
					<p class="err alert-danger"
					   th:each="err : ${#fields.errors('releaseYearStr')}"
					   th:text="#{${err}(#{music.text.input.releaseyear})}">
					</p>
				</div>
				<div class="form-group">
					<label for="playTime"
					 	   class="control-label"
						   th:text="#{music.text.input.playtime}"> 再生時間:</label>
					<input type="text"
						   th:field="*{playTimeStr}"
						   class="form-control"
						   id="inputPlayTime"
						   th:placeholder="#{music.text.playtime}" />
					<p class="err alert-danger"
						 th:each="err : ${#fields.errors('playTimeStr')}"
						 th:text="#{${err}(#{music.text.playtime})}">
					</p>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#musicalpieceSearchInputForm').submit()"
						th:text="#{common.text.update}">更新</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
	  </div>
	</div>
</body>
</html>