<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>楽曲検索メイン画面</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />

</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/musicalpieceSearchmain.css}" />
<body>
     <div class="page-header">
            <h4>
               <a th:href="@{/}" th:text="#{login.text.app}">戻る</a>
			</h4>
     </div>
     <div class="sub-header">
          <a th:href="@{/menu}" th:text="#{common.text.back}">Back</a>
          <h1 align="center" th:text="#{music.text.search}">楽曲検索</h1>
     </div>

        <!-- メッセージ -->
        <div class="row">
            <div class="col-sm-offset-3 col-sm-7">

                <!-- 検索結果なし -->
                <div class="alert alert-info text-center" role="alert"
                     th:if="${(musicalpieceSearchMainForm.singleTitle != null or
                              musicalpieceSearchMainForm.albumId != null or
                              musicalpieceSearchMainForm.colaboId != null) and
                              arianamainList == null}"
                              th:text="#{common.text.info.search}">検索しましたが、指定データが存在しません
                </div>

                <!-- DB操作後 -->
                <div class="alert alert-info text-center" role="alert"
                     th:if="${param.result != null}">
                    <div th:switch="${param.result[0]}">
                        <p th:case="insert" th:text="#{common.text.info.insert} + ':ID=' + ${param.id[0]}"></p>
                        <p th:case="update" th:text="#{common.text.info.update} + ':ID=' + ${param.id[0]}"></p>
                        <p th:case="updatefailed" th:text="#{common.text.info.update.failed}"></p>
                        <p th:case="delete" th:text="#{common.text.info.delete} + ':ID=' + ${param.id[0]}"></p>
                        <p th:case="deletecomp" th:text="#{common.text.info.deletecomp}"></p>
                    </div>
                </div>
              </div>
          </div>

        <!-- 検索条件 -->
        <form class="form-horizontal"
              id="searchForm"
              method="post"
              action="/musicalpieceSearch/search"
              th:object="${musicalpieceSearchMainForm}" >
            <div class="form-group">
                <label for="singleTitle"
                       class="col-sm-2 control-label"
                        th:text="#{music.text.input.singlename}">曲名</label>
                <div class="col-sm-8">
                   <input type="text"
                          th:field="*{singleTitle}"
                          class="form-control"
                          id="inputSingleTitle"/>
                </div>
            </div>
            <div class="form-group">
                 <label for="album_ruike"
                       class="control-label col-sm-2"
                       th:text="#{music.text.input.albumname}">アルバム名</label>
                <div class="col-sm-8">
                   <select
                        id="inputAlbumRuike"
                        name="albumId"
                        class="form-control select">
                       <option th:each="albumRuike : ${albumRuikeList}"
                          th:value="${albumRuike.albumId}"
                          th:text="${albumRuike.albumName}"
                          th:selected="${albumRuike.albumId ==  musicalpieceSearchMainForm.albumId}">
                       </option>
                   </select>
                </div>
            </div>
            <div class="form-group">
                <label for="colabo_ruike"
                       class="control-label col-sm-2"
                       th:text="#{music.text.input.colabo_name}">コラボアーティスト名</label>
                <div class="col-sm-8">
                   <select
                        id="inputColaboRuike"
                        name="colaboId"
                        class="form-control select">
                      <option th:each="colaboRuike : ${colaboRuikeList}"
                              th:value="${colaboRuike. colaboId}"
                              th:text="${colaboRuike.colaboName}"
                              th:selected="${colaboRuike. colaboId == musicalpieceSearchMainForm.colaboId}">
                      </option>
                   </select>
               </div>
             </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-xs-3 col-sm-2">
                    <a class="btn btn-primary center-block"
                       onclick="$('#searchForm').submit()"
                       th:text="#{common.text.search}">検索
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <a class="btn btn-warning center-block"
                       th:href="@{/musicalpieceSearch}"
                       th:text="#{common.text.reset}">リセット
                   </a>
                </div>
           </div>
        </form>

        <!-- 検索結果の表示 -->
        <section id="resultArea" th:if="${arianamainList != null}">
          <table id="resultTable" class="table table-borderd table-striped table-hover">
                <thead>
                    <tr>
                        <th class="per-12 center" th:text="#{music.text.singlename}">曲名</th>
                        <th class="per-12 center" th:text="#{music.text.albumname}">収録アルバム</th>
                        <th class="per-16 center" th:text="#{music.text.colaboname}">コラボアーティスト</th>
                        <th class="per-16 center" th:text="#{music.text.year.and.time}">発売年/再生時間</th>
                        <th class="per-7 center" th:text="#{common.text.update}">更新</th>
                        <th class="per-7 center" th:text="#{common.text.delete}">削除</th>
                    </tr>
                </thead>
                 <tbody>
                    <tr th:each="arianamain: ${arianamainList}">
                        <td class="data center"
                            th:text="${arianamain.singleTitle}">God is a woman</td>
                        <td class="data center">
                            <label th:if="${arianamain.albumRuike.albumName != null}"
                                   th:text="${arianamain.albumRuike.albumName}"
                                  class="data center">Sweetener</label>
                        </td>
                        <td class="data center">
                            <label th:if="${arianamain.colaboRuike.colaboName != null}"
                                   th:text="${arianamain.colaboRuike.colaboName}"
                                   class="data center">No one Collaborated</label>
                        </td>
                        <td class="data center">
                            <label th:if="${arianamain.playTime != null}"
                                   th:text="${arianamain.releaseYear}+'年/'+${arianamain.playTime}+'秒'"
                                   class="data center">2018/197秒</label>
                        </td>
                        <td class="data">
                            <a class="btn btn-success"
                                th:href="@{/musicalpieceSearch/update(id=${arianamain.singleId})}"
                                th:text="#{common.text.update}">更新</a></td>
                        <td class="data center">
                            <a class="btn btn-danger" style="margin-left: 5%"
                                data-toggle="modal" data-target="#deleteModal"
                                th:text="#{common.text.delete}"
                                th:attr="data-id=${arianamain.singleId}, data-title=${arianamain.singleTitle}">削除</a>
                        </td>
                   </tr>
                 </tbody>
          </table>
        </section>

        <!-- ページング用 -->
	    <div th:fragment='paginationbar'>
		    <p th:if="${page != null}">
			  <ul>
				<li th:class="${page.first} ? 'disabled':''" style="display: inline">
                    <span th:if="${page.first}"
                          th:text="#{common.text.paging.lead}">←lead</span>
                    <a th:if="${not page.first}"
                       onclick="$('#pageForm0').submit()"
                       th:text="#{common.text.paging.lead}">←lead</a>
				</li>
				<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
                    th:class="(${i}==${page.number})? 'active' : ''"
                    style="display: inline">
                    <form th:id="'pageForm'+${i}"
                          method="post"
                          th:action="@{${url}(page=${i})}"
                          th:object="${musicalpieceSearchMainForm}"
                          style="display: inline">
                        <input type="hidden" th:field="*{singleTitle}"/>
                        <input type="hidden" th:field="*{albumId}"/>
                        <input type="hidden" th:field="*{colaboId}" />
                    </form>
                    <span th:if='${i}==${page.number}'
                          th:text='${i+1}'>1</span>
                    <a th:if='${i}!=${page.number}'
                       th:onclick="'$(\'#pageForm'+${i}+'\').submit()'">
                        <span th:text='${i+1}'>1</span>
                    </a>
                </li>
                <li th:class="${page.last} ? 'disabled':''" style="display: inline">
                    <span th:if="${page.last}"
                          th:text="#{common.text.paging.end}">end➝</span>
                    <a th:if="${not page.last}"
                       th:onclick="'$(\'#pageForm'+(${page.totalPages}-1)+'\').submit()'"
                       th:text="#{common.text.paging.end}">end➝</a>
                </li>
              </ul>
            </p>
        </div>
        <script type="text/javascript"
                src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
        <script th:src="@{/libs/jquery/jquery.js}"></script>
 </body>
</html>