<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修｜曲名追加</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/kyarySahota.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a>
				<small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{kyary.text.insert}">KyaryInsert</h1>
				<a th:href="@{/kyarySahota}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="kyarySahotaInputForm"
				th:action="@{/kyarySahota/insert}" th:object="${kyarySahotaInputForm}"
				class="form-horizontal">
				<div class="form-group">
					<label for="songTitle" class="control-label"
						th:text="#{kyary.text.input.songTitle.require}">曲名(*):</label>
					<input type="text" th:field="*{songTitle}" class="form-control"
						th:placeholder="#{kyary.text.songTitle}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('songTitle')}"
						th:text="#{${err}(#{kyary.text.songTitle})}"></p>
				</div>
				<div class="form-group">
					<label for="cdName" class="control-label"
						th:text="#{kyary.text.input.cdName}">CD名:</label>
					<select name="nameId" id="inputCdName"
						class="form-control select">
						<option th:each="cdName : ${cdNameSahotaList}"
								th:value="${cdName.nameId}"
								th:text="${cdName.name}"
								th:selected="${cdName.nameId == kyarySahotaInputForm.nameId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="cdType" class="control-label"
						th:text="#{kyary.text.input.cdType}">CD形態:</label>
					<select name="typeId" id="inputCdType"
						class="form-control select">
						<option th:each="cdType : ${cdTypeSahotaList}"
								th:value="${cdType.typeId}"
								th:text="${cdType.cdType}"
								th:selected="${cdType.typeId == kyarySahotaInputForm.typeId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="releaseYear" class="control-label"
						th:text="#{kyary.text.input.releaseYear}">リリース:</label>
					<input type="text" th:field="*{releaseYearStr}" class="form-control" id="inputReleaseYear"
						th:placeholder="#{kyary.text.input.releaseYear}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('releaseYearStr')}"
						th:text="#{${err}(#{kyary.text.releaseYear})}"></p>
				</div>
				<div class="form-group">
					<label for="songTime" class="control-label"
						th:text="#{kyary.text.input.songTime}">時間:</label>
					<input type="text" th:feild="*{songTime}" class="form-control" id="inputSongTime"
						th:placeholder="#{kyary.text.input.songTime}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('songTime')}"
						th:text="#{${err}(#{kyary.text.songTime})}"></p>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{kyary.text.input.comment}">コメント:</label>
					<textarea th:field="*{comment}" rows="5" cols=""
						class="form-control" id="inputComment"
						th:placeholder="#{kyary.text.input.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#kyarySahotaInputForm').submit()"
						th:text="#{common.text.insert}">Insert</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>