<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修 | 世界遺産完全削除</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/heritage.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
					th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="sub-header">
			<h1 align="center" th:text="#{heritage.text.delete}">世界遺産削除</h1>
			<a th:href="@{/heritage}" th:text="#{common.text.back}">Back</a>
		</div>

		<!-- 削除対象データ -->
		<form class="form-horizontal" id="deleteForm"
			action="/heritage/deletecomp" th:object="${heritageDeleteForm}"
			method="post">
			<div th:if="${heritageMainKataokaList != null}">
				<h3 th:text="#{common.text.info.delete.confirm}">選択したデータを完全に削除します</h3>
				<h4 th:each="err : ${#fields.errors('deleteIds')}"
					th:text="#{${err}}" class="err alert-danger">error message</h4>
			</div>
			<div th:if="${heritageMainKataokaList == null}">
				<h3 th:text="#{common.text.info.no.delete}">削除するデータがありません</h3>
			</div>
			<div th:if="${heritageMainKataokaList != null}"
				class="resultArea col-xs-18 col-sm-12 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
				<table id="resultTable"
					class="table table-borderd table-striped table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="allCheck" /></th>
							<th class="per-19 center" th:text="#{heritage.text.heritageName}">登録名</th>
							<th class="per-12 center" th:text="#{heritage.text.genre}">ジャンル</th>
							<th class="per-17 center"
								th:text="#{heritage.text.registrationYear}">更新年</th>
							<th class="per-16 center" th:text="#{heritage.text.location}">所在地</th>
							<th class="per-16 center" th:text="#{heritage.text.remarks">備考</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="heritage : ${heritageMainKataokaList}">
							<td><label> <input type="checkbox"
									style="margin-left: 50%" th:field="*{deleteIds}"
									th:value="${heritage.id}" />
							</label></td>
							<td class="data center" th:text="${heritage.heritageName}">原爆ドーム

							</td>
							<td class="data center"><label
								th:if="${heritage.genreKataoka != null}"
								th:text="${heritage.genreKataoka.genre}" class="data center">文化遺産</label>
							</td>
							<td class="data center"><label
								th:if="${heritage.locationKataoka != null}"
								th:text="${heritage.locationKataoka.location}"
								class="data center">広島</label></td>
							<td class="data center"><label
								th:if="${heritage.registrationYear != null}"
								th:text="${heritage.registrationYear}+'年'" class="data center">1996年</label></td>
							<td class="data center" th:text="${electronics.remarks}">負の世界遺産</td>
						</tr>

					</tbody>
				</table>
				<div>
					<a class="btn btn-danger center-block"
						onclick="$('#deleteForm').submit()"
						th:text="#{common.text.delete}"> </a>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
	<script>
		$('#allCheck').on('change', function() {
			$('input[name=deleteIds]').prop('checked', this.checked);
		});
	</script>
</body>
</html>