<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|世界遺産追加</title>
<script type="text/javascript"
	src="httRps://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/heritage.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
					th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div
			class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{heritage.text.insert}">追加画面</h1>
				<a th:href="@{/heritage}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="heritageInputForm"
				th:action="@{/heritage/insert}"
				th:object="${heritageInputForm}" class="form-horizontal">
				<div class="form-group">
					<label for="heritageName" class="control-label"
						th:text="#{heritage.text.input.heritageName.require}"> 登録名(*):</label> <input
						type="text" th:field="*{heritageName}" class="form-control"
						th:placeholder="#{heritage.text.heritageName}" />
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('heritageName')}"
						th:text="#{${err}(#{heritage.text.heritageName})}"></p>
				</div>
				<div class="form-group">
					<label for="genre" class="control-label"
						th:text="#{heritage.text.input.genre}"> ジャンル:</label> <select
						name="genreId" id="inputGenre" class="form-control select">
						<option th:each="genre : ${genreKataokaList}"
							th:value="${genre.id}" th:text="${genre.genre}"
							th:selected="${genre.id == heritageInputForm.genreId}">pulldown</option>
					</select>
				</div>

				<div class="form-group">
					<label for="registrationYear" class="control-label"
						th:text="#{heritage.text.input.registrationYear}">
						更新年:</label> <input type="text" th:field="*{registrationYearStr}"
						class="form-control" id="inputRegistrationYear"
						th:placeholder="#{heritage.text.registrationYear}" />
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('registrationYearStr')}"
						th:text="#{${err}(#{heritage.text.registrationYear})}"></p>
				</div>

				<div class="form-group">
					<label for="location" class="control-label"
						th:text="#{heritage.text.input.locationId1}"> 所在地1:</label> <select
						name="locationId1" id="inputLocationId1" class="form-control">
						<option th:each="location : ${locationKataokaList}" th:value="${location.id}"
							th:text="${location.location}"
							th:selected="${location.id == heritageInputForm.locationId1}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="location" class="control-label"
						th:text="#{heritage.text.input.locationId2}"> 所在地2:</label> <select
						name="locationId2" id="inputLocationId2" class="form-control">
						<option th:each="location : ${locationKataokaList}" th:value="${location.id}"
							th:text="${location.location}"
							th:selected="${location.id== heritageInputForm.locationId2}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="location" class="control-label"
						th:text="#{heritage.text.input.locationId3}"> 所在地3:</label> <select
						name="locationId3" id="inputLocation" class="form-control">
						<option th:each="location: ${locationKataokaList}" th:value="${location.id}"
							th:text="${location.location}"
							th:selected="${location.id == heritageInputForm.locationId3}">pulldown</option>
					</select>
				</div>

				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{heritage.text.input.remarks}"> 備考:</label>
					<textarea th:field="*{remarks}" cols="" rows="5"
						class="form-control" id="inputRemarks"
						th:placeholder="#{heritage.text.remarks}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#heritageInputForm').submit()"
						th:text="#{common.text.insert}">Insert</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>