<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|世界遺産検索</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/heritage.css}" />
<body>
	<div class="page-header">
		<h4>
			<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
				th:text="#{login.text.version}">ver β</small>
		</h4>
	</div>
	<div class="sub-header">
		<a th:href="@{/menu}" th:text="#{common.text.back}">Back</a><br />
		<h1 align="center" th:text="#{heritage.text.search}">世界遺産検索</h1>
	</div>
	<!-- <marquee>
		<a href="https://jp.iherb.com/search?kw=WHEY">
		<img width="300" height="160" alt="gif" src="/izawaimage/run2.gif"></img>
		</a>
	</marquee>
	 -->
	<!-- 新規・削除ボタン -->
	<div style="position: relative; left: 20px">
		<form class="form-horizontal" id="deleteCompForm" method="get"
			action="/heritage/deletecomp" th:object="${heritageSearchForm}">
			<div class="form-group">
				<div class="col-sm-8">
					<input type="hidden" name="isDelete" th:value="1" />
				</div>
			</div>
		</form>
		<div class="form-group">
			<div class="">
				<a class="btn btn-warning" th:href="@{/heritage/insert}"
					th:text="#{common.text.new}">New </a> <a class="btn btn-danger"
					onclick="$('#deleteCompForm').submit()"
					th:text="#{common.text.unnecessary}">UnnecessaryData </a>
			</div>
		</div>
	</div>
	<div class="container">

		<!-- メッセージ -->
		<div class="row">
			<div class="col-sm-offset-3 col-sm-7">

				<!-- 検索結果なし -->
				<div class="alert alert-info text-center" role="alert"
					th:if="${(heritageSearchForm.heritageName != null or
							heritageSearchForm.genreId != null or
							heritageSearchForm.locationId != null) and
							heritageList == null}"
					th:text="#{common.text.info.search}">No Result</div>

				<!-- DB操作後 -->
				<div class="alert alert-info text-center" role="alert"
					th:if="${param.result != null}">
					<div th:switch="${param.result[0]}">
						<p th:case="insert"
							th:text="#{common.text.info.insert} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="update"
							th:text="#{common.text.info.update} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="updatefailed"
							th:text="#{common.text.info.update.failed}"></p>
						<p th:case="delete"
							th:text="#{common.text.info.delete} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="deletecomp" th:text="#{common.text.info.deletecomp}"></p>
					</div>
				</div>
			</div>
		</div>

		<!-- 検索条件 -->
		<form class="form-horizontal" id="searchForm" method="post"
			action="/heritage/search" th:object="${heritageSearchForm}">
			<div class="form-group">
				<label for="heritageName" class="col-sm-2 control-label"
					th:text="#{heritage.text1.input.heritageName.require}">登録名:</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{heritageName}" class="form-control"
						id="inputHeritageName"
						th:placeholder="#{heritage.text.search.info}" />
				</div>
			</div>
			<div class="form-group">
				<label for="genre" class="control-label col-sm-2"
					th:text="#{heritage.text1.input.genre}">ジャンル:</label>
				<div class="col-sm-8">
					<select id="inputgenre" name="genreId" class="form-control select">
						<option th:each="genre : ${genreKataokaList}"
							th:value="${genre.id}" th:text="${genre.genre}"
							th:selected="${genre.id == heritageSearchForm.genreId}">pulldown</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="location" class="control-label col-sm-2"
					th:text="#{heritage.text.input.location}">所在地:</label>
				<div class="col-sm-8">
					<select id="inputLocation" name="locationId"
						class="form-control select">
						<option th:each="location : ${locationKataokaList}"
							th:value="${location.id}" th:text="${location.location}"
							th:selected="${location.id == heritageSearchForm.locationId}">pulldown</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-xs-3 col-sm-2">
					<a class="btn btn-primary center-block"
						onclick="$('#searchForm').submit()"
						th:text="#{common.text.search}">Search </a>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-warning center-block" th:href="@{/heritage}"
						th:text="#{common.text.reset}">Reset </a>
				</div>
			</div>
		</form>

		<!-- 検索結果の表示 -->
		<section id="resultArea" th:if="${heritageList != null}">
			<table id="resultTable"
				class="table table-borderd table-striped table-hover">
				<thead>
					<tr>
						<th class="per-16 center" th:text="#{heritage.text.image}">写真</th>
						<th class="per-12 center" th:text="#{heritage.text.heritageName}">Title</th>
						<th class="per-12 center" th:text="#{heritage.text.genre}">ジャンル</th>
						<th class="per-16 center" th:text="#{heritage.text.registrationYear}">更新年</th>
						<th class="per-16 center" th:text="#{heritage.text.location}">所在地</th>
						<th class="per-45 center" th:text="#{heritage.text.remarks}">備考</th>
						<th class="per-7 center" th:text="#{common.text.update}">Update</th>
						<th class="per-7 center" th:text="#{common.text.delete}">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="heritage : ${heritageList}">
						<td class="data center"><img th:src="@{${heritage.image}}"></img>
						<td class="data center" th:text="${heritage.heritageName}">原爆ドーム
						</td>
						<td class="data center"><label
							th:if="${heritage.genreKataoka != null}"
							th:text="${heritage.genreKataoka.genre}" class="data center">文化遺産</label>
						</td>
						<td class="data center"><label
							th:if="${heritage.registrationYear != null}"
							th:text="${heritage.registrationYear}+'年'" class="data center">更新年</label>
						</td>



						<td class="data center"><label
							th:if="${heritage.locationKataoka1!= null}"
							th:text="${heritage.locationDisp}" class="data center">広島県</label>
						</td>
<!--
  		 			<td class="data center"><label
							th:if="${heritage.locationKataoka1!= null and (heritage.locationKataoka2!= null)}"
							th:text="${heritage.locationKataoka1.location}+'/'+${heritage.locationKataoka2.location}"
							class="data center">広島/広島</label></td>

						<td class="data center"><label
							th:if="${heritage.locationKataoka1!= null and (heritage.locationKataoka2!= null)and(heritage.locationKataoka3!= null)}"
							th:text="${heritage.locationKataoka1.location}+'/'+${heritage.locationKataoka2.location}+'/'+
							${heritage.locationKataoka3.location}"
							class="data center">広島/広島/広島</label></td>


	  	  				<td class="data center"><label
							th:if="${heritage.locationKataoka1!= null and(heritage.locationKataoka2!= null)and(heritage.locationKataoka3!= null)and(heritage.locationKataoka4!= null)}"
							th:text="${heritage.locationKataoka1.location}+'/'+${heritage.locationKataoka2.location}+'/'+
							${heritage.locationKataoka3.location}+'/'+${heritage.locationKataoka4.location}"
							class="data center">広島/広島/広島/広島</label></td>
						<td class="data center"><label
							th:if="${heritage.locationKataoka1!= null and(heritage.locationKataoka2!= null)and(heritage.locationKataoka3!= null)and(heritage.locationKataoka4!= null)and(heritage.locationKataoka5!= null)}"
							th:text="${heritage.locationKataoka1.location}+'/'+${heritage.locationKataoka2.location}+'/'+
							${heritage.locationKataoka3.location}+'/'+${heritage.locationKataoka4.location}+'/'+${heritage.locationKataoka5.location}"
							class="data center">広島/広島/広島/広島/広島</label></td>

						<td class="data center"><label
							th:if="${heritage.locationKataoka1!= null and(heritage.locationKataoka2!= null)and(heritage.locationKataoka3!= null)and(heritage.locationKataoka4!= null)and(heritage.locationKataoka5!= null)and(heritage.locationKataoka6!= null)}"
							th:text="${heritage.locationKataoka1.location}+'/'+${heritage.locationKataoka2.location}+'/'+
							${heritage.locationKataoka3.location}+'/'+${heritage.locationKataoka4.location}+'/'+${heritage.locationKataoka5.location}+'/'+${heritage.locationKataoka6.location}"
							class="data center">広島/広島/広島/広島/広島/広島</label></td>

						<td class="data center"><label
							th:if="${heritage.locationKataoka1!= null and(heritage.locationKataoka2!= null)and(heritage.locationKataoka3!= null)and(heritage.locationKataoka4!= null)and(heritage.locationKataoka5!= null)and(heritage.locationKataoka6!= null)and(heritage.locationKataoka7!= null)}"
							th:text="${heritage.locationKataoka1.location}+'/'+${heritage.locationKataoka2.location}+'/'+${heritage.locationKataoka3.location}+'/'+${heritage.locationKataoka4.location}+'/'+
							${heritage.locationKataoka5.location}+'/'+${heritage.locationKataoka6.location}+'/'+${heritage.locationKataoka7.location}"
							class="data center">広島/広島/広島/広島/広島/広島/広島</label></td>

						<td class="data center"><label
							th:if="${heritage.locationKataoka1!= null and(heritage.locationKataoka2!= null)and(heritage.locationKataoka3!= null)and(heritage.locationKataoka4!= null)and(heritage.locationKataoka5!= null)and(heritage.locationKataoka6!= null)and(heritage.locationKataoka7!= null)and(heritage.locationKataoka8!= null)}"
							th:text="${heritage.locationKataoka1.location}+'/'+${heritage.locationKataoka2.location}+'/'+${heritage.locationKataoka3.location}+'/'+${heritage.locationKataoka4.location}
							+'/'+${heritage.locationKataoka5.location}+'/'+${heritage.locationKataoka6.location}+'/'+${heritage.locationKataoka7.location}+'/'+${heritage.locationKataoka8.location}"
							class="data center">広島/広島/広島/広島/広島/広島/広島/広島</label></td>
 -->
						<!--  	<td class="data center"><label
							th:if="${heritage.locationKataoka1!= null}"
							th:each="i : ${#numbers.sequence(1, 8)}"
							for文で１^８で回す
							フィールドに値が入っていればスラッシュ区切りで連結
							class="data center">広島/広島/広島/広島/広島/広島/広島/広島</label></td>
-->

<!--
						<td class="data center"><label
							th:if="${heritage.locationKataoka2!= null}"
							th:text="${heritage.locationKataoka2.location}" class="data center">広島県</label>
						</td>

						<td class="data center"><label
							th:if="${heritage.locationKataoka3!= null}"
							th:text="${heritage.locationKataoka3.location}" class="data center">広島県</label>
						</td>

						<td class="data center"><label
							th:if="${heritage.locationKataoka4!= null}"
							th:text="${heritage.locationKataoka4.location}" class="data center">広島県</label>
						</td>

						<td class="data center"><label
							th:if="${heritage.locationKataoka5!= null}"
							th:text="${heritage.locationKataoka5.location}" class="data center">広島県</label>
						</td>

						<td class="data center"><label
							th:if="${heritage.locationKataoka6!= null}"
							th:text="${heritage.locationKataoka6.location}" class="data center">広島県</label>
						</td>

						<td class="data center"><label
							th:if="${heritage.locationKataoka7!= null}"
							th:text="${heritage.locationKataoka7.location}" class="data center">広島県</label>
						</td>

						<td class="data center"><label
							th:if="${heritage.locationKataoka8!= null}"
							th:text="${heritage.locationKataoka8.location}" class="data center">広島県</label>
						</td>
						-->


						<td class="data center" th:text="${heritage.remarks}">負の世界遺産</td>
						<td class="data"><a class="btn btn-success"
							th:href="@{/heritage/update(id=${heritage.id})}"
							th:text="#{common.text.update}">Update</a></td>
						<td class="data center"><a class="btn btn-danger"
							style="margin-left: 5%" data-toggle="modal"
							data-target="#deleteModal" th:text="#{common.text.delete}"
							th:attr="data-id=${heritage.id}, data-title=${heritage.heritageName}">Delete</a></td>
						</td>
						</tr>
				</tbody>

			</table>
		</section>

		<!-- ページング用 -->
		<div th:fragment='paginationbar'>
			<p th:if="${page != null}">
			<ul>
				<li th:class="${page.first} ? 'disabled':''" style="display: inline">
					<span th:if="${page.first}" th:text="#{common.text.paging.lead}">←lead</span>
					<a th:if="${not page.first}" onclick="$('#pageForm0').submit()"
					th:text="#{common.text.paging.lead}">←lead</a>
				</li>
				<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
					th:class="(${i}==${page.number})? 'active' : ''"
					style="display: inline">
					<form th:id="'pageForm'+${i}" method="post"
						th:action="@{${url}(page=${i})}" th:object="${heritageSearchForm}"
						style="display: inline">
						<input type="hidden" th:field="*{heritageName}" /> <input
							type="hidden" th:field="*{genreId}" /> <input type="hidden"
							th:field="*{genreId}" />
					</form> <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span> <a
					th:if='${i}!=${page.number}'
					th:onclick="'$(\'#pageForm'+${i}+'\').submit()'"> <span
						th:text='${i+1}'>1</span>
				</a>
				</li>
				<li th:class="${page.last} ? 'disabled':''" style="display: inline">
					<span th:if="${page.last}" th:text="#{common.text.paging.end}">end➝</span>
					<a th:if="${not page.last}"
					th:onclick="'$(\'#pageForm'+(${page.totalPages}-1)+'\').submit()'"
					th:text="#{common.text.paging.end}">end➝</a>
				</li>
			</ul>
			</p>
		</div>
	</div>

	<!-- 削除モーダル -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
		aria-labelledby="deleteModalLabel">
		<div class="modal-dialog" role="document">
			<form class="form-horizontal" id="deleteForm" th:method="get"
				th:action="@{delete}">
				<div class="modal-content">
					<input type="hidden" id="deleteId" name="id" />
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="deleteModalLabel"
							th:text="#{heritage.text.delete}">heritageDelete</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<p class="lead">
									<span id="deleteTitle">heritage Title</span>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="alert alert-danger" role="alert">
									<span class="glyphicon glyphicon-exclamation-sign"
										aria-hidden="true"></span> <span
										th:text="#{common.text.warn.delete(#{menu.text.heritage})}"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" th:text="#{common.text.cansel}"
							data-dismiss="modal">Cancel </a> <a class="btn btn-danger"
							onclick="$('#deleteForm').submit()"
							th:text="#{common.text.delete}">Delete </a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="bogoCount" class="panel-clear"></div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>

	<!-- 削除モーダル用スクリプト -->
	<script>
		$('#deleteModal').on('show.bs.modal', function(event) {
			var button = $(event.relatedTarget);
			var heritageId = button.data('id');
			var heritageTitle = button.data('title');
			var modal = $(this);
			modal.find('#deleteId').attr("value", heritageId);
			modal.find('#deleteTitle').text(heritageTitle);
		});
	</script>
</body>
</html>
