<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|チャンピオン追加</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/championTiba.css}" />
<body class="iback">
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
					th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div
			class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-offset-2">
			<div class="sub-header">
				<h1 align="center" th:text="#{champion.text.insert}">ChampionInsert</h1>
				<a th:href="@{/champion}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="championTibaInputForm"
				th:action="@{/championtiba/insert}" th:object="${championTibaInputForm}"
				class="form-horizontal" enctype="multipart/form-data">
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{champion.text.input.name}">Name(*)</label> <input
						type="text" th:field="*{championName}" class="form-control"
						th:placeholder="#{champion.text.name}" />
					<p class="err alert-danger"
						th:each="err:${#fields.errors('championName')}"
						th:text="#{${err}(#{champion.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="class" class="control-label"
						th:text="#{champion.text.input.classtiba}">Class</label>
						<select name="classId" id="inputClasstiba" class="form-control select">
							<option th:each="classTiba:${classTibaList}" th:value="${classTiba.id}"
							th:text="${classTiba.classtiba}"
							th:selected="${classTiba.id==championTibaInputForm.classId}">pulldown</option>
						</select>
				</div>
				<div class="form-group">
				<label for="country" class="control-label"
				th:text="#{champion.text.input.country}">Country:</label>
						<select name="countryId" id="inputCountry" class="form-control">
						<option th:each="country:${countryTibaList}"
							th:value="${country.id}" th:text="${country.country}"
							th:selected="${country.id==championTibaInputForm.countryId}">pulldown</option>
					</select>
					<select>
					</select>
				</div>
				<div class="form-group">
					<label for="achievement" class="control-label"
						th:text="#{champion.text.input.achievement}">FormationYear:</label>
					<input type="text" th:field="*{achievement}"
						class="form-control" id="inputAchievement"
						th:placeholder="#{champion.text.achievement}" />
					<p class="err alert-danger"
						th:each="err:${#fields.errors('achievement')}"
						th:text="#{${err}(#{champion.text.achievement)}"></p>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{champion.text.input.comment}">Comment:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{champion.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#championTibaInputForm').submit()"
						th:text="#{common.text.insert}">Insert</a>
				</div>
			</form>
		</div>
	</div>

</body>
</html>