<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|BOØWYの曲追加</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/boowyWaki.css}" />

</head>
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{boowy.text.insert}">BoowySongInsert</h1>
				<a th:href="@{/boowywaki}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="boowyWakiInputForm"
			th:action="@{/boowywaki/insert}" th:object="${boowyWakiInputForm}"
			class="form-horizontal">
			<!-- 曲名 必須 -->
			<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{boowy.text.insert.name}">Name(*)</label>
					<input type="text" th:field="*{name}" class="form-control"
						th:placeholder="#{boowy.text.insert.nameInfo}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('name')}"
						th:text="#{${err}(#{boowy.text.name})}"></p>
				</div>
			<!-- リリース日 -->
			<div class="form-group">
					<label for="releaseDate" class="control-label"
						th:text="#{boowy.text.insert.releaseDate}">ReleaseDate:</label>
					<input type="text" th:field="*{releaseDate}" class="form-control"
						th:placeholder="#{boowy.text.insert.dateEx}" />
				</div>
			<!-- ジャンル プルダウン-->
			<div class="form-group">
					<label for="genre" class="control-label"
						th:text="#{boowy.text.insert.genre}"> Genre:</label>
					<select name="genreId" id="inputGenre"
					class="form-control select">
					<option th:each="genre : ${genreWakiList}"
							th:value="${genre.id}"
							th:text="${genre.genre}"
							th:selected="${genre.id == boowyWakiInputForm.genreId}">pulldown</option>
					</select>
				</div>
			<!-- 曲の長さ -->
			<div class="form-group">
					<label for="length" class="control-label"
						th:text="#{boowy.text.insert.length}"> Length:</label>
					<input type="text" th:field="*{length}" class="form-control"
						th:placeholder="#{boowy.text.insert.lengthEx}" />
				</div>
			<!-- 作詞者 プルダウン-->
			<div class="form-group">
					<label for="songwriter" class="control-label"
						th:text="#{boowy.text.insert.songwriter}"> Songwriter:</label>
					<select name="songwriterId" id="inputSongwriter"
					class="form-control select">
					<option th:each="songwriter : ${songwriterWakiList}"
							th:value="${songwriter.id}"
							th:text="${songwriter.songwriter}"
							th:selected="${songwriter.id == boowyWakiInputForm.songwriterId}">pulldown</option>
					</select>
				</div>
			<!-- コメント -->
			<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{boowy.text.insert.comment}"> Comment:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{boowy.text.insert.commentInfo}"></textarea>
				</div>
			<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#boowyWakiInputForm').submit()"
						th:text="#{boowy.text.insert.submit}">Insert</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>