<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修 |男性声優データ更新</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/voiceActorKoba.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{voiceActor.text.update}">男性声優</h1>
				<a th:href="@{/voiceactorkoba}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="voiceActorKobaInputForm"
				th:action="@{/voiceactorkoba/update}" th:object="${voiceActorKobaInputForm}"
				class="form-horizontal" enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}"/>

				<!-- ActorName 声優名 -->
				<div class="form-group">
					<label for="actorName" class="control-label"
						th:text="#{voiceActor.text.input.actorName.riquire}"> ActorName(*):</label>
					<input type="text" th:field="*{actorName}" class="form-control"
						th:placeholder="#{voiceActor.text.actorName}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('actorName')}"
						th:text="#{${err}(#{voiceActor.text.actorName})}"></p>
				</div>
				<!-- Image 写真 -->
				<div class="form-group">
					<div>
						<label for="image" class="control-label"
							th:text="#{voiceActor.text.input.image}"> Image:</label>
						<input type="file" th:field="*{Image}" class="form-control"
							th:placeholder="#{voiceActor.text.image}" />
						<span th:text="#{voiceActor.text.input.image.attention}">※画像を変更しない場合は「ファイルを選択」ボタンを押さないでください。</span>
					</div>
				</div>
				<!-- Birthday 誕生日 -->
				<div class="form-group">
					<label for="birthday" class="control-label"
						th:text="#{voiceActor.text.input.birthday}"> Birthday:</label>
					<input type="text" th:field="*{birthday}" class="form-control" id="inputBirthday"
						th:placeholder="#{voiceActor.text.birthday}" />
				</div>
				<!-- From 出身地 -->
				<div class="form-group">
					<label for="fromName" class="control-label"
						th:text="#{voiceActor.text.input.fromName}"> From:</label>
					<select name="fromId" id="inputFromName"
						class="form-control select">
						<option th:each="fromName : ${fromKobaList}"
								th:value="${fromName.fromId}"
								th:text="${fromName.fromName}"
								th:selected="${fromName.fromId == voiceActorKobaInputForm.fromId}">pulldown</option>
					</select>
				</div>
				<!-- Office 事務所 -->
				<div class="form-group">
					<label for="officeName" class="control-label"
						th:text="#{voiceActor.text.input.officeName}"> Office:</label>
					<select name="officeId" id="inputOfficeName"
						class="form-control select">
						<option th:each="office : ${officeKobaList}"
							th:value="${officeName.officeId}"
							th:text="${officeName.officeName}"
							th:selected="${officeName.officeId == voiceActorKobaInputForm.officeId}">pulldown</option>
					</select>
				</div>
				<!-- Anime アニメタイトル -->
				<div class="form-group">
					<label for="animeName" class="control-label"
						th:text="#{voiceActor.text.input.aniemeName.riquire}"> Anime(*):</label>
					<input type="text" th:field="*{animeName}" class="form-control"
						th:placeholder="#{voiceActor.text.animeName}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('animeName')}"
						th:text="#{${err}(#{voiceActor.text.animeName})}"></p>
				</div>
				<!-- Character キャラクター -->
				<!-- <div class="form-group">
					<label for="characteName" class="control-label"
						th:text="#{voiceActor.text.input.characteName.riquire}"> Characte(*):</label>
					<input type="text" th:field="*{characteName}" class="form-control"
						th:placeholder="#{voiceActor.text.characteName}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('characteName')}"
						th:text="#{${err}(#{voiceActor.text.characteName})}"></p>
				</div> -->
				<!-- Comment コメント -->
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{voiceActor.text.input.comment}"> Comment:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{voiceActor.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#voiceActorKobaInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>