<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html;  charset=UTF-8" />
<title>Webアプリ研修|ポケモン検索</title>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/pokemonJsuzuki.css}" />

</head>
<body>
	<div class="page-header">
		<h4>
			<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
				th:text="#{login.text.version}">ver γ</small>
		</h4>
	</div>
	<div class="sub-header">
		<a th:href="@{/menu}" th:text="#{common.text.back}">Back</a><br />
		<h1 align="center" th:text="#{pokemon.text.search}">PokemonSearch</h1>
	</div>

	<!-- 新規・削除ボタン -->
	<div style="position: relative; left: 30px">
		<form class="form-horizontal" id="deleteCompForm"
			method="get" action="/pokemonJsuzuki/deletecomp"
			th:object="${pokemonJsuzukiSearchForm}">
			<div class="form-group">
				<div class="col-sm-8">
					<input type="hidden" name="isDelete" th:value="1"  />
				</div>
			</div>
		</form>
		<div class="form-group">
			<div class="" >
				<a class="btn btn-warning"
					th:href="@{/pokemonJsuzuki/insert}"
					th:text="#{common.text.new}" >New
				</a>
				<a class="btn btn-danger"
					onclick="$('#deleteCompForm').submit()"
					th:text="#{common.text.unnecessary}">UnnecessaryData
				</a>
			</div>
		</div>
	</div>
	<div class="container">

		<!-- メッセージ -->
		<div class="row">
			<div class="col-sm-offset-3 col-sm-7">

				<!-- 検索結果なし -->
				<div class="alert alert-info text-center" role="alert"
					th:if="${(pokemonJsuzukiSearchForm.pokemonName != null or
							pokemonJsuzukiSearchForm.type1Id != null or
							pokemonJsuzukiSearchForm.type2Id != null or
							pokemonJsuzukiSearchForm.areaId != null) and
							pokemonJsuzukiList == null}"
					th:text="#{common.text.info.search}">No Result
				</div>

				<!-- DB操作後 -->
				<div class="alert alert-info text-center" role="alert"
					th:if="${param.result != null}">
					<div th:switch="${param.result[0]}">
						<p th:case="insert"
							th:text="#{common.text.info.insert} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="update"
							th:text="#{common.text.info.update} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="updatefailed"
							th:text="#{common.text.info.update.failed}"></p>
						<p th:case="delete"
							th:text="#{common.text.info.delete} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="deletecomp" th:text="#{common.text.info.deletecomp}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 検索条件 -->
	<form class="form-horizontal" id="searchForm" method="post"
		action="/pokemonJsuzuki/search"
		th:object="${pokemonJsuzukiSearchForm}">
		<div class="form-group">
			<label for="pokemonName" class="col-sm-2 control-label"
				th:text="#{pokemon.text.input.pokemonName}">登録名： </label>
			<div class="col-sm-8">
				<input type="text" th:field="*{pokemonName}" class="form-control"
					id="inputPokemonName" th:placeholder="#{pokemon.text.search.info}" />
			</div>
		</div>
		<!-- 登場地方選択検索 -->
		<div class="form-group">
			<label for="areaId" class="control-label col-sm-2"
				th:text="#{pokemon.text.input.area}">Area:</label>
			<div class="col-sm-8">
				<select id="inputAreaId" name="areaId" class="form-control select">
					<option th:each="areaId : ${areaIdJsuzukiList}"
						th:value="${areaId.id}" th:text="${areaId.areaId}"
						th:selected="${areaId.id == pokemonJsuzukiSearchForm.areaId}">pulldown</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="typeId" class="control-label col-sm-2"
				th:text="#{pokemon.text.input.type1}">Type1Id: </label>
			<div class="col-sm-8">
				<select id="inputType1Id" name="type1Id"
					class="form-control select">
					<option th:each="typeId : ${typeIdJsuzukiList}"
						th:value="${typeId.id}" th:text="${typeId.typeId}"
						th:selected="${typeId.id == pokemonJsuzukiSearchForm.type1Id}">pulldown</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="typeId" class="control-label col-sm-2"
				th:text="#{pokemon.text.input.type2}">Type2Id: </label>
			<div class="col-sm-8">
				<select id="inputType2Id" name="type2Id"
					class="form-control select">
					<option th:each="typeId : ${typeIdJsuzukiList}"
						th:value="${typeId.id}" th:text="${typeId.typeId}"
						th:selected="${typeId.id == pokemonJsuzukiSearchForm.type2Id}">pulldown</option>
					</select>
			</div>
		</div>

		</form>
		<div class="form-group">
			<div class="col-sm-offset-4 col-xs-3 col-sm-2">
				<a class="btn btn-primary center-block"
					onclick="$('#searchForm').submit()" th:text="#{common.text.search}">Search</a>
			</div>
			<div class="col-xs-3 col-sm-2">
				<a class="btn btn-warning center-block" th:href="@{/pokemonJsuzuki}"
					th:text="#{common.text.reset}">Reset </a>
			</div>
		</div>

		<!-- 検索結果の表示 -->
		<section id="resultArea" th:if="${pokemonJsuzukiList != null}">
			<table id="resultTable"
				class="table table-borderd table-striped table-hover">
				<thead>
					<tr>
						<th class="per-12 center" th:text="#{pokemon.text.pokemonName}">pokemonName</th>
						<th class="per-12 center" th:text="#{pokemon.text.area}">area</th>
						<th class="per-12 center" th:text="#{pokemon.text.type1}">type1</th>
						<th class="per-12 center" th:text="#{pokemon.text.type2}">type2</th>
						<th class="per-12 center" th:text="#{pokemon.text.hp}">hp</th>
						<th class="per-12 center" th:text="#{pokemon.text.attack}">attack</th>
						<th class="per-12 center" th:text="#{pokemon.text.defense}">defense</th>
						<th class="per-12 center" th:text="#{pokemon.text.specialAttack}">specialAttack</th>
						<th class="per-12 center" th:text="#{pokemon.text.specialDefense}">specialDefense</th>
						<th class="per-12 center" th:text="#{pokemon.text.speed}">speed</th>
						<th class="per-12 center" th:text="#{pokemon.text.parameter}">parameter</th>
						<th class="per-7 center" th:text="#{common.text.update}">Update</th>
						<th class="per-7 center" th:text="#{common.text.delete}">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pokemon : ${pokemonJsuzukiList}">
						<td class="data center"
							th:text="${pokemon.pokemonName}"></td>
						<td class="data center">
						<label 	th:if="${pokemon.area != null}"
								th:text="${pokemon.area.areaId}"
								class="data center">
						</label></td>
						<td class="data center">
						<label	th:if="${pokemon.type1 != null}"
								th:text="${pokemon.type1.typeId}"
								class="data center">
						</label></td>

						<td class="data center">
						<label	th:if="${pokemon.type2 != null}"
								th:text="${pokemon.type2.typeId}"
								class="data center">
						</label>
						</td>
						<td class="data center">
						<label th:if="${pokemon.hp != null}" th:text="${pokemon.hp}"
							class="data center">
						</label>
						</td>

						<td class="data center">
						<label th:if="${pokemon.attack != null}" th:text="${pokemon.attack}"
							class="data center">
						</label>
						</td>

						<td class="data center">
						<label th:if="${pokemon.defense != null}" th:text="${pokemon.defense}"
							class="data center">
						</label>
						</td>

						<td class="data center">
						<label th:if="${pokemon.specialAttack != null}" th:text="${pokemon.specialAttack}"
							class="data center">
						</label>
						</td>

						<td class="data center">
						<label th:if="${pokemon.specialDefense != null}" th:text="${pokemon.specialDefense}"
							class="data center">
						</label>
						</td>

						<td class="data center">
						<label th:if="${pokemon.speed != null}" th:text="${pokemon.speed}"
							class="data center">
						</label>
						</td>

						<td class="data center">
						<label th:if="${pokemon.parameter != null}" th:text="${pokemon.parameter}"
							class="data center">
						</label>
						</td>

							<td class="data">
							<a class="btn btn-success"
								th:href="@{/pokemonJsuzuki/update(id=${pokemon.id})}"
                       			th:text="#{common.text.update}">Update</a></td>
						<td class="data center">
							<a class="btn btn-danger" style="margin-left: 5%"
								data-toggle="modal" data-target="#deleteModal"
								th:text="#{common.text.delete}"
								th:attr="data-id=${pokemon.id}, data-pokemonName=${pokemon.pokemonName}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<!-- ページング用 -->
		<div th:fragment='paginationbar'>
			<p th:if="${page != null}">
			<ul>
				<li th:class="${page.first} ? 'disabled':''" style="display: inline">
					<span th:if="${page.first}" th:text="#{common.text.paging.lead}">←lead</span>
					<a th:if="${not page.first}" onclick="$('#pageForm0').submit()"
					th:text="#{common.text.paging.lead}">←lead</a>
				</li>
				<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : ''" style="display: inline">
					<form th:id="'pageForm'+${i}" method="post" th:action="@{${url}(page=${i})}"
						th:object="${pokemonJsuzukiSearchForm}" style="display:inline" >
						<input type="hidden" th:field="*{pokemonName}" />
						<input type="hidden" th:field="*{areaId}" />
						<input type="hidden" th:field="*{type1Id}" />
						<input type="hidden" th:field="*{type2Id}" />

					</form>
					<span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
					<a th:if='${i}!=${page.number}'
					th:onclick="'$(\'#pageForm'+${i}+'\').submit()'">
					<span th:text='${i+1}'>1</span>
					</a>
				</li>
				<li th:class="${page.Last} ? 'disabled':''" style="display: inline">
					<span th:if="${page.Last}" th:text="#{common.text.paging.end}">end→</span>
					<a th:if="${not page.Last}"
					th:onclick="'$(\'#pageForm'+(${page.totalPages}-1)+'\').submit()'"
					th:text="#{common.text.paging.end}">end→</a>
				</li>
			</ul>
			</p>
		</div>
	<div id="bogoCount" class="panel-clear"></div>
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>

<!-- 削除モーダル -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
		<div class="modal-dialog" role="document">
			<form class="form-horizontal" id="deleteForm" th:method="get" th:action="@{delete}">
				<div class="modal-content">
					<input type="hidden" id="deleteId" name="id"/>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-pokemonName" id="deleteModalLabel"
							th:text="#{pokemon.text.delete}">PokemonDelete</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<p class="lead">
									<span id="deletePokemonName">PokemonName</span>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="alert alert-danger" role="alert">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									<span th:text="#{common.text.warn.delete(#{menu.text.pokemon})}"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default"
							th:text="#{common.text.cansel}"
							data-dismiss="modal">Cancel
						</a> <a class="btn btn-danger" onclick="$('#deleteForm').submit()"
							th:text="#{common.text.delete}">Delete </a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="bogoCount" class="panel-clear"></div>
	<script type="text/javascript"  src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>

	<!-- 削除モーダル用スクリプト -->
	<script>
		$('#deleteModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var pokemonId = button.data('id');
			var pokemonName = button.data('Name');
			var modal = $(this);
			modal.find('#deleteId').attr("value", pokemonId);
			modal.find('#deleteName').text(pokemonName);
		});
	</script>

</body>
</html>