<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|楽曲追加</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/musicl.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{musicalComposition.text.insert}">楽曲追加</h1>
				<a th:href="@{/musicalComposition}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="musicalCompositionInputForm"
				th:action="@{/musicalComposition/insert}" th:object="${musicalCompositionInputForm}"
				class="form-horizontal">
				<div class="form-group">
					<label for="title" class="control-label"
						th:text="#{musicalComposition.text.input.title.riquire}"> 楽曲名追加(*):</label>
					<input type="text" th:field="*{title}" class="form-control"
						th:placeholder="#{musicalComposition.text.title}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('title')}"
						th:text="#{${err}(#{musicalComposition.text.title})}"></p>
				</div>
				<div class="form-group">
					<label for="genre" class="control-label"
						th:text="#{musicalComposition.text.input.genre}"> ジャンル:</label>
					<select name="genreId" id="inputGenreTakei"
						class="form-control select">
						<option th:each="genreTakei : ${genreTakeiList}"
								th:value="${genreTakei.genreId}"
								th:text="${genreTakei.genre}"
								th:selected="${genreTakei.genreId == musicalCompositionInputForm.genreId}">pulldown</option>
					</select>
                </div>
				<div class="form-group">
					<label for="album" class="control-label"
						th:text="#{musicalComposition.text.input.albumn}"> アルバム:</label>
					<select name="albumId" id="inputAlbumTakei"
						class="form-control">
						<option th:each="albumTakei : ${albumTakeiList}"
								th:value="${albumTakei.albumId}"
								th:text="${albumTakei.album}"
								th:selected="${albumTakei.albumId == musicalCompositionInputForm.albumId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="theNumberOfEconds" class="control-label"
						th:text="#{musicalComposition.text.input.thenumberofeconds}"> 分数:</label>
					<input type="text" th:field="*{theNumberOfEconds}" class="form-control" id="inputTheNumberOfEconds"
						th:placeholder="#{musicalComposition.text.thenumberofeconds}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('theNumberOfEconds')}"
						th:text="#{${err}(#{musicalComposition.text.thenumberofeconds})}"></p>
				</div>
				<div class="form-group">
					<label for="releaseDay" class="control-label"
						th:text="#{musicalComposition.text.input.releaseday}"> 発売日(必須):</label>
					<input type="text" th:field="*{releaseDay}" class="form-control" id="inputReleaseDay"
						th:placeholder="#{musicalComposition.text.releaseday}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('releaseDay')}"
						th:text="#{${err}(#{musicalComposition.text.releaseDay})}"></p>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{musicalComposition.text.input.comment}"> Comment:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{musicalComposition.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
                    <a class="btn btn-success center-block"
                       onclick="$('#musicalCompositionInputForm').submit()"
                       th:text="#{common.text.insert}">Insert</a>
                </div>
			</form>
		</div>
	</div>
</body>
</html>