<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<title>Webアプリ研修|キャラクター追加</title>
			<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootsrap.min.js"></script>
			<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
	</head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/yugiohOkugawa.css}" />
	<body>
		<div class="container">
			<div class="page-header">
				<h4>
					<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
				</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-ma-offset-2 col-lg-8 col-lg-offset-2">
			<div class="sub-header">
				<h1 align="center" th:text="#{yugioh.text.insert}">YugiohInsert</h1>
				<a th:href="@{/yugiohokugawa}" th:text="#{common.text.back}">Back</a>
			</div>

		<!-- 入力欄 -->
		<form method="post" id="yugiohOkugawaInputForm"
			th:action="@{/yugiohokugawa/insert}" th:object="${yugiohOkugawaInputForm}"
			class="form-horizontal">
			<div class="form-group">
				<label for="name" class="control-label"
					th:text="#{yugioh.text.input.name.riquire}">Name(*):</label>
					<input type="text" th:field="*{name}" class="form-control"
						th:placeholder="#{yugioh.text.name}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('name')}"
						th:text="#{${err}(#{yugioh.text.name})}"></p>
			</div>
			<div class="form-group">
				<label for="series" class="control-label"
					th:text="#{yugioh.text.input.series.riquire}">Series(必須):</label>
				<select name="seriesId" id="inputSeries"
					class="form-control select">
					<option th:each="series : ${seriesOkugawaList}"
							th:value="${series.id}"
							th:text="${series.seriesName}"
							th:selected="${series.id == yugiohOkugawaInputForm.seriesId}">pulldown</option>
					</select>
						<p class="err alert-danger" th:each="err : ${#fields.errors('seriesId')}"
						th:text="#{${err}(#{yugioh.text.series})}"></p>
			</div>
			<div class="form-group">
				<label for="team" class="control-label"
					th:text="#{yugioh.text.input.deck}">Deck:</label>
				<select name="deckId" id="inputDeck"
					class="form-control">
					<option th:each="deck : ${deckOkugawaList}"
							th:value="${deck.id}"
							th:text="${deck.deckAttribute}"
							th:selected="${deck.id == yugiohOkugawaInputForm.deckId}">pulldown</option>
				</select>
			</div>
			<div class="form-group">
				<label for="summons" class="control-label"
					th:text="#{yugioh.text.summons}">Summons:</label>
				<input type="text" th:field="*{summons}" class="form-control" id="inputSummons"
					th:placeholder="#{yugioh.text.summons}" />
			</div>
			<div class="form-group">
				<label for="comment" class="control-label"
					th:text="#{yugioh.text.input.comment}">Comment</label>
				<input type="text" th:field="*{comment}" class="form-control" id="inputComment"
					th:placeholder="#{yugioh.text.comment}" />
			</div>
			<div class="col-xs-3 col-sm-2">
				<a class="btn btn-success center-block"
					onclick="$('#yugiohOkugawaInputForm').submit()"
					th:text="#{common.text.insert}">Insert</a>
			</div>
			</form>
			</div>
		</div>
	</body>
</html>