<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|バンド追加</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/bandSasaki.css}" />
<body class="iback">
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
					th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div
			class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-offset-2">
			<div class="sub-header">
				<h1 align="center" th:text="#{band.text.insert}">BandInsert</h1>
				<a th:href="@{/bandsasaki}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="bandSasakiInputForm"
				th:action="@{/bandsasaki/insert}" th:object="${bandSasakiInputForm}"
				class="form-horizontal" enctype="multipart/form-data">
				<div class="form-group">
					<div>
						<label for="photo" class="control-label"
							th:text="#{band.text.input.photo}"> Photo:</label> <input
							type="file" id="file" th:field="*{photo}" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{band.text.input.name.riquire}">Name(*)</label> <input
						type="text" th:field="*{bandName}" class="form-control"
						th:placeholder="#{band.text.name}" />
					<p class="err alert-danger"
						th:each="err:${#fields.errors('bandName')}"
						th:text="#{${err}(#{band.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="member" class="control-label"
						th:text="#{band.text.input.member}">Member:</label> <select
						name="memberId" id="inputMember" class="form-control select">
						<option th:each="member:${memberSasakiList}" th:value="${member.id}"
							th:text="${member.member}"
							th:selected="${member.id==bandSasakiInputForm.memberId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="birthplace" class="control-label"
						th:text="#{band.text.input.birthplace}">Birthplace:</label> <select
						name="birthplaceId" id="inputBirthplace" class="form-control">
						<option th:each="birthplace:${birthplaceSasakiList}"
							th:value="${birthplace.id}" th:text="${birthplace.birthplace}"
							th:selected="${birthplace.id==bandSasakiInputForm.birthplaceId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="formationYear" class="control-label"
						th:text="#{band.text.input.formationyear}">FormationYear:</label>
					<input type="text" th:field="*{formationYearStr}"
						class="form-control" id="inputFormationYear"
						th:placeholder="#{band.text.formationyear}" />
					<p class="err alert-danger"
						th:each="err:${#fields.errors('formationYearStr')}"
						th:text="#{${err}(#{band.text.formationyear})}"></p>
				</div>
				<div class="form-group">
					<label for="releaseNum" class="control-label"
						th:text="#{band.text.input.releasenum}">ReleaseNum:</label> <input
						type="text" th:field="*{releaseNum}" class="form-control"
						id="inputReleaseNum" th:placeholder="#{band.text.releasenum}" />
					<p class="err alert-danger"
						th:each="err:${#fields.errors('releaseNum')}"
						th:text="#{${err}(#{band.text.releasenum})}"></p>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{band.text.input.comment}">Comment:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{band.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#bandSasakiInputForm').submit()"
						th:text="#{common.text.insert}">Insert</a>
				</div>
			</form>
		</div>
	</div>
	<!-- Photoスクリプト -->
	<script>
		var obj = document.getElementById("file");

		obj.addEventListener("change",function (evt){
			var file = evt.target.files;

			if(file[0].size > 1000000){
				alert("サイズが大きすぎます。1MG以下のものを選択してください。");
				document.getElementById('file').value="";
			}
		},false);
		</script>
</body>
</html>