<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|スタンド更新</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/jojoShirasaka.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{stand.text.update}">スタンド情報更新</h1>
				<a th:href="@{/jojoshirasaka}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="jojoStandInputForm"
				th:action="@{/jojoshirasaka/update}" th:object="${jojoStandInputForm}"
				class="form-horizontal">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<label for="standName" class="control-label"
						th:text="#{stand.text.input.name.riquire}"> スタンド名(*):</label>
					<input type="text" th:field="*{standName}" class="form-control"
						th:placeholder="#{stand.text.stand}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('standName')}"
						th:text="#{${err}(#{stand.text.stand})}"></p>
				</div>
				<div class="form-group">
					<label for="standUser" class="control-label"
						th:text="#{stand.text.input.user.name}"> スタンド使い:</label>
					<input type="text" th:field="*{standUser}" class="form-control"
						th:placeholder="#{stand.text.user}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('standUser')}"
						th:text="#{${err}(#{stand.text.user})}"></p>
				</div>
				<div class="form-group">
					<label for="sex" class="control-label"
						th:text="#{stand.text.input.sex}">性別:</label>
					<select name="sexId" id="inputSex"
						class="form-control">
						<option th:each="sex : ${jojoSexShirasakaList}"
								th:value="${sex.sexId}"
								th:text="${sex.sex}"
								th:selected="${sex.sexId == jojoStandInputForm.sexId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="ability" class="control-label"
						th:text="#{stand.text.input.ability}"> スタンド能力:</label>
					<input type="text" th:field="*{ability}" class="form-control"
						th:placeholder="#{stand.text.input.ability}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('ability')}"
						th:text="#{${err}(#{stand.text.ability})}"></p>
				</div>
				<div class="form-group">
					<label for="appearance" class="control-label"
						th:text="#{stand.text.input.appearance}">登場部:</label>
					<select name="appearanceId" id="inputAppearance"
						class="form-control">
						<option th:each="app : ${jojoAppearanceShirasakaList}"
								th:value="${app.appearanceId}"
								th:text="${app.appearance}"
								th:selected="${app.appearanceId == jojoStandInputForm.appearanceId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{stand.text.input.comment}"> Comment:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{stand.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#jojoStandInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>