<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>研修Webアプリ|APEX武器検索</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/apexHagiwara.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a>
				<small th:text="#{login.text.version}">ver γ</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-oddset-2 col-lg-8 col-lg-offset-2">
			<div class="sub-header">
				<h1 align="center" th:text="#{apex.text.update}">ApexUpdate</h1>
				<a th:href="@{/apexHagiwara}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="apexInputForm" th:action="@{/apexHagiwara/update }"
			    th:object="${apexInputForm}" class="form-horizontal">

			    <!-- 武器名 -->
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<label for="name" class="control-label" th:text="#{apex.text.input.name.require}">Name(*):</label>
					<input type="text" th:field="*{name}" class="form-control" th:placeholder="#{apex.text.name}" />
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('name')}"
						th:text="#{${err}(#{apex.text.name})}">
					</p>
				</div>

				<!-- 武器種 -->
				<div class="form-group">
					<label for="kind" class="control-label" th:text="#{apex.text.input.kind}"> Kind:</label>
					<select name="kindId" id="inputKind" class="form-control select">
					    <option th:each="kind : ${weaponKindHagiwaraList}"
					        th:value="${kind.id}" th:text="${kind.kind}"
							th:selected="${kind.id == apexInputForm.kindId}">pulldown
						</option>
					</select>
				</div>

				<!-- 使用アモ -->
				<div class="form-group">
					<label for="ammo" class="control-label" th:text="#{apex.text.input.ammo}"> Ammo:</label>
					<select name="ammoId" id="inputAmmo" class="form-control select">
						<option th:each="ammo : ${ammoHagiwaraList}"
							th:value="${ammo.id}" th:text="${ammo.ammo}"
							th:selected="${ammo.id == apexInputForm.ammoId}">pulldown
						</option>
					</select>
				</div>

				<!-- 胴ダメージ -->
				<div class="form-group">
					<label for="damage" class="control-label" th:text="#{apex.text.input.damage}">Damage(*)</label>
					    <input type="text" th:field="*{damageStr}" class="form-control"
						    id="inputDamage" th:placeholder="#{apex.text.damage}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('damageStr')}" th:text="#{${err}(#{apex.text.damage})}"></p>
				</div>

				<!-- DPS -->
				<div class="form-group">
					<label for="dps" class="control-label" th:text="#{apex.text.input.dps}">Episode(*)</label>
					<input type="text" th:field="*{dpsStr}" class="form-control"
						id="inputDps" th:placeholder="#{apex.text.dps}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('dpsStr')}"
						th:text="#{${err}(#{apex.text.dps})}">
					</p>
				</div>

				<!-- 更新ボタン -->
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success btn-block"
						onclick="$('#apexInputForm').submit()"
						th:text="#{common.text.update}">Update
					</a>
				    <br />
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>