<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|メニュー更新</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/saizeriyaKurimoto.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{saizeriya.text.update}">メニュー更新</h1>
				<a th:href="@{/saizeriyaKurimoto}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="saizeriyaKurimotoInputForm"
				th:action="@{/saizeriyaKurimoto/update}" th:object="${saizeriyaKurimotoInputForm}"
				class="form-horizontal">
				<input type="hidden" th:field="*{id}"/>



				<div class="form-group">
					<label for="menuName" class="control-label"
						th:text="#{saizeriya.text.input.menuName.riquire}">menuName(*):</label>
					<input type="text" th:field="*{menuName}" class="form-control"
						th:placeholder="#{saizeriya.text.menuName}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('menuName')}"
						th:text="#{${err}(#{saizeriya.text.menuName})}"></p>
				</div>


				<div class="form-group">
					<label for="category" class="control-label"
						th:text="#{saizeriya.text.input.category}">Category:</label>
					<select name="categoryId" id="inputCategory"
						class="form-control select">
						<option th:each="category : ${categoryKurimotoList}"
								th:value="${category.id}"
								th:text="${category.categoryName}"
								th:selected="${category.id == saizeriyaKurimotoInputForm.categoryId}">pulldown</option>
					</select>

				</div>

				<div class="form-group">
					<label for="price" class="control-label"
						th:text="#{saizeriya.text.input.price}">Price:</label>
					<select name="priceId" id="inputPrice"
						class="form-control select">
						<option th:each="price : ${priceKurimotoList}"
								th:value="${price.id}"
								th:text="${price.priceName}"
								th:selected="${price.id == saizeriyaKurimotoInputForm.priceId}">pulldown</option>
					</select>
				</div>



				<div class="form-group">
					<label for="teika" class="control-label"
						th:text="#{saizeriya.text.input.teika}">teika:</label>
					<input type="text" th:field="*{teika}" class="form-control" id="inputTeika"
						th:placeholder="#{saizeriya.text.teika}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('teika')}"
						th:text="#{${err}(#{saizeriya.text.teika})}"></p>
				</div>
				<div class="form-group">
					<label for="calories" class="control-label"
						th:text="#{saizeriya.text.input.calories}">calories:</label>
					<input type="text" th:field="*{calories}" class="form-control" id="inputCalories"
						th:placeholder="#{saizeriya.text.calories}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('calories')}"
						th:text="#{${err}(#{saizeriya.text.calories})}"></p>
				</div>
				<div class="form-group">
					<label for="sodium" class="control-label"
						th:text="#{saizeriya.text.input.sodium}">sodium:</label>
					<input type="text" th:field="*{sodium}" class="form-control" id="inputSodium"
						th:placeholder="#{saizeriya.text.sodium}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('sodium')}"
						th:text="#{${err}(#{saizeriya.text.sodium})}"></p>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#saizeriyaKurimotoInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>