<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|アトラクション更新</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/attractionIwase.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{movie.text.update}">アトラクション更新</h1>
				<a th:href="@{/attractioniwase}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="attractionIwaseInputForm"
				th:action="@{/attractioniwase/update}" th:object="${attractionIwaseInputForm}"
				class="form-horizontal">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{attraction.text.input.title.riquire}"> Title(*):</label>
					<input type="text" th:field="*{attractionName}" class="form-control"
						th:placeholder="#{attraction.text.title}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('attractionName')}"
						th:text="#{${err}(#{attraction.text.title})}"></p>
				</div>
				<div class="form-group">
					<label for="themepark" class="control-label"
						th:text="#{attraction.text.input.themepark}">Themepark:</label>
					<select name="themeparkId" id="inputThemepark"
						class="form-control select">
						<option th:each="themepark : ${themeparkList}"
								th:value="${themepark.id}"
								th:text="${themepark.themepark}"
								th:selected="${themepark.id == attractionIwaseInputForm.genreId}">pulldown</option>
					</select>
				</div>
					<div class="form-group">
					<label for="openDate" class="control-label"
						th:text="#{attraction.text.input.opendate}">OpenDate(*):</label>
					<input type="text" th:field="*{openDateStr}" class="form-control" id="inputOpenDate"
						th:placeholder="#{attraction.text.opendate}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('openDateStr')}"
						th:text="#{${err}(#{attraction.text.opendate})}"></p>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{movie.text.input.comment}"> Comment:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{attraction.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#attractionIwaseInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>