<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|NBA選手更新</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/nbaplayersTakahashi.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a>
				<small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div
			class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{nbaplayers.text.update}">選手データ更新</h1>
				<a th:href="@{/nbaplayerstakahashi}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="nbaplayersTakahashiInputForm"
				th:action="@{/nbaplayerstakahashi/update}"
				th:object="${nbaplayersTakahashiInputForm}" class="form-horizontal">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{nbaplayers.text.input.playername.riquire}">
						PlayerName(*):
					</label>
					<input type="text" th:field="*{playerName}" class="form-control"
						th:placeholder="#{nbaplayers.text.playername}" />
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('playerName')}"
						th:text="#{${err}(#{nbaplayers.text.playername})}">
					</p>
				</div>
				<div class="form-group">
					<label for="position" class="control-label"
						th:text="#{nbaplayers.text.input.position}"> Position:
					</label>
					<select
						name="positionId" id="inputPosition" class="form-control select">
						<option th:each="position : ${positionTakahashiList}"
							th:value="${position.id}" th:text="${position.position}"
							th:selected="${position.id == nbaplayersTakahashiInputForm.positionId}">pulldown
						</option>
					</select>
				</div>
				<div class="form-group">
					<label for="team" class="control-label"
						th:text="#{nbaplayers.text.input.teamName}"> Team:
					</label>
					<select
						name="teamId" id="inputTeam" class="form-control select">
						<option th:each="team : ${teamTakahashiList}"
							th:value="${team.id}" th:text="${team.teamName}"
							th:selected="${team.id == nbaplayersTakahashiInputForm.teamId}">pulldown
						</option>
					</select>
				</div>
				<div class="form-group">
					<label for="height" class="control-label"
						th:text="#{nbaplayers.text.input.height}">Height(*):</label>
						<input type="text" th:field="*{heightStr}" class="form-control"
						id="inputHeight" th:placeholder="#{nbaplayers.text.height}" />
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('heightStr')}"
						th:text="#{${err}(#{nbaplayers.text.height})}">
					</p>
				</div>
				<div class="form-group">
					<label for="weight" class="control-label"
						th:text="#{nbaplayers.text.input.weight}"> Weight:</label>
						<input type="text" th:field="*{weightStr}" class="form-control"
						id="inputWeight" th:placeholder="#{nbaplayers.text.weight}" />
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('weightStr')}"
						th:text="#{${err}(#{nbaplayers.text.weight})}">
					</p>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{nbaplayers.text.input.comment}"> Comment:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{nbaplayers.text.comment}">
					</textarea>
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('comment')}"
						th:text="#{${err}(#{nbaplayers.text.comment})}">
					</p>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#nbaplayersTakahashiInputForm').submit()"
						th:text="#{common.text.update}">Update
					</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>