<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|映画追加</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/mcuHayashi.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{character.text.insert}">characterInsert</h1>
				<a th:href="@{/mcuHayashi}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="characterInputForm"
				th:action="@{/mcuHayashi/insert}" th:object="${characterInputForm}"
				class="form-horizontal">
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{character.text.input.name.riquire}"> characterName(*):</label>
					<input type="text" th:field="*{characterName}" class="form-control"
						th:placeholder="#{character.text.name}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('characterName')}"
						th:text="#{${err}(#{character.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="type" class="control-label"
						th:text="#{character.text.input.type}"> Type:</label>
					<select name="typeId" id="inputType"
						class="form-control select">
						<option th:each="type : ${typeHayashiList}"
								th:value="${type.id}"
								th:text="${type.type}"
								th:selected="${type.id == characterInputForm.typeId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="sex" class="control-label"
						th:text="#{character.text.input.sex}"> Sex:</label>
					<select name="sexId" id="inputSex"
						class="form-control">
						<option th:each="sex : ${sexHayashiList}"
								th:value="${sex.id}"
								th:text="${sex.name}"
								th:selected="${sex.id == characterInputForm.sexId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="appearanceYear" class="control-label"
						th:text="#{character.text.input.appearanceYear}"> appearanceYear(必須):</label>
					<input type="text" th:field="*{appearanceYearStr}" class="form-control" id="inputAppearanceYear"
						th:placeholder="#{character.text.appearanceYear}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('appearanceYearStr')}"
						th:text="#{${err}(#{character.text.appearanceYear})}"></p>
				</div>
				<div class="form-group">
					<label for="appearanceTime" class="control-label"
						th:text="#{character.text.input.appearanceTime}"> appearanceTime:</label>
					<input type="text" th:field="*{appearanceTimeStr}" class="form-control" id="inputAppearanceTime"
						th:placeholder="#{character.text.appearanceTime}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('appearanceTimeStr')}"
						th:text="#{${err}(#{character.text.appearanceTime})}"></p>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{character.text.input.comment}"> Comment:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{character.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
                    <a class="btn btn-success center-block"
                       onclick="$('#characterInputForm').submit()"
                       th:text="#{common.text.insert}">Insert</a>
                </div>
			</form>
		</div>
	</div>
</body>
</html>