<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{music.text.search.PageTitle}">検索画面</title>

    <link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/spring_training.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap-star-rating/css/star-rating.css}"/>
</head>
<body>
<div class="container">

    <!-- ヘッダー -->
    <header>
        <div th:replace="/commons :: header"></div>
    </header>
    <!-- ヘッダー -->

    <!-- 操作の表示 -->
    <section id="inputArea">

        <!-- アラート -->
        <div class="row">

            <div class="col-sm-offset-3 col-sm-6">
                <div class="alert alert-info text-center" role="alert"
                     th:if="${musicSearchForm.title == null and
                              musicSearchForm.author == null and
                              musicSearchForm.rating == null and
                              musicSearchForm.categoryId == null and
                              param.result == null}"
                     th:text="#{music.text.search.alert}">Search Music
                </div>

                <div class="alert alert-warning text-center" role="alert"
                     th:if="${(musicSearchForm.title != null or
                              musicSearchForm.author != null or
                              musicSearchForm.rating != null or
                              musicSearchForm.categoryId != null) and
                              musicList == null}"
                     th:text="#{music.text.error.NotFind.music}">No Result
                </div>

                <div class="alert alert-success text-center" role="alert"
                     th:if="${param.result != null}"
                     th:text="#{music.text.search.success}">Operate Successfully!
                </div>
            </div>
        </div>
        <!-- アラート -->

        <!-- 入力 -->
        <form class="form-horizontal" id="searchForm"
              method="get" action="/music/search"
              th:object="${musicSearchForm}">
            <input type="hidden" class="form-control"/>
            <div class="form-group">
                <label for="inputTitle" class="col-sm-2 control-label"
                       th:text="#{music.text.search.title}">Title</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputTitle"
                           name="title" th:field="*{title}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAuthor" class="col-sm-2 control-label"
                       th:text="#{music.text.search.singer}">Author</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="inputAuthor"
                           name="author" th:field="*{author}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputRating" class="col-sm-2 control-label"
                       th:text="#{music.text.search.rating}">Rating</label>
                <div class="col-sm-8">
                    <input type="text" class="rating-loading" id="inputRating"
                           data-size="sm"
                           name="rank" th:field="*{rating}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputType" class="col-sm-2 control-label"
                       th:text="#{music.text.search.category}">Category</label>
                <div class="col-sm-8">
                    <select class="form-control" id="inputType"
                            name="categoryId">
                        <option th:each="category : ${musicCategoryList}"
                                th:text="${category.category}"
                                th:value="${category.id}"
                                th:selected="${category.id == musicSearchForm.categoryId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-xs-3 col-sm-2">
                    <a class="btn btn-primary center-block"
                       onclick="$('#searchForm').submit()"
                       th:text="#{music.text.search.search}">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <a class="btn btn-warning center-block"
                       th:href="@{/music}"
                       th:text="#{music.text.search.reset}">Reset
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <a class="btn btn-success center-block"
                       th:href="@{/music/insert}"
                       th:text="#{music.text.search.new}">Add
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <a class="btn btn-danger center-block"
                       th:href="@{/menu}"
                       th:text="#{music.text.search.back}">Back
                    </a>
                </div>
            </div>
        </form>
        <!-- 入力 -->
    </section>
    <!-- 操作の表示 -->

    <!-- リザルトの表示 -->
    <section id="resultArea" th:if="${musicList != null}">
        <div class="table-responsive">
            <table class="table">
                <caption th:text="#{music.text.search.caption}">Search Result</caption>
                <thead>
                <tr>
                    <th></th>
                    <th th:text="#{music.text.search.title}">Title</th>
                    <th th:text="#{music.text.search.singer}">Author</th>
                    <th th:text="#{music.text.search.rating}">Rating</th>
                    <th th:text="#{music.text.search.category}">Category</th>
                    <th th:text="#{music.text.search.operate}">Operate</th>
                </tr>
                </thead>
                <tbody id="resultList">
                <tr th:each="music : ${musicList}">
                    <td>
                        <label>
                            <input type="checkbox" style="margin-left: 50%"/>
                        </label>
                    </td>
                    <td><a th:href="@{/music/detail(id=${music.id})}"
                           th:text="${music.title}">Let's dance</a>
                    </td>
                    <td th:text="${music.author}">Mark</td>
                    <td th:text="${music.rating}">3</td>
                    <td th:text="${music.category.category}">DJ</td>
                    <td>
                        <a class="btn btn-success"
                           th:href="@{/music/update(id=${music.id})}"
                           th:text="#{music.text.search.update}">Update</a>
                        <a class="btn btn-danger" style="margin-left: 5%"
                           data-toggle="modal" data-target="#deleteModal"
                           th:text="#{music.text.search.delete}"
                           th:attr="data-id=${music.id}, data-title=${music.title}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!-- リザルトの表示 -->
</div>

<!-- 削除用-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <form class="form-horizontal" id="deleteForm"
              th:method="get" th:action="@{delete}">
            <div class="modal-content">
                <input type="hidden" id="deleteId"
                       name="id"/>

                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="deleteModalLabel"
                        th:text="#{music.text.delete.header}">削除確認</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="lead">
                                <span id="deleteTitle">Music Title</span>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span th:text="#{music.text.delete.alert}"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-default"
                       th:text="#{music.text.delete.cancel}"
                       data-dismiss="modal">Cancel
                    </a>
                    <a class="btn btn-danger"
                       onclick="$('#deleteForm').submit()"
                       th:text="#{music.text.delete.delete}">Delete
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 削除用-->

<script th:src="@{/libs/jquery/jquery.js}"></script>
<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/libs/bootstrap-star-rating/js/star-rating.js}"></script>
<script>
    $(function () {
        $('#inputRating').rating({hoverChangeCaption: false});
    });

    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var musicId = button.data('id');
        var musicTitle = button.data('title');
        var modal = $(this);
        modal.find('#deleteId').attr("value", musicId);
        modal.find('#deleteTitle').text(musicTitle);
    });
</script>
</body>
</html>