<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Webアプリ研修 | ダンまち追加</title>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/danmachi.css}" />
<body>
	<div class="container">
		<div class="page-hedder">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
					th:text="#{login.text.version}">ver γ</small>
			</h4>
			<div
			class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset2 ">
			<div class="sub-hedder">
				<h1 align="center" th:text="#{Danmachi.text.insert}"></h1>
				<a th:href="@{/DanmachiWang}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="DanmachiInputForm"
				th:action="@{/DanmachiWang/insert}"
				th:object="${DanmachiInputForm}" class="form-horizontal">
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{Danmachi.text.input.name.riquire}">Name(*):</label> <input
						type="text" th:field="*{name}" class="form-control"
						th:placeholder="#{Danmachi.text.name}" />
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('name')}"
						th:text="#{${err}(#{Danmachi.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="fami" class="control-label"
						th:text="#{Danmachi.text.input.fami.riquire}">Fami:</label> <select
						name="fami_wang" id="inputfami" class="form-control select">
						<option th:each="famiName : ${FamiList}"
							th:value="${famiName.id}" th:text="${famiName.famiName}"
							th:selected="${famiName.id == DanmachiInputForm.famiID}">pulldown</option>
					</select>
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('famiID')}"
						th:text="#{${err}(#{Danmachi.text.fami})}"></p>
				</div>
				<div class="form-group">
					<label for="race" class="control-label"
						th:text="#{Danmachi.text.input.race.riquire}">Race:</label>
					<select name="race_wang" id="inputRace"
						class="form-control select">
						<option th:each="raceName : ${RaceList}"
							th:value="${raceName.id}"
							th:text="${raceName.raceName}"
							th:selected="${raceName.id == DanmachiInputForm.raceID}">pulldown</option>
					</select>
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('raceID')}"
						th:text="#{${err}(#{Danmachi.text.race})}"></p>
				</div>
				<!-- コメント -->
				<div class="form-group">
					<label for="title" class="control-label"
						th:text="#{Danmachi.text.input.title}"> Tiltle:</label>
					<textarea th:field="*{title}" cols="" rows="5"
						class="form-control" id="inputTitle"
						th:placeholder="#{Danmachi.text.title}"></textarea>
				</div>
				<div class="form-group">
					<label for="cast" class="control-label"
						th:text="#{Danmachi.text.input.cast}"> Cast:</label>
					<textarea th:field="*{cast}" cols="" rows="5"
						class="form-control" id="inputCast"
						th:placeholder="#{Danmachi.text.cast}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#DanmachiInputForm').submit()"
						th:text="#{common.text.insert}">Insert</a>
				</div>
			</form>
			</div>
		</div>
	</div>
</body>
</html>