<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Webアプリ研修|ネコ追加</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/catNihonyanagi.css}" />
<body>
	<div class="container">
		<div class = "page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class = "resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div class="sub-header">
				<h1 align="center" th:text="#{cat.text.insert}">CatInsert</h1>
				<a th:href="@{/cat}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="catInputForm"
				th:actiion="@{/cat/insert}" th:object="${catInputForm}"
				class="form-horizontal">
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{cat.text.input.name.riquire}">Name(*)</label>
					<input type="text" th:field="*{catName}" class="form-control"
						th:placeholder="#{cat.text.name}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('catName')}"
						th:text="#{${err}(#{cat.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="hair" class="control-label"
						th:text="#{cat.text.input.hair}">Hair:</label>
					<select name="harId" id="inputHair"
						class="form-control select">
						<option th:each="hair : ${hairNihonyanagiList}"
								th:value="${hair.id}"
								th:text="${hair.hair}"
								th:selected="${hair.id == catInputForm.hairId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="size" class="control-label"
						th:text="#{cat.text.input.size}">Size:</label>
					<select name="sizeId" id="inputSize"
						class="form-control select">
						<option th:each="size : ${sizeNihonyanagiList}"
								th:value="${size.id}"
								th:text="${size.size}"
								th:selected="${size.id == catInputForm.sizeId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="size" class="control-label"
						th:text="#{cat.text.input.character}">Character:</label>
					<select name="characterId" id="inputCharacter"
						class="form-control select">
						<option th:each="character : ${characterNihonyanagiList}"
								th:value="${character.id}"
								th:text="${character.character}"
								th:selected="${character.id == catInputForm.characterId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{cat.text.input.comment}"> Comment:</label>
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{cat.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
					   onclick="$('#catInputForm').submit()"
					   th:text="#{common.text.insert}">Insert</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>