<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{login.text.title}">Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/spring_training.css}"/>
</head>
<body>
<!-- Container Start -->
<div class="container" th:object="${loginForm}">
    <div th:replace="commons :: header"></div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6"
             th:if="${#fields.hasErrors()}">
            <div class="alert alert-danger text-center" role="alert"
                 th:each="error : ${#fields.errors()}"
                 th:text="#{${error}}">
                Error
            </div>
        </div>
    </div>

    <form method="post" class="form-horizontal" th:action="@{/login}">
        <div class="form-group">
            <label class="col-sm-2 control-label" th:text="#{login.text.username}">USERNAME:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{username}" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" th:text="#{login.text.password}">PASSWORD:</label>
            <div class="col-sm-10">
                <input type="password" th:field="*{password}" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
<!-- Container End -->
<script th:src="@{/libs/jquery/jquery.js}"></script>
<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
</body>
</html>