<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{menu.text.title}">Webアプリ研修 | メニュー</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/libs/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<body>

	<div class="container">
		<div th:replace="commons :: header"></div>

		<form id="menu" name="menu" th:action="@{/menu}" method="post"
			class="form-horizontal">

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="music"
						onsubmit="this" th:text="#{menu.text.music}">Player</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="moviesample" onsubmit="this" th:text="#{menu.text.movie}">Movie</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="heritage"
						onsubmit="this" th:text="#{menu.text.heritage}">Heritage</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="resipeIshikawa" onsubmit="this"
						th:text="#{menu.text.resipe}">Resipe</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="tokyotakehara" onsubmit="this" th:text="#{menu.text.tokyo}">TokyoWards</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="perfumeanzai" onsubmit="this"
						th:text="#{menu.text.perfume}">Perfume</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="penguinKawamura" onsubmit="this"
						th:text="#{menu.text.penguin}">Penguin</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="triathlonMori" onsubmit="this"
						th:text="#{menu.text.triathlon}">Triathlon</button>

				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="soccerteam" onsubmit="this"
						th:text="#{menu.text.soccerteam}">Soccer</button>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="bandIto"
						onsubmit="this" th:text="#{menu.text.band}">Band</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="comicYanai" onsubmit="this" th:text="#{menu.text.comic}">Comic</button>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="drinkYoshimoto" onsubmit="this"
						th:text="#{menu.text.drink}">Drink</button>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="cdkanayama" onsubmit="this" th:text="#{menu.text.cd}">CD</button>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="drinkohkubo" onsubmit="this" th:text="#{menu.text.drink}">Drink</button>
				</div>
			</div>

			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			        <button class="btn btn-warning" name="assignment" value="dogKanno"
			            onsubmit="this" th:text="#{menu.text.dog}">Dog</button>
			    </div>
			</div>

			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			        <button class="btn btn-warning" name="assignment" value="proteinueno"
			            onsubmit="this" th:text="#{menu.text.protein}">Protein</button>
			       </div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="comicMiyoshi" onsubmit="this" th:text="#{menu.text.comic}">Comic</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="disneyokiyoshi"
						onsubmit="this" th:text="#{menu.text.disney}">Disney</button>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="disneyIto" onsubmit="this" th:text="#{menu.text.disney}">Disney</button>
				</div>

			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="okashiotani"
						onsubmit="this" th:text="#{menu.text.okashi}">Okashi</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="radiokashima"
						onsubmit="this" th:text="#{menu.text.radio}">radio</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
					value="residentsSato" onsubmit="this"
					th:text="#{menu.text.residents}">Residents</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="alcoholIshida"
						onsubmit="this" th:text="#{menu.text.alcohol}">Alcohol</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="DanmachiWang"
						onsubmit="this" th:text="#{menu.text.Danmachi}">Danmachi</button>
				</div>
			</div>
		</form>
	</div>




	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
</body>
</html>
