<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{menu.text.title}">Webアプリ研修 | メニュー</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/libs/bootstrap/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>
<body>

	<div class="container">
		<div th:replace="commons :: header"></div>

		<form id="menu" name="menu" th:action="@{/menu}" method="post"
			class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="music"
						onsubmit="this" th:text="#{menu.text.music}">Player</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="moviesample" onsubmit="this" th:text="#{menu.text.movie}">Movie</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="machoman"
						onsubmit="this" th:text="#{menu.text.machoizawa}">MachoIzawa</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="yuruYokoyama"
						onsubmit="this" th:text="#{menu.text.yuruYokoyama}">YuruChara</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="heritage"
						onsubmit="this" th:text="#{menu.text.heritage}">Heritage</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="flower"
						onsubmit="this" th:text="#{menu.text.flower}">flower</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="resipeIshikawa" onsubmit="this"
						th:text="#{menu.text.resipe}">Resipe</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="icecream"
						onsubmit="this" th:text="#{menu.text.icecream}">Icecream</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="bandsasaki" onsubmit="this" th:text="#{menu.text.band}">Band</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="tokyotakehara"
						onsubmit="this" th:text="#{menu.text.tokyo}">TokyoWards</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="jojoshirasaka" onsubmit="this" th:text="#{menu.text.stand}">StandSearch</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="ruinskurihara"
						onsubmit="this"
						th:text="#{menu.text.ruins}">Ruins</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="novelmiyamoto"
						onsubmit="this"
						th:text="#{menu.text.book}">BookSearch</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="bandtaneichi" onsubmit="this" th:text="#{menu.text.band}">Band</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="castleminami" onsubmit="this" th:text="#{menu.text.castle}">Castle</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="spaOkabe" onsubmit="this" th:text="#{menu.text.spaOkabe}">SpaOkabe</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment"
						value="playershiono" onsubmit="this" th:text="#{menu.text.player}">Player</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-warning" name="assignment" value="guiterfujimoto"
						onsubmit="this" th:text="#{menu.text.guiter}">Guiter</button>
				</div>
			</div>

		</form>
	</div>


	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
</body>
</html>
