<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|温泉地追加</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/spaOkabe.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{spa.text.insert}">SpaInsert</h1>
				<a th:href="@{/spaOkabe}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="spaOkabeInputForm"
				th:action="@{/spaOkabe/insert}" th:object="${spaOkabeInputForm}"
				class="form-horizontal">
				<div class="form-group">
					<label for="spaName" class="control-label"
						th:text="#{spa.text.input.spaName.require}"> Name(*):</label>
					<input type="text" th:field="*{spaName}" class="form-control"
						th:placeholder="#{spa.text.spaName}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('spaName')}"
						th:text="#{${err}(#{spa.text.spaName})}"></p>
				</div>
				<div class="form-group">
					<label for="area" class="control-label"
						th:text="#{spa.text.input.area}"> Area:</label>
					<select name="areaId" id="inputAreaOkabe"
						class="form-control select">
						<option th:each="area : ${areaOkabeList}"
								th:value="${area.id}"
								th:text="${area.area}"
								th:selected="${area.id == spaOkabeInputForm.areaId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="quality" class="control-label"
						th:text="#{spa.text.input.quality}"> Quality:</label>
					<select name="qualityId" id="inputQualityOkabe"
						class="form-control">
						<option th:each="quality : ${qualityOkabeList}"
								th:value="${quality.id}"
								th:text="${quality.quality}"
								th:selected="${quality.id == spaOkabeInputForm.qualityId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="features" class="control-label"
						th:text="#{spa.text.input.features}"> Features:</label>
					<textarea th:field="*{features}" cols="" rows="5"
						class="form-control" id="inputFeaturesOkabe"
						th:placeholder="#{spa.text.features}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
                    <a class="btn btn-success center-block"
                       onclick="$('#spaOkabeInputForm').submit()"
                       th:text="#{common.text.insert}">Insert</a>
                </div>
			</form>
		</div>
	</div>
</body>
</html>