<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Webアプリ研修|テニスプレイヤー検索</title>
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />

</head>
<body>

	<div class="page-header">
		<h4>
			<a th:href="@{/}" th:text="#{login.text.app}">テニスプレイヤー検索</a> <small
				th:text="#{login.text.version}">ver β</small>
		</h4>
	</div>

	<div class="sub-header">
		<a th:href="@{/menu}" th:text="#{common.text.back}">Back</a><br />
		<h1 align="center" th:text="#{tennis.text.search}">PlayerSearch</h1>
	</div>




	<!-- 新規・削除ボタン -->
	<div style="position: relative; left: 30px">
		<form class="form-horizontal" id="deleteCompForm" method="get"
			action="/tennisTominaga/deletecomp" th:object="${playerMainSearchForm}">
			<div class="form-group">
				<div class="col-sm-8">
					<input type="hidden" name="isDelete" th:value="1" />
				</div>
			</div>
		</form>
		<div class="form-group">
			<div class="">
				<a class="btn btn-warning" th:href="@{/tennisTominaga/insert}"
					th:text="#{common.text.new}">New </a> <a class="btn btn-danger"
					onclick="$('#deleteCompForm').submit()"
					th:text="#{common.text.unnecessary}">UnnecessaryData </a>
			</div>
		</div>
	</div>

	<!-- OK -->

	<div class="container">

		<!-- メッセージ -->
		<div class="row">
			<div class="col-sm-offset-3 col-sm-7">

				<!-- 検索結果なし -->
				<div class="alert alert-info text-center" role="alert"
					th:if="${(playerMainSearchForm.id != null or
							playerMainSearchForm.nationalityId != null ) and
							playerList == null}"
					th:text="#{common.text.info.search}">No Result</div>

				<!-- DB操作後 -->

				<div class="alert alert-info text-center" role="alert"
					th:if="${param.result != null}">
					<div th:switch="${param.result[0]}">
						<p th:case="insert"
							th:text="#{common.text.info.insert} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="update"
							th:text="#{common.text.info.update} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="updatefailed"
							th:text="#{common.text.info.update.failed}"></p>
						<p th:case="delete"
							th:text="#{common.text.info.delete} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="deletecomp" th:text="#{common.text.info.deletecomp}"></p>
					</div>
				</div>
			</div>
		</div>


		<!-- 検索条件 -->
		<!-- 名前 -->
		<form class="form-horizontal" id="searchForm" method="post"
			action="/tennisTominaga/search" th:object="${playerMainSearchForm}">
			<div class="form-group">
				<label for="player" class="col-sm-2 control-label"
					th:text="#{tennis.text.input.playerName}">Title:</label>
				<div class="col-sm-8">
					<input type="text" th:field="*{playerName}" class="form-control"
						id="inputPlayerName" th:placeholder="#{tennis.text.search.info}" />
				</div>
			</div>

			<!-- 国籍 -->
			<div class="form-group">
				<label for="nationality" class="control-label col-sm-2"
					th:text="#{tennis.text.input.nationality}">Nationality:</label>
				<div class="col-sm-8">
					<select id="inputNationality" name="nationalityId"
						class="form-control select">
						<option th:each="nationality : ${nationalityTominagaList}"
							th:value="${nationality.nationalityId}" th:text="${nationality.nationality}"
							th:selected="${nationality.nationalityId == playerMainSearchForm.nationalityId}">pulldown</option>
					</select>
				</div>
			</div>

			<!-- 検索、リセットボタン -->
			<div class="form-group">
				<div class="col-sm-offset-4 col-xs-3 col-sm-2">
					<a class="btn btn-primary center-block"
						onclick="$('#searchForm').submit()"
						th:text="#{common.text.search}">Search </a>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-warning center-block" th:href="@{/tennisTominaga}"
						th:text="#{common.text.reset}">Reset </a>
				</div>
			</div>
		</form>

		<!-- 検索結果の表示 -->
		<section id="resultArea" th:if="${playerList != null}">
			<table id="resultTable"
				class="table table-borderd table-striped table-hover">
				<thead>
					<tr>
						<th class="per-12 center" th:text="#{tennis.text.playerName}">Title</th>
						<th class="per-12 center" th:text="#{tennis.text.nationality}">Nationality</th>
						<th class="per-12 center" th:text="#{tennis.text.birthYear}">Nationality</th>
						<th class="per-16 center"
							th:text="#{tennis.text.rank.and.handedness}">Rank/Handedness</th>
						<th class="per-45 center" th:text="#{tennis.text.comment}">Comment</th>
						<th class="per-7 center" th:text="#{common.text.update}">Update</th>
						<th class="per-7 center" th:text="#{common.text.delete}">Delete</th>
					</tr>
				</thead>
				<tbody><!-- このth:each文は拡張for文と同じ感じで、右側で取得してきたもの(コントローラーから受け取ったリスト)を左の変数(tennis)に入れる -->
					<tr th:each="tennis : ${playerList}">
						<!-- 選手名 -->
						<td class="data center" th:text="${tennis.playerName}">錦織圭</td>
						<!-- 国籍  -->
						<td class="data center"><label
							th:if="${tennis.nationalityTominaga != null}"
							th:text="${tennis.nationalityTominaga.nationality}" class="data center">日本</label>
							<label
							th:if="${tennis.nationalityTominaga == null}"
							th:text="国籍未登録" class="data center">国籍未登録</label>
							</td>

						<!-- 生年 -->

						<td class="data center"><label
							th:if="${tennis.birthYear != null}" th:text="${tennis.birthYear}"
							class="data center">日本</label></td>

						<!-- ランク/利き手 -->
						<td class="data center"><label th:if="${tennis.rank != null}"
							th:text="${tennis.rank} +'位/'+ ${tennis.handedness} "
							class="data center">4位/右</label> <label
							th:if="${tennis.rank == null and tennis.handedness != null}"
							th:text=" ${tennis.handedness}" class="data center">4位</label></td>

						<!-- コメント -->
						<td class="data center" th:text="${tennis.comment}">とんねるずのみなさんのおかげでしたに出演</td>
						<td class="data"><a class="btn btn-success"
							th:href="@{/tennis/update(id=${tennis.id})}"
							th:text="#{common.text.update}">Update</a></td>

						<td class="data center"><a class="btn btn-danger"
							style="margin-left: 5%" data-toggle="modal"
							data-target="#deleteModal" th:text="#{common.text.delete}"
							th:attr="data-id=${tennis.id}, data-title=${tennis.playerName}">Delete</a>
						</td>

					</tr>
				</tbody>
			</table>
		</section>

		<!-- ページング用 -->
		<div th:fragment='paginationbar'>
			<p th:if="${page != null}">
			<ul>
				<li th:class="${page.first} ? 'disabled':''" style="display: inline">
					<span th:if="${page.first}" th:text="#{common.text.paging.lead}">←lead</span>
					<a th:if="${not page.first}" onclick="$('#pageForm0').submit()"
					th:text="#{common.text.paging.lead}">←lead</a>
				</li>
				<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
					th:class="(${i}==${page.number})? 'active' : ''"
					style="display: inline">
					<form th:id="'pageForm'+${i}" method="post"
						th:action="@{${url}(page=${i})}"
						th:object="${playerMainSearchForm}" style="display: inline">
						<input type="hidden" th:field="*{playerName}" /> <input type="hidden"
							th:field="*{nationalityId}" />
					</form> <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span> <a
					th:if='${i}!=${page.number}'
					th:onclick="'$(\'#pageForm'+${i}+'\').submit()'"> <span
						th:text='${i+1}'>1</span>
				</a>
				</li>
				<li th:class="${page.last} ? 'disabled':''" style="display: inline">
					<span th:if="${page.last}" th:text="#{common.text.paging.end}">end➝</span>
					<a th:if="${not page.last}"
					th:onclick="'$(\'#pageForm'+(${page.totalPages}-1)+'\').submit()'"
					th:text="#{common.text.paging.end}">end➝</a>
				</li>
			</ul>
			<!--開始タグある  -->
			</p>
		</div>
	</div>

	<!-- 削除モーダル -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
		aria-labelledby="deleteModalLabel">
		<div class="modal-dialog" role="document">
			<form class="form-horizontal" id="deleteForm" th:method="get"
				th:action="@{delete}">
				<div class="modal-content">
					<input type="hidden" id="deleteId" name="id" />
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="deleteModalLabel"
							th:text="#{tennis.text.delete}">PlayerDelete</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<p class="lead">
									<span id="deleteTitle">Player Name</span>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="alert alert-danger" role="alert">
									<span class="glyphicon glyphicon-exclamation-sign"
										aria-hidden="true"></span> <span
										th:text="#{common.text.warn.delete(#{menu.text.tennis})}"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default" th:text="#{common.text.cansel}"
							data-dismiss="modal">Cancel </a> <a class="btn btn-danger"
							onclick="$('#deleteForm').submit()"
							th:text="#{common.text.delete}">Delete </a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="bogoCount" class="panel-clear"></div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>




	<!-- 削除モーダル用スクリプト -->
	<script>
		$('#deleteModal').on('show.bs.modal', function(event) {

			var button = $(event.relatedTarget);
			var playerId = button.data('id');
			var player = button.data('title');
			var modal = $(this);
			modal.find('#deleteId').attr("value", playerId);
			modal.find('#deleteTitle').text(player);

		});
	</script>








</body>
</html>