<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|ブランド追加</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/brandKambara.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{brand.text.insert}">BrandInsert</h1>
				<a th:href="@{/brandKambara}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="brandKambaraInputForm"
				th:action="@{/brandKambara/insert}" th:object="${brandKambaraInputForm}"
				class="form-horizontal">
				<div class="form-group">
					<label for="brandKambara" class="control-label"
						th:text="#{brand.text.input.brandName.require}"> Name(*):</label>
					<input type="text" th:field="*{brandName}" class="form-control"
						th:placeholder="#{brand.text.brandName}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('brandName')}"
						th:text="#{${err}(#{brand.text.brandName})}"></p>
				</div>
				<div class="form-group">
					<label for="genre" class="control-label"
						th:text="#{brand.text.input.genre}"> Genre:</label>
					<select name="genreId" id="inputGenreKambara"
						class="form-control select">
						<option th:each="genre : ${genreKambaraList}"
								th:value="${genre.id}"
								th:text="${genre.genre}"
								th:selected="${genre.id == brandKambaraInputForm.genreId}">pulldown</option>
					</select>
				</div>


				<div class="form-group">
					<label for="country" class="control-label"
						th:text="#{brand.text.input.country}"> Country:</label>
					<select name="countryId" id="inputCountryKambara"
						class="form-control">
						<option th:each="country : ${madeCountryKambaraList}"
								th:value="${country.id}"
								th:text="${country.country}"
								th:selected="${country.id == brandKambaraInputForm.countryId}">pulldown</option>
					</select>
				</div>

				<div class="form-group">
					<label for="designer" class="control-label"
						th:text="#{brand.text.input.designer}"> Designer:</label>
					<input type="text" th:field="*{designer}" class="form-control"
						th:placeholder="#{brand.text.designer}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('designer')}"
						th:text="#{${err}(#{brand.text.designer})}"></p>

				</div>

				<div class="form-group">
					<label for="releaseYear" class="control-label"
						th:text="#{brand.text.input.releaseYear}"> ReleaseYear:</label>
					<input type="text" th:field="*{releaseYearstr}" class="form-control" id="inputReleaseYearKambara"
						th:placeholder="#{brand.text.input.releaseYear}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('releaseYearstr')}"
						th:text="#{${err}(#{brand.text.releaseYear})}"></p>

				</div>



				<div class="col-xs-3 col-sm-2">
                    <a class="btn btn-success center-block"
                       onclick="$('#brandKambaraInputForm').submit()"
                       th:text="#{common.text.insert}">Insert</a>
                </div>
			</form>
		</div>
	</div>
</body>
</html>