<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|Mobile Legendsキャラクター追加</title>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootsrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/spring_training.css}" />
</head>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/mobileLegendsSakuma.css}" />

<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small
					th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div
			class="resultArea col-xs-12 col-sm-12 col-md-8 col-ma-offset-2 col-lg-8 col-lg-offset-2">
			<div class="sub-header">
				<h1 align="center" th:text="#{mobileLegends.text.insert}">MobileLegendsInsert</h1>
				<a th:href="@{/mobileLegendsSakuma}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="mobileLegendsSakumaInputForm"
				th:action="@{/mobileLegendsSakuma/insert}"
				th:object="${mobileLegendsSakumaInputForm}" class="form-horizontal">
				<div class="form-group">
					<label for="mobaleChara" class="control-label"
						th:text="#{mobileLegends.text.input.mobaleChara.require}">Name(*):</label>
					<input type="text" th:field="*{mobaleChara}" class="form-control"
						th:placeholder="#{mobileLegends.text.mobaleChara}" />
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('mobaleChara')}"
						th:text="#{${err}(#{mobileLegends.text.mobaleChara})}"></p>
				</div>
				<div class="form-group">
					<label for="tyoe1" class="control-label"
						th:text="#{mobileLegends.text.input.type1}">Type1:</label>
					<select name="type1Id" id="inputType1" class="form-control select">
						<option th:each="type1 : ${typeSakumaList}" th:value="${type1.id}"
							th:text="${type1.typeName}"
							th:selected="${type1.id == mobileLegendsSakumaInputForm.type1Id}">pulldown</option>
					</select>
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('type1Id')}"
						th:text="#{${err}(#{mobileLegends.text.type1})}"></p>
				</div>
				<div class="form-group">
					<label for="type2" class="control-label"
						th:text="#{mobileLegends.text.input.type2}">Type2:</label> <select
						name="type2Id" id="inputType2" class="form-control">
						<option th:each="type2 : ${typeSakumaList}" th:value="${type2.id}"
							th:text="${type2.typeName}"
							th:selected="${type2.id == mobileLegendsSakumaInputForm.type2Id}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="feature1" class="control-label"
						th:text="#{mobileLegends.text.input.feature1}">Feature1:</label>
					<select name="feature1Id" id="inputFeature1"
						class="form-control select">
						<option th:each="feature1 : ${featureSakumaList}"
							th:value="${feature1.id}" th:text="${feature1.featureName}"
							th:selected="${feature1.id == mobileLegendsSakumaInputForm.feature1Id}">pulldown</option>
					</select>
					<p class="err alert-danger"
						th:each="err : ${#fields.errors('feature1Id')}"
						th:text="#{${err}(#{mobileLegends.text.feature1})}"></p>
				</div>
				<div class="form-group">
					<label for="feature2" class="control-label"
						th:text="#{mobileLegends.text.input.feature2}">Feature2:</label> <select
						name="feature2Id" id="inputfeature2" class="form-control">
						<option th:each="feature2 : ${featureSakumaList}"
							th:value="${feature2.id}" th:text="${feature2.featureName}"
							th:selected="${feature2.id == mobileLegendsSakumaInputForm.feature2Id}">pulldown</option>
					</select>
				</div>

				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{mobileLegends.text.input.comment}">comment</label> <input
						type="text" th:field="*{comment}" class="form-control"
						id="inputComment" th:placeholder="#{mobileLegends.text.comment}" />
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#mobileLegendsSakumaInputForm').submit()"
						th:text="#{common.text.insert}">Insert</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>