<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|雑誌更新</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/magazineKawamae.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{magazine.text.update}">雑誌更新</h1>
				<a th:href="@{/magazine}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="magazineKawamaeInputForm"
				th:action="@{/magazine/update}" th:object="${magazineKawamaeInputForm}"
				class="form-horizontal">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{magazine.text.name}"> Name(*):</label>
					<input type="text" th:field="*{magazineName}" class="form-control"
						th:placeholder="#{magazine.text.name}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('magazineName')}"
						th:text="#{${err}(#{magazine.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="genre" class="control-label"
						th:text="#{magazine.text.input.genre}">Genre:</label>
					<select name="genreId" id="inputGenre"
						class="form-control select">
						<option th:each="genre : ${magazineGenreKawamaeList}"
								th:value="${genre.id}"
								th:text="${genre.genre}"
								th:selected="${genre.id == magazineKawamaeInputForm.genreId}">pulldown</option>
					</select>
				</div>

				<div class="form-group">
					<label for="saledNumber" class="control-label"
						th:text="#{magazine.text.input.saled_number}">SaledNumber:</label>
					<input type="text" th:field="*{saledNumber}" class="form-control" id="inputSaledNumber"
						th:placeholder="#{magazine.text.saledNumber}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('saledNumber')}"
						th:text="#{${err}(#{magazine.text.saled_number})}"></p>
				</div>

				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#magazineKawamaeInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>