<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>研修吉瀬|楽曲検索画面</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css"	th:href="@{/css/musicKichise.css}" />
<body>
	<div class="page-header">
			<div class="general-button">
				<div class="button-content">
					<h4>
						<a th:href="@{/}" th:text="#{login.text.app}">研修吉瀬楽曲検索</a>
					</h4>
				</div>
			</div>
	</div>
	<div class="sub-header">
		<a class="info-color" th:href="@{/menu}" th:text="#{common.text.back}">Back</a><br />
		<h1 align="center" th:text="#{music.text.search}">MusicSearch</h1>
	</div>

	<!-- 検索条件 -->
	<form class="form-horizontal" id="searchForm" method="post"
		action="/musickichise/search" th:object="${musicKichiseSearchForm}">
		<div class="form-group">
			<label for="musicTitle" class="col-sm-2 control-label info-color"
				th:text="#{music.text.input.title}">Title:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{musicTitle}" class="form-control"
					id="inputMusicTitle" th:placeholder="#{music.text.search.info}" />
			</div>
		</div>
		<div class="form-group">
			<label for="artist" class="col-sm-2 control-label info-color"
				th:text="#{music.text.input.artist}">Artist:</label>
			<div class="col-sm-8">
				<select id="inputArtist" name="artistId" class="form-control select">
					<option th:each="artist : ${artistList}" th:value="${artist.id}"
						th:text="${artist.artist}"
						th:selected="${artist.id == musicKichiseSearchForm.artistId}">pulldown"</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="janru" class="control-label col-sm-2 info-color"
				th:text="#{music.text.input.janru}">Janru:</label>
			<div class="col-sm-8">
				<select id="inputJanru" name="janruId" class="form-control select">
					<option th:each="janru : ${janruList}" th:value="${janru.id}"
						th:text="${janru.janru}"
						th:selected="${janru.id == musicKichiseSearchForm.janruId}">pulldown</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-xs-3 col-sm-2">
				<a class="btn btn-primary centerblock"
					onclick="$('#searchForm').submit()"
					th:text="#{common.text.search}">Search
				</a>
			</div>
			<div class="col-xs-3 col-sm-2">
				<a class="btn btn-warning center-block" th:href="@{/musickichise}"
					th:text="#{common.text.reset}">Reset </a>
			</div>
		</div>
	</form>

	<!-- 検索結果の表示 -->
	<section id="resultArea" th:if="${musicList != null}">
		<table id="resultTable" class="table table-borderd table-striped table-hover">
			<thead >
				<tr class="success">
					<th class="per-12 center" th:text="#{music.text.title}">Title</th>
					<th class="per-12 center" th:text="#{music.text.janru}">Janru</th>
					<th class="per-16 center" th:text="#{music.text.artist}">Artist</th>
					<th class="per-16 center" th:text="#{music.text.country}">Country</th>
					<th class="per-45 center" th:text="#{music.text.comment}">Comment</th>
					<th class="per-7 center" th:text="#{common.text.update}">Update</th>
					<th class="per-7 center" th:text="#{common.text.delete}">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr class="info" th:each="music : ${musicList}">
					<td class="data center" th:text="${music.musicTitle}">All for None and None for All</td>
					<td class="data center"><label th:if="${music.janru != null}"
						th:text="${music.janru.janru}" class="data center">ロック・ポップス</label>
					</td>
					<td class="data center"><label th:if="${music.Artist != null}"
						th:text="${music.artist.artist}" class="data center">Zebrahead</label>
					</td>
					<td class="data center"><label
						th:if="${music.country != null}" th:text="${music.country}"
						class="data center">USA</label></td>
					<td class="data center" th:text="${music.comment}">a</td>
					<td class="data"><a class="btn btn-success"
						th:href="@{/musickichise/update(id=${music.id})}"
						th:text="#{common.text.update}">Update</a></td>
					<td class="data center"><a class="btn btn-danger"
						style="margin-left: 5%" data-toggle="modal"
						data-target="#deleteModal" th:text="#{common.text.delete}"
						th:attr="data-id=${music.id}, data-title=${music.musicTitle}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<!-- ページング用 -->
		<div th:fragment='paginationbar'>
			<p th:if="${page != null}">
				<ul>
					<li th:class="${page.first} ? 'disabled':''" style="display:inline">
						<span th:if="${page.first}" th:text="#{common.text.paging.lead}">←lead</span>
						<a th:if="${not page.first}" onclick="$('#pageForm0').submit()"
							th:text="#{common.text.paging.lead}">←lead</a>
					</li>
					<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : ''" style="display:inline">
						<form th:id="'pageForm'+${i}" method="post" th:action="@{${url}(page=${i})}"
							th:object="${musicKichiseSearchForm}" style="display:inline" >
							<input type="hidden" th:field="*{musicTitle}"/>
							<input type="hidden" th:field="*{janruId}"/>
							<input type="hidden" th:field="*{artistId}"/>
						</form>
						<span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
						<a th:if='${i}!=${page.number}' th:onclick="'$(\'#pageForm'+${i}+'\').submit()'">
							<span th:text='${i+1}'>1</span>
						</a>
					</li>
					<li th:class="${page.last} ? 'disabled':''" style="display:inline">
						<span th:if="${page.last}" th:text="#{common.text.paging.end}">end➝</span>
						<a th:if="${not page.last}" th:onclick="'$(\'#pageForm'+(${page.totalPages}-1)+'\').submit()'"
							th:text="#{common.text.paging.end}">end➝</a>
					</li>
				</ul>
			</p>
		</div>
	<script type="text/javascript"  src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
</body>
</html>