<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|日本のゆるキャラ検索</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/yuruYokoyama.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{yuru.text.update}">日本のゆるキャラ更新</h1>
				<a th:href="@{/yuruYokoyama}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="yuruInputForm"
				th:action="@{/yuruYokoyama/update}" th:object="${yuruInputForm}"
				class="form-horizontal">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{yuru.text.input.title.riquire}"> Title(*):</label>
					<input type="text" th:field="*{name}" class="form-control"
						th:placeholder="#{yuru.text.title}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('name')}"
						th:text="#{${err}(#{yuru.text.title})}"></p>
				</div>
				<div class="form-group">
					<label for="belonh" class="control-label"
						th:text="#{yuru.text.input.belong}">Belong:</label>
					<select name="belomgId" id="inputBelong"
						class="form-control select">
						<option th:each="belong : ${yuruBelongYokoyamaList}"
								th:value="${belong.id}"
								th:text="${belong.belong}"
								th:selected="${belong.id == yuruInputForm.belongId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="from" class="control-label"
						th:text="#{yuru.text.input.from}">From:</label>
					<select name="fromId" id="inputFrom"
						class="form-control">
						<option th:each="from : ${yuruFromYokoyamaList}"
								th:value="${from.id}"
								th:text="${from.from}"
								th:selected="${from.id == yuruInputForm.fromId}">pulldown</option>
					</select>

<!--
				</div>
				<div class="form-group">
					<label for="releaseYear" class="control-label"
						th:text="#{yuru.text.input.releaseyear}">ReleaseYear(*):</label>
					<input type="text" th:field="*{releaseYearStr}" class="form-control" id="inputReleaseYear"
						th:placeholder="#{yuru.text.releaseyear}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('releaseYearStr')}"
						th:text="#{${err}(#{yuru.text.releaseyear})}"></p>
				</div>
				<div class="form-group">
					<label for="runTime" class="control-label"
						th:text="#{turu.text.input.runtime}"> RunTime:</label>
					<input type="text" th:field="*{runTimeStr}" class="form-control" id="inputRunTime"
						th:placeholder="#{yuru.text.runtime}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('runTimeStr')}"
						th:text="#{${err}(#{yuru.text.runtime})}"></p>
				</div>
 -->

				<div class="form-group">
					<label for="point" class="control-label"
						th:text="#{yuru.text.input.point}"> Point:</label>
					<textarea th:field="*{point}" cols="" rows="5"
						class="form-control" id="inputPoint"
						th:placeholder="#{yuru.text.point}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#pointInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>