<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|ペンギン更新</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/penguinKawamura.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a class="btn btn-info"
					th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a>
				<font color="#5D99FF" th:text="#{login.text.version}">ver β</font>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<div class="font-color">
					<a class="btn btn-info center-block" href="/penguinKawamura">Back</a><br /><br />
				</div>
				<div class="font">
					<h1 align="center">ペンギン更新</h1>
				</div>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="penguinInputForm"
				th:action="@{/penguinKawamura/update}" th:object="${penguinInputForm}"
				class="form-horizontal" enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<div>
						<label for="image" class="control-label"
							th:text="#{penguin.text.input.image}">Image:</label>
						<input type="file" th:field="*{image}" class="form-control"
							th:placeholder="#{penguin.text.image}" />
						<span th:text="#{penguin.text.input.image.attention}">※画像を変更しない場合は「ファイルを選択」ボタンを押さないでください。</span>
					</div>
				</div>
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{penguin.text.input.name.require}">Name(*):</label>
					<input type="text" th:field="*{name}" class="form-control"
						th:placeholder="#{penguin.text.name}" />
					<p class="err alert-danger" th:each="err:${#fields.errors('name')}"
						th:text="#{${err}(#{penguin.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="attribute" class="control-label"
						th:text="#{penguin.text.input.attributeName}">AttributeName:</label>
					<select name="attributeId" id="inputAttributeName"
						class="form-control select">
						<option th:each="attribute:${attributeKawamuraList}"
							th:value="${attribute.attributeId}"
							th:text="${attribute.attributeName}"
							th:selected="${attribute.attributeId == penguinInputForm.attributeId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="Comment" class="control-label"
						th:text="#{penguin.text.input.comment}">Comment:</label>
					<input type="text" th:field="*{comment}" class="form-control"
						th:placeholder="#{penguin.text.comment}" />
					<p class="err alert-danger" th:each="err:${#fields.errors('comment')}"
						th:text="#{${err}(#penguin.text.comment)}"></p>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#penguinInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>