<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|ドラマ追加</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/doramaSample.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{dorama.text.insert}">doramaInsert</h1>
				<a th:href="@{/doramasample}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="doramaSampleInputForm"
				th:action="@{/doramasample/insert}" th:object="${doramaSampleInputForm}"
				class="form-horizontal">
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{dorama.text.input.title.riquire}"> Title(*):</label>
					<input type="text" th:field="*{doramaTitle}" class="form-control"
						th:placeholder="#{dorama.text.title}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('doramaTitle')}"
						th:text="#{${err}(#{dorama.text.title})}"></p>
				</div>
				<div class="form-group">
					<label for="genre" class="control-label"
						th:text="#{dorama.text.input.genre}"> Genre:</label>
					<select name="genreId" id="inputGenre"
						class="form-control select">
						<option th:each="genre : ${doramaGenreList}"
								th:value="${genre.id}"
								th:text="${genre.genre}"
								th:selected="${genre.id == doramaSampleInputForm.genreId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="tvStation" class="control-label"
						th:text="#{dorama.text.input.tvstation}"> TVStation:</label>
					<select name="tvStationId" id="inputTvStation"
						class="form-control">
						<option th:each="tvStation : ${tvStationList}"
								th:value="${tvStation.id}"
								th:text="${tvStation.tvStation}"
								th:selected="${tvStation.id == doramaSampleInputForm.tvStationId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="releaseYear" class="control-label"
						th:text="#{dorama.text.input.releaseyear}"> ReleaseYear(必須):</label>
					<input type="text" th:field="*{releaseYearStr}" class="form-control" id="inputReleaseYear"
						th:placeholder="#{dorama.text.releaseyear}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('releaseYearStr')}"
						th:text="#{${err}(#{dorama.text.releaseyear})}"></p>
				</div>
				<div class="form-group">
					<label for="star" class="control-label"
						th:text="#{dorama.text.input.star}"> Star:</label>
					<input type="text" th:field="*{star}"
						class="form-control" id="inputStar"
						th:placeholder="#{dorama.text.star}"/>
				</div>
				<div class="col-xs-3 col-sm-2">
                    <a class="btn btn-success center-block"
                       onclick="$('#doramaSampleInputForm').submit()"
                       th:text="#{common.text.insert}">Insert</a>
                </div>
			</form>
		</div>
	</div>
</body>
</html>