<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修 | 武器データ完全削除</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/weaponHiratsuka.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a>
				<small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="sub-header">
			<h1 align="center" th:text="#{Weapon1.text.delete}">WeaponDelete</h1>
			<a th:href="@{/weaponHiratsuka}" th:text="#{common.text.back}">Back</a>
		</div>

		<!-- 削除対象データ -->
		<form class="form-horizontal" id="deleteForm"
			action="/weaponHiratsuka/deletecomp"
			th:object="${weaponHiratsukaDeleteForm}" method="post">
			<!-- 削除データがある時 -->
			<div th:if="${weaponMainHiratsukaList != null}">
				<h3 th:text="#{common.text.info.delete.confirm}">選択したデータを完全に削除します</h3>
				<h4 th:each="err : ${#fields.errors('deleteIds')}"
					th:text="#{${err}}" class="err alert-danger">error message
				</h4>
			</div>
			<!-- 削除データがないとき -->
			<div th:if="${weaponMainHiratsukaList == null}">
				<h3 th:text="#{common.text.info.no.delete}">削除するデータがありません</h3>
			</div>
			<div th:if="${weaponMainHiratsukaList != null}"
				class="resultArea col-xs-18 col-sm-12 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
				<table id="resultTable" class="table table-borderd table-striped table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="allCheck" /></th>
							<th class="per-19 center" th:text="#{Weapon1.text.name}">Name</th>
							<th class="per-12 center" th:text="#{Weapon1.text.weapontype}">Weapontype</th>
							<th class="per-17 center" th:text="#{Weapon1.text.cost}">Cost</th>
							<th class="per-16 center" th:text="#{Weapon1.text.headdamage.and.bodydamage.and.legdamage}">
								Headdamage/Bodydamage/Legdamage</th>
							<th class="per-40 center" th:text="#{Weapon1.text.rate}">Rate</th>
							<th class="per-17 center" th:text="#{Weapon1.text.shottype}">Shottype</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="weapon : ${weaponMainHiratsukaList}">
							<td>
								<label>
									<input type="checkbox" style="margin-left: 50%" th:field="*{deleteIds}"
										th:value="${weapon.id}" />
								</label>
							</td>

							<!-- 武器名 -->
							<td class="data center" th:text="${weapon.weaponname}">ハボック</td>

							<!-- 武器タイプ -->
							<td class="data center">
								<label th:text="${weapon.weapontype.weapontype}" class="data center">アサルトライフル</label>
							</td>

							<!-- コスト -->
							<td class="data center" th:text="${weapon.cost}">400</td>

							<!-- 頭/胴/脚部ダメージ -->
							<td class="data center">
								<label
									th:if="${weapon.headdamage != null ||weapon.bodydamage != null ||weapon.legdamage != null}"
									th:text="${weapon.headdamage}+'/'+${weapon.bodydamage}+'/'+${weapon.legdamage}+''"
									class="data center">32/18/14
								</label>
							</td>

							<!-- 連射速度 -->
							<td class="data center">
								<label th:if="${weapon.rate != null}" th:text="${weapon.rate}"
									class="data center">11.2
								</label>
								<label th:if="${weapon.rate == null}" th:text="${weapon.rate}"
									class="data center">0.0
								</label>
							</td>

							<!-- 射撃方式 -->
							<td class="data center">
								<label th:text="${weapon.shottype.shottype}" class="data center">フルオート</label>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<a class="btn btn-danger center-block"
						onclick="$('#deleteForm').submit()"
						th:text="#{common.text.delete}">
					</a>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
	<script>
		$('#allCheck').on('change', function() {
			$('input[name=deleteIds]').prop('checked', this.checked);
		});
	</script>
</body>
</html>