@CHARSET "UTF-8";

.dback{
	background-image: url(/bandimage/banddelete.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

#resultTable{
	background-color: #FFFFFF;
}