@CHARSET "UTF-8";

.back{
	background-image: url(/bandimage/band4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
