@charset "UTF-8";

div.container {
	max-width: 95%;
	width: 95%;
	margin: auto;
}

#resultTable{
	background-color: #FFFFFF;
}

#resultTable {
	margin-top: 20px;
}

#resultTable .center {
	text-align: center;
}

#resultTable th.per-14 {
	width: 14%;
}

#resultTable th.per-5 {
	width: 5%;
}

#resultTable th.per-7 {
	width: 7%;
}

#resultTable th.per-20 {
	width: 20%;
}

#resultTable th.per-33 {
	width: 33%;
}

.page-header {
	margin: 0 0 23px;
	padding: 10px;
	border-bottom: 1px solid #666;
	border-color: #e5e5e5;
}

.page-header>h4 {
	margin-left: 40px;
}

.sub-header {
	margin: auto;
	width: 90%;
	font-size: 34px;
	line-height: 40px;
}

.sub-header a {
	font-size: 15px;
	margin: 0 20px;
	float: right;
}

.panel-clear {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 25% 25%;
	font-size: 50px;
	background-color: #000;
	opacity: 0.4;
	color: #FFF;
	text-align: center;
	z-index: 1000;
	display: none;
}