@charset "UTF-8";
body{
	min-height: 100vh;
  	background: linear-gradient(
        45deg,
        rgba(255, 175, 189, 0.7),
        rgba(100, 216, 243, 0.7),
        rgba(234, 236, 198, 0.7),
        rgba(245, 146, 176, 0.7),
        rgba(52, 219, 216, 0.7)
      )
    0 0 / 1000% no-repeat,
    url(/kpopImageTateishi/flower.jpg) 0 0/ cover;
 	animation: gradientAnimation 40s ease infinite;
}

div.container {
	max-width: 95%;
	width: 95%;
	margin: auto;
}

div.search-menu {
	margin-top: 15px;
}

@media ( min-width : 980px) {
	div.search-menu {
		height: 100vh;
	}
}

div.search-menu .btn-group {
	margin-top: 30px;
}

h1, .h1 {
	font-size: 2em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background : rgba(0,0,0,1);
	text-shadow :
		0 0 0.1em rgba(255,255,255,0.05),
		0.01em 0.04em 0.03em rgba(255,255,255,0.4);
	-webkit-background-clip : text;
}

th{
	background-color: #FFCCCC;
}
tr{
	background-color: #ffffff;
}

#resultTable {
	margin-top: 20px;
}

#resultTable .center {
	text-align: center;
}

#resultTable th.per-12 {
	width: 12%;
}

#resultTable th.per-7 {
	width: 7%;
}

#resultTable th.per-16 {
	width: 16%;
}

#resultTable th.per-46 {
	width: 46%;
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group {
	width: 32%;
}

.customUpload .file-upload {
	display: none;
}

.customUpload {
	margin: 10px 0 20px;
}

/*←ヘッダー*/
.page-header {
	margin: 0 0 15px; /*←BACKボタンの位置*/
	padding: 45px; /*←ヘッダーの高さ*/
	border-bottom: 3px solid #666;
	border-color: #FFCCCC; /*←ヘッダーのラインのカラー*/
	background-color: rgba(255,255,255,0.5); /*←ヘッダーのカラー 一番右の数字は透明度の値*/
}

.page-header>h4 {
	margin-left: 40px;

}
.page-header>h5 {
	margin-right: 40px;
	float: right;
}

/*BACKボタン*/
.sub-header {
	margin: auto;
	width: 90%;
	font-size: 34px;
	line-height: 35px;
}

.sub-header p {
	font-size: 20px;
	float: right;
}
.sub-header a {
	font-size: 15px;
	margin: 0 20px;
	padding: 1px 10px;
	float: right;
	color: #999999;
	background: #eee;
	border-radius: 50px;
	transition: .4s;
	border: solid 1px #999999;
}
.sub-header a:hover{
	color: #eee;
	text-decoration: none;
	background: #999999;
	border: solid 1px #eee;
}

/* btn animation ボタンアニメーション*/
.btn-anime{
	display: inline-block;
	padding: 0.5em 1em;
	color: #333333;
	text-align: center;
	font-weight: 550;
	border: dashed 2px #333333;
	background-color: #D7EEFF;
	text-decoration: none;
	transition: .4s;
}
.btn-anime:hover{
	color: #eee;
	border: 2px solid #eee;
}

/* btn color ボタンカラー*/
.btn-color-yellow:hover{
	background-color: #E5B219;
}
.btn-color-red:hover{
	background-color: #CC3333;
}
.btn-color-blue:hover{
	background-color: #3F3FBF;
}
.btn-color-green:hover{
	background-color: #5FBF3F;
}
.btn-wide{
	width: 80%;
}
.btn-narrow{
	width: 30%;
}
.btn-wide2{
	width: 100%
}


.panel-half {
	width: 48%;
	float: left;
	margin: 3px 10px;
}

.panel-clear {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 25% 25%;
	font-size: 50px;
	background-color: #000;
	opacity: 0.4;
	color: #FFF;
	text-align: center;
	z-index: 1000;
	display: none;
}

/*MV　YouTubeの埋め込み*/
.video{
	width:100%;
	position:relative;
	padding-top:56.25%;
	text-align: center;
}
.video iframe{
	top:0;
	left:0;
	width:50%;
	height:100%;
}