@CHARSET "UTF-8";


.dback{
	background-image: url(/RiderSaito/112.png);
    background-position: center 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 43%;
}
}

#resultTable{
	background-color: #FFFFFF;
}
.img {
    width: 200px;  /* 横幅を200pxに */
}
.ff {
	color: #000000;

}
.font{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}
div.container {
	max-width: 95%;
	width: 95%;
	margin: auto;
}

div.search-menu {
	margin-top: 15px;
}

@media ( min-width : 980px) {
	div.search-menu {
		height: 100vh;
	}
}

div.search-menu .btn-group {
	margin-top: 30px;
}

h1 {
	font-size: 36px;
	color: #000000;
}

#resultTable {
	margin-top: 20px;
}

#resultTable .center {
	text-align: center;
}

#resultTable th.per-1 {
	width: 1%;
}

#resultTable th.per-3 {
	width: 3%;
}

#resultTable th.per-5 {
	width: 5%;
}

#resultTable th.per-7 {
	width: 7%;
}

#resultTable th.per-13 {
	width: 13%
}

#resultTable th.per-14 {
	width: 14%
}

#resultTable th.per-15 {
	width: 15%
}

#resultTable th.per-20 {
	width: 20%;
}

#resultTable th.per-20 {
	width: 25%;
}

#resultTable th.per-30 {
	width: 30%;
}

#resultTable th.per-50 {
	width: 50%;
}

#resultTable th.per-100 {
	width: 100%;
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group {
	width: 32%;
}

.customUpload .file-upload {
	display: none;
}

.customUpload {
	margin: 10px 0 20px;
}

.page-header {
	margin: 0 0 23px;
	padding: 10px;
	border-bottom: 1px solid #666;
	border-color: #e5e5e5;
}

.page-header>h4 {
	margin-left: 40px;
}

.sub-header {
	margin: auto;
	width: 90%;
	font-size: 34px;
	line-height: 40px;
}

.sub-header p {
	font-size: 20px;
	float: right;
}

.sub-header a {
	font-size: 15px;
	margin: 0 20px;
	float: right;
}

.panel-half {
	width: 48%;
	float: left;
	margin: 3px 10px;
}

.panel-clear {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 25% 25%;
	font-size: 50px;
	background-color: #000;
	opacity: 0.4;
	color: #FFF;
	text-align: center;
	z-index: 1000;
	display: none;
}

