@CHARSET "UTF-8";

div.container {
  max-width: 800px;
}

span.err {
  color: red;
}

div.result dd {
  margin-bottom: 32px;
}

table.brwsr2 {
  border-spacing: 0;
  border: solid #33f 2px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

table.brwsr2 th {
  border-right: solid #33f 1px;
  padding: 10px;
  background: linear-gradient(#39f, #aaa);
  box-shadow: 2px 2px 4px #FE9 inset;
  color: #FFF;
  text-shadow: 1px 1px 1px #33f;
}

table.brwsr2 td.data {
  border-top: solid #33f 1px;
  border-right: solid #33f 1px;
  padding: 7px
}

table.brwsr2 td.bar {
  border-radius: 0 0 0 3px;
}
