<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|ポケモン更新</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/pokemon.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver γ</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{pokemon.text.update}">ポケモン更新</h1>
				<a th:href="@{/pokemon}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="pokemonInputForm"
				th:action="@{/pokemon/pokemonUpdate}" th:object="${pokemonInputForm}"
				class="form-horizontal">
				<input type="hidden" th:field="*{pokemonId}"/>
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{pokemon.text.input.title.riquire}"> pokemonName(*):</label>
					<input type="text" th:field="*{pokemonName}" class="form-control"
						th:placeholder="#{pokemon.text.title}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('pokemonName')}"
						th:text="#{${err}(#{pokemon.text.title})}"></p>
				</div>
				<div class="form-group">
					<label for="type1" class="control-label"
						th:text="#{pokemon.text.input.type1}">type1:</label>
					<select name="type1Id" id="inputType1"
						class="form-control select">
						<option th:each="type1 : ${type1SatoyoshiList}"
								th:value="${type1.type1Id}"
								th:text="${type1.type1Variation}"
								th:selected="${type1.type1Id == pokemonInputForm.type1Id}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="type2" class="control-label"
						th:text="#{pokemon.text.input.type2}">type2:</label>
					<select name="type2Id" id="inputType2"
						class="form-control select">
						<option th:each="type2 : ${type2SatoyoshiList}"
								th:value="${type2.type2Id}"
								th:text="${type2.type2Variation}"
								th:selected="${type2.type2Id == pokemonInputForm.type2Id}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="appearance" class="control-label"
						th:text="#{pokemon.text.input.appearance}">appearance:</label>
					<select name="appearanceId" id="inputAppearance"
						class="form-control">
						<option th:each="appearance : ${appearanceSatoyoshiList}"
								th:value="${appearance.seriesId}"
								th:text="${appearance.seriesVariation}"
								th:selected="${appearance.seriesId == pokemonInputForm.appearanceId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="releaseYear" class="control-label"
						th:text="#{pokemon.text.input.encyclopedia}">encyclopedia(*):</label>
					<input type="text" th:field="*{encyclopediaId}" class="form-control" id="inputencyclopediaId"
						th:placeholder="#{pokemon.text.encyclopedia}"/>
					
				</div>
				<div class="form-group">
					<label for="comment" class="control-label"
						th:text="#{pokemon.text.input.comment}"> Comment:</label>
						<!-- cols="" テキストボックスの横幅を20にする -->
					<textarea th:field="*{comment}" cols="" rows="5"
						class="form-control" id="inputComment"
						th:placeholder="#{pokemon.text.comment}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2"><!--ここのonclickの中身をid=""の中身と一致させる-->
					<a class="btn btn-success center-block"
						onclick="$('#pokemonInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>