<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|楽曲追加</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/kpopTateishi.css}" />
<body>
	<section id="body">

		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
					</h4>
	<!-- 楽曲サイトのアイコンとリンク先  target="_blank"で新しいタブで開くようにしている-->
		<h5>
		楽曲サイト　
		<a href="https://www.youtube.com/" target="_blank"><img class="image" th:src="@{/kpopImageTateishi/YouTube.png}" width="35"></img> Youtube</a>　
		<a href="https://www.spotify.com/jp/premium/" target="_blank"><img class="image" th:src="@{/kpopImageTateishi/Spotify.png}" width="35"></img> Spotify</a>　
		<a href="https://www.apple.com/jp/apple-music/" target="_blank"><img class="image" th:src="@{/kpopImageTateishi/AppleMusic.jpg}" width="30"></img> Apple Music</a>　
		<a href="https://music.line.me/about/" target="_blank"><img class="image" th:src="@{/kpopImageTateishi/LINEMUSIC.png}" width="30"></img> LINE MUSIC</a>
		</h5>

		</div>
					<div class="sub-header">
				<h1 align="center" th:text="#{music.text.insert}">MusicInsert</h1>
				<a  th:href="@{/kpoptateishi}" th:text="#{common.text.back}">Back</a>
				<h1> </h1>
			</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
		<h1> </h1>
			<!-- 入力欄 -->
			<form method="post" id="kpopTateishiInputForm"
				th:action="@{/kpoptateishi/insert}" th:object="${kpopTateishiInputForm}"
				class="form-horizontal">
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{music.text.input.title.riquire}"> Title(*):</label>
					<input type="text" th:field="*{musicTitle}" class="form-control"
						th:placeholder="#{music.text.title}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('musicTitle')}"
						th:text="#{${err}(#{music.text.title})}"></p>
				</div>
				<div class="form-group">
					<label for="idol" class="control-label"
						th:text="#{music.text.input.idol}"> Idol:</label>
					<select name="idolId" id="inputIdol"
						class="form-control select">
						<option th:each="idol : ${idolList}"
								th:value="${idol.id}"
								th:text="${idol.idol}"
								th:selected="${idol.id == kpopTateishiInputForm.idolId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="office" class="control-label"
						th:text="#{music.text.input.office}"> Office:</label>
					<select name="officeId" id="inputOffice"
						class="form-control">
						<option th:each="office : ${officeList}"
								th:value="${office.id}"
								th:text="${office.office}"
								th:selected="${office.id == kpopTateishiInputForm.officeId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="releaseYear" class="control-label"
						th:text="#{music.text.input.releaseyear}"> ReleaseYear(必須):</label>
					<input type="text" th:field="*{releaseYearStr}" class="form-control" id="inputReleaseYear"
						th:placeholder="#{music.text.releaseyear}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('releaseYearStr')}"
						th:text="#{${err}(#{music.text.releaseyear})}"></p>
				</div>
				<div class="form-group">
					<label for="musicTime" class="control-label"
						th:text="#{music.text.input.musictime}"> MusicTime:</label>
					<input type="text" th:field="*{musicTimeStr}" class="form-control" id="inputMusicTime"
						th:placeholder="#{music.text.musictime}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('musicTimeStr')}"
						th:text="#{${err}(#{music.text.musictime})}"></p>
				</div>
				<div class="form-group">
					<label for="mvUrl" class="control-label"
						th:text="#{music.text.input.mvUrl}"> MvUrl:</label>
					<textarea th:field="*{mvUrl}" cols="" rows="5"
						class="form-control" id="inputMvUrl"
						th:placeholder="#{music.text.mvUrl}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
                    <a class="btn btn-anime btn-color-green btn-wide"
                       onclick="$('#kpopTateishiInputForm').submit()"
                       th:text="#{common.text.insert}">Insert</a>
                       <h4> </h4>
                </div>
			</form>
		</div>

</section>
</body>
</html>