<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修 | 本完全削除</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/novelMiyamoto.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="sub-header">
			<h1 align="center" th:text="#{book.text.delete}">BookDelete</h1>
			<a th:href="@{/novelmiyamoto}" th:text="#{common.text.back}">Back</a>
		</div>

		<!-- 削除対象データ -->
		<form class="form-horizontal" id="deleteForm" action="/novelmiyamoto/deletecomp"
			th:object="${novelDeleteForm}" method="post">
			<div th:if="${bookMainMiyamotoList != null}">
				<h3 th:text="#{common.text.info.delete.confirm}">選択したデータを完全に削除します</h3>
				<h4 th:each="err : ${#fields.errors('deleteIds')}" th:text="#{${err}}"
					class="err alert-danger">error message</h4>
			</div>
			<div th:if="${bookMainMiyamotoList == null}">
				<h3 th:text="#{common.text.info.no.delete}">削除するデータがありません</h3>
			</div>
			<div th:if="${bookMainMiyamotoList != null}" class="resultArea col-xs-18 col-sm-12 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
				<table id="resultTable" class="table table-borderd table-striped table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="allCheck"/></th>
							<th class="per-19 center" th:text="#{book.text.title}">Title</th>
							<th class="per-12 center" th:text="#{book.text.genre}">Genre</th>
							<th class="per-17 center" th:text="#{book.text.author}">Author</th>
							<th class="per-16 center" th:text="#{book.text.year.and.page}">page</th>
							<th class="per-40 center" th:text="#{book.text.comment}">Comment</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="book : ${bookMainMiyamotoList}">
							<td>
								<label>
									<input type="checkbox" style="margin-left: 50%" th:field="*{deleteIds}"
										th:value="${book.id}"/>
								</label>
							</td>
							<td class="data center" th:text="${book.bookTitle}">こころ</td>
							<td class="data center">
								<label th:if="${book.genreMiyamoto != null}" th:text="${book.genreMiyamoto.genreName}" class="data center">長編小説</label>
							</td>
							<td class="data center">
								<label th:if="${book.authorMiyamoto != null}" th:text="${book.authorMiyamoto.authorName}" class="data center">夏目漱石</label>
							</td>
							<td class="data center">
								<label th:if="${book.page != null}" th:text="${book.year}+'年/'+${book.page}+'分'" class="data center">1914年/358ページ</label>
								<label th:if="${book.page == null}" th:text="${book.year}+'年'" class="data center">1914年/358ページ</label>
							</td>
							<td class="data center" th:text="${book.comment}">読んだはずですが忘れました</td>
						</tr>
					</tbody>
				</table>
				<div>
					<a class="btn btn-danger center-block"
						onclick="$('#deleteForm').submit()"
						th:text="#{common.text.delete}">
					</a>
				</div>
			</div>
		</form>
	</div>
	<script type="text/javascript"  src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>
	<script>
		$('#allCheck').on('change', function(){
			$('input[name=deleteIds]').prop('checked', this.checked);
		});
	</script>
</body>
</html>