<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/riderSaito.css}" />

<title>Webアプリ研修|仮面ライダー検索</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />

</head>

<body class="dback">
<div class="shutter"></div>

	<div class="page-header">
		<h4>
			<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a>
			<small th:text="#{login.text.version}">ver β</small>
		</h4>
	</div>
	<div class="sub-header">
		<a th:href="@{/menu}" th:text="#{common.text.back}">Back</a><br/>
		<h1 align="center" th:text="#{rider.text.search}">RiderSearch</h1>
	</div>

	<!--  新規・削除ボタン -->
	<div style="position: relative; left:30px">
		<form class="form-horizontal" id="deleteCompForm" method="get"
			action="/ridersaito/deletecomp" th:object="${riderSaitoSearchForm}">
			<div class="form-group">
				<div class="col-sm-8">
					<input type="hidden" name="isDelete" th:value="1" />
				</div>
			</div>
		</form>
		<div class="form-group">
			<div class="">
				<a class="btn btn-warning" th:href="@{/ridersaito/insert}"
					th:text="#{common.text.new}">New</a>
				<a class="btn btn-danger"
					onclick="$('#deleteCompForm').submit()"
					th:text="#{common.text.unnecessary}">UnnecessaryData</a>
			</div>
		</div>
	</div>
	<div class="container">

		<!-- メッセージ -->
		<div class="row">
			<div class="col-sm-offset-3 col-sm-7">

				<!-- 検索結果なし -->
				<div class="alert alert-info text-center" role="alert"

					th:if="${(riderSaitoSearchForm.riderName !=null or
					riderSaitoSearchForm.ageId !=null)
					and riderList == null}"

					th:text="#{common.text.info.search}">No Result</div>

				<!--  DB操作後 -->
				<div class="alert alert-info text-center" role="alert"
					th:if="${param.result != null}">
					<div th:switch="${param.result[0]}">
						<p th:case="insert" th:text="#{common.text.info.insert} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="update" th:text="#{common.text.info.update} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="updatefailed" th:text="#{common.text.info.update.failed}"></p>
						<p th:case="delete" th:text="#{common.text.info.delete} + ':ID=' + ${param.id[0]}"></p>
						<p th:case="deletecomp" th:text="#{common.text.info.deletecomp}"></p>
				</div>
			</div>
		</div>
	</div>

		<!--  検索条件 -->
		<form class="form-horizontal" id="searchForm" method="post"
			action="/ridersaito/search" th:object="${riderSaitoSearchForm}">

			<div class="form-group">
				<label for="riderSaito" class="col-sm-2 control-label"
				 	th:text="#{rider.text.input.ridername}">ridername:</label>
				 <div class="col-sm-8">
				 	<input type="text" th:field="*{riderName}" class="form-control"
				 		id="inputRiderName" th:placeholder="#{rider.text.search.info}"/>
				 </div>
			</div>

			<div class="form-group">
				<label for="age" class="control-label col-sm-2 "
					th:text="#{rider.text.input.age}"> age: </label>
				<div class="col-sm-8">
					<select id="inputAge" name="ageId" class="form-control select">
						<option th:each="age : ${ageSaitoList}" th:value="${age.ageId}"
							th:text="${age.age}"
							th:selected="${age.ageId == riderSaitoSearchForm.ageId}">pulldown</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="actor" class="col-sm-2 control-label"
				 	th:text="#{rider.text.input.actor}">actor:</label>
				 <div class="col-sm-8">
				 	<input type="text" th:field="*{actor}" class="form-control"
				 		id="inputActor" th:placeholder="#{rider.text.search.info}"/>
				 </div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-xs-3 col-sm-2">
					<a class="btn btn-primary center-block"
						onclick="$('#searchForm').submit()"
						th:text="#{common.text.search}">Search</a>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-warning center-block" th:href="@{/ridersaito}"
						th:text="#{common.text.reset}">Reset</a>
				</div>
			</div>
		</form>

		<!--  検索結果の表示 -->
		<section id="resultArea" th:if="${riderList != null}">
			<table id="resultTable" class="table table-borderd table-striped table-hover">
				<thead>
					<tr>
						<th class="per-13 center" th:text="#{rider.text.ridername}">riderName</th>
						<th class="per-15 center" th:text="#{rider.text.age}">age</th>
						<th class="per-15 center" th:text="#{rider.text.actor}">actor</th>
						<th class="per-30 center" th:text="#{rider.text.serif}">serif</th>
						<th class="per-45 center" th:text="#{yuru.text.img}">img</th>
						<th class="per-1 center" th:text="#{common.text.update}">Update</th>
						<th class="per-1 center" th:text="#{common.text.delete}">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="RiderSaito : ${riderList}">

						<td class="data center" th:text="${RiderSaito.riderName}">仮面ライダー1号</td>

						<td class="data center">
						<label th:if="${RiderSaito.ageSaito != null}"
							th:text="${RiderSaito.ageSaito.age}" class="data center">年代</label>
						</td>

					   <td class="data center" th:text="${RiderSaito.actor}">俳優</td>

						<td class="data center" th:text="${RiderSaito.Serif}">セリフ</td>

						<td class="data center" ><img th:src="@{${RiderSaito.Img}}" width="180"></img></td>

						<td class="data"><a class="btn btn-success"
							th:href="@{/ridersito/update(id=${RiderSaito.riderId})}"
							th:text="#{common.text.update}">Update</a></td>

						<td class="data center">
							<a class="btn btn-danger" style="margin-left: 5%"
								data-toggle="modal" data-target="#deleteModal"
								th:text="#{common.text.delete}"
								th:attr="data-id=${RiderSaito.riderId}, data-name=${RiderSaito.riderName}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<!--  ページング用  -->
		<div th:fragment='paginationbar'>
			<p th:if="${page != null}">
			<ul>
				<li th:class="${page.first} ? 'disabled':''" style="display:inline">
					<span th:if="${page.first}" th:text="#{common.text.paging.lead}">←lead</span>
					<a th:if="${not page.first}" onclick="$('#pageForm0').submit()"
					th:text="#{common.text.paging.lead}">←lead</a>
				</li>
				<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
					th:class="(${i}==${page.number})? 'active' : ''"
					style="display: inline">
					<form th:id="'pageForm'+${i}" method="post"
						th:action="@{${url}(page=${i})}"
						th:object="${riderSaitoSearchForm}" style="display: inline">
						<input type="hidden" th:field="*{riderName}" />
						<input type="hidden" th:field="*{ageId}" />
						<input type="hidden" th:field="*{actor}" />
					</form>

					<span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
					<a th:if='${i}!=${page.number}'
						th:onclick="'$(\'#pageForm'+${i}+'\').submit()'">
					<span th:text='${i+1}'>1</span>
					</a>
					</li>
					<li th:class="${page.last} ? 'disabled':''" style="display:inline">
						<span th:if="${page.last}" th:text="#{common.text.paging.end}">end→</span>
						<a th:if="${not page.last}"
						th:onclick="'$(\'#pageForm'+(${page.totalPages}-1)+'\').submit()'"
						th:text="#{common.text.paging.end}">end→</a>
					</li>
				</ul>
			</p>
		</div>
	</div>

	<!-- 削除モーダル -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
		<div class="modal-dialog" role="document">
			<form class="form-horizontal" id="deleteForm" th:method="get" th:action="@{delete}" accept-charset="UTF-8">
				<div class="modal-content">
					<input type="hidden" id="deleteId" name="id"/>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="deleteModalLabel"
							th:text="#{rider.text.delete}">RiderDelete</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<p class="lead">
									<span id="deleteName">RiderName</span>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="alert alert-danger" role="alert">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									<span th:text="#{common.text.warn.delete(#{menu.text.rider})}"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default"
							th:text="#{common.text.cansel}"
							data-dismiss="modal">Cancel
						</a>
						<a class="btn btn-danger" onclick="$('#deleteForm').submit()"
							th:text="#{common.text.delete}">Delete
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="bogoCount" class="panel-clear"></div>

	<script type="text/javascript"  src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script th:src="@{/libs/jquery/jquery.js}"></script>
	<script th:src="@{/libs/bootstrap/js/bootstrap.js}"></script>

	<!-- 削除モーダル用スクリプト -->
	<script>
		$('#deleteModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var riderId = button.data('id');
			var riderName = button.data('name');
			var modal = $(this);
			modal.find('#deleteId').attr("value", riderId);
			modal.find('#deleteName').text(riderName);
		});
	</script>
</body>
</html>