<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|仮面ライダー更新</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/riderSaito.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{rider.text.update}" >仮面ライダー更新</h1>
				<a th:href="@{/ridersaito}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="riderSaitoInputForm"
				th:action="@{/ridersaito/update}" th:object="${riderSaitoInputForm}"
				class="form-horizontal">
				<input type="hidden" th:field="*{riderId}"/>
				<div class="form-group">

					<label for="riderName" class="control-label"
						th:text="#{rider.text.input.ridername}"> Name(*):</label>
					<input type="text" th:field="*{riderName}" class="form-control"
						th:placeholder="#{rider.text.ridername}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('riderName')}"
						th:text="#{${err}(#{rider.text.ridername})}"></p>
				</div>
				<div class="form-group">
					<label for="age" class="control-label"
						th:text="#{rider.text.input.age}">Age(*):</label>
					<select name="ageId" id="inputAge"
						class="form-control select">
						<option th:each="age : ${ageSaitoList}"
								th:value="${age.ageId}"
								th:text="${age.age}"
								th:selected="${age.ageId == riderSaitoInputForm.ageId}">pulldown</option>
					</select>
				</div>
			<div class="form-group">
					<label for="actor" class="control-label"
						th:text="#{rider.text.input.actor}"> Actor(*):</label>
					<textarea th:field="*{actor}" cols="" rows="5"
						class="form-control" id="inputActor"
						th:placeholder="#{rider.text.actor}"></textarea>
				</div>

				<div class="form-group">
					<label for="serif" class="control-label"
						th:text="#{rider.text.input.serif}"> Serif:</label>
					<textarea th:field="*{serif}" cols="" rows="5"
						class="form-control" id="inputSerif"
						th:placeholder="#{rider.text.serif}"></textarea>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#riderSaitoInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>