<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Webアプリ研修|選手更新</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/spring_training.css}" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/playerShiono.css}" />
<body>
	<div class="container">
		<div class="page-header">
			<h4>
				<a th:href="@{/}" th:text="#{login.text.app}">研修Webアプリ</a><small th:text="#{login.text.version}">ver β</small>
			</h4>
		</div>
		<div class="resultArea col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
			<div class="sub-header">
				<h1 align="center" th:text="#{player.text.update}">選手更新</h1>
				<a th:href="@{/playershiono}" th:text="#{common.text.back}">Back</a>
			</div>

			<!-- 入力欄 -->
			<form method="post" id="playerShionoInputForm"
				th:action="@{/playershiono/update}" th:object="${playerShionoInputForm}"
				class="form-horizontal">
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group">
					<label for="name" class="control-label"
						th:text="#{player.text.input.name.riquire}"> Name(*):</label>
					<input type="text" th:field="*{playerName}" class="form-control"
						th:placeholder="#{player.text.name}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('playerName')}"
						th:text="#{${err}(#{player.text.name})}"></p>
				</div>
				<div class="form-group">
					<label for="genre" class="control-label"
						th:text="#{player.text.input.national}">National:</label>
					<select name="nationalId" id="inputNational"
						class="form-control select">
						<option th:each="national : ${nationalShionoList}"
								th:value="${national.id}"
								th:text="${national.national}"
								th:selected="${national.id == playerShionoInputForm.nationalId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="team" class="control-label"
						th:text="#{player.text.input.team}">Team:</label>
					<select name="teamId" id="inputTeam"
						class="form-control">
						<option th:each="team : ${teamShionoList}"
								th:value="${team.id}"
								th:text="${team.team}"
								th:selected="${team.id == playerShionoInputForm.teamId}">pulldown</option>
					</select>
				</div>
				<div class="form-group">
					<label for="birthDay" class="control-label"
						th:text="#{player.text.input.birthday}">BirthDay:</label>
					<input type="text" th:field="*{birthDay}" class="form-control" id="inputBirthDay"
						th:placeholder="#{player.text.birthday}"/>
					<p class="err alert-danger" th:each="err : ${#fields.errors('birthDay')}"
						th:text="#{${err}(#{player.text.birthday})}"></p>
				</div>
				<div class="form-group">
					<label for="positionName" class="control-label"
						th:text="#{player.text.input.position}"> Position:</label>
					<input type="text" th:field="*{positionName}" class="form-control" id="inputPositionName"
						th:placeholder="#{player.text.position}" />
					<p class="err alert-danger" th:each="err : ${#fields.errors('positionName')}"
						th:text="#{${err}(#{player.text.position})}"></p>
				</div>
				<div class="col-xs-3 col-sm-2">
					<a class="btn btn-success center-block"
						onclick="$('#playerShionoInputForm').submit()"
						th:text="#{common.text.update}">Update</a>
				</div>
				<input type="hidden" th:field="*{updateDate}" />
			</form>
		</div>
	</div>
</body>
</html>